<%= form_for @question do |f| %>


    <div class="field">
      <%= f.label :statement %>
      <textarea id="tinymce4" name="tinymce4" rel="tinymce" rows="9" cols="20" autofocus="yes"><%=raw @question.statement %></textarea>
    </div>

    <div class="field">
      <%= label_tag :answer %>
      <%= text_field_tag :answer, @question.options.last.statement , :required => true  %>
    </div>

    <div class="field">
      <%= f.label :detail_answer %>
      <textarea id="tinymce5" name="tinymce5" rel="tinymce" rows="9" cols="20" ><%=@question.description %></textarea>
    </div>

    <div class="field">
      <%= f.label :instruction %>
      <%= f.text_area :instruction,:value => @question.instruction, :size => '4x4' %>
    </div>

    <div class="field">
      <%= f.label :source %>
      <%= f.text_field :source,:value => @question.source %>
    </div>


<!--
    <div class="field">
      < %= f.label :topic %><br />
      <select id="topic" name="topic">
        < % @topics.each do |topic|%>
            < % if @topic.id == topic.id %>
                <option selected value="< %=topic.id %>">< %=topic.name %></option>
            < % else %>
                <option value="< %=topic.id %>">< %=topic.name %></option>
            < % end %>

        < % end %>
      </select>
    </div>
-->

    <div class="field">
      <%= f.label :author, "Data Entered By" %>
      <%= f.text_field :author, value: current_user.email, :disabled => true %>
    </div>

    <% unless current_user.is_operator? %>

        <div class="field">
      <%= f.label :Difficulty %>
      <select id="difficulty" name="difficulty">
        <option <%='selected' if @question.difficulty == 1 %> value="1">Easy</option>
        <option <%='selected' if @question.difficulty == 2 %> value="2">Moderate</option>
        <option <%='selected' if @question.difficulty == 3 %> value="3">Hard</option>

      </select>
    </div>

    <% end %>


    <div class="field">
      <%= label_tag :pastPaperFlag, "Past Paper?" ,:style=>"display: inline-block;" %>
      <%unless @question.past_paper_history.nil? %>
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()" checked>Yes
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" >No
      <% else %>
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()" >Yes
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" checked >No
      <% end %>


    </div>
        <%= render 'pastPaperHistoryEdit' %>



    <%=hidden_field_tag :course_id, @course_id %>
    <%=hidden_field_tag :type_ques, 'blank' %>

    <%= hidden_field_tag :boards,@boards %>
    <%= hidden_field_tag :degrees,@degrees %>
    <%= hidden_field_tag :view, @view%>


    <%= hidden_field_tag :course_linking_id, @course_linking_id%>



    <div class="actions">
      <%= f.submit class: 'btn btn-large btn-inverse ' %>
    </div>
<% end %>



<script type="text/javascript">

    $("document:ready", function() {

        <% unless @question.past_paper_history.nil? %>
        $("#past_paper_history_div").show();
        <% else %>
        $("#past_paper_history_div").hide();
        <% end %>


        tinymce.execCommand('mceRemoveControl',true,'tinymce4');
        tinymce.execCommand('mceAddControl',true,'tinymce4');

        $("[rel=tinymce]").tinymce({
            theme: "modern",
            menubar: false,
            statusbar: false,
            toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,|,uploadimage,",
            pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
            plugins: ["uploadimage,paste"],
            paste_auto_cleanup_on_paste : true,
            relative_urls: false,
            remove_script_host: false,
            document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/"
        });


    });

    function show_div(){
        //alert("show");
        $("#past_paper_history_div").show();
    }

    function hide_div(){
        //alert("hide");
        $("#past_paper_history_div").hide();
    }
</script>