<table class="table table-condensed topic_table">
  <thead>
  <tr>
    <th><%=get_course_board_tab(@course_linking.course_3) %></th>
    <th><%=get_course_board_tab(@course_linking.course_2) %></th>
    <th><%=get_course_board_tab(@course_linking.course_1) %></th>
    <th><%=get_course_board_tab(@course_linking.course_4) %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%=get_course_degree_tab(@course_linking.course_3) %></td>
    <td><%=get_course_degree_tab(@course_linking.course_2) %></td>
    <td><%=get_course_degree_tab(@course_linking.course_1) %></td>
    <td><%=get_course_degree_tab(@course_linking.course_4) %></td>
  </tr>

  <tr>
    <td><%=get_course_name_tab(@course_linking.course_3) %></td>
    <td><%=get_course_name_tab(@course_linking.course_2) %></td>
    <td><%=get_course_name_tab(@course_linking.course_1) %></td>
    <td><%=get_course_name_tab(@course_linking.course_4) %></td>
  </tr>
  </tbody>
</table>