<%= form_for @question, :html => {:multipart=> true, :id =>"form_id", :onsubmit => "return checkForm(this)"} do |f| %>



      <div class="field">
        <%= f.label :statement %>
        <%= f.cktext_area :statement, id:"tinymce4", rows:"9", cols:"20", value: @question.statement %>
      </div>
    <div class="field" style="display: none">
      <%= label_tag :answer %>
      <%= cktext_area_tag :answer,raw(@question.options.last.statement) %>
    </div>

    <div class="field">
      <%= f.label :detail_answer, style:"display: inline-block; vertical-align: sub;" %>
      <%= cktext_area_tag :detail_answer,@question.description %>
    </div>

    <div class="field">
      <%= f.label :instruction, style:"display: inline-block; vertical-align: sub;" %>
      <%= f.text_area :instruction,:value => @question.instruction, :size => '4x4' %>
    </div>

    <div class="field">
      <%= f.label :marks, style:"display: inline-block; vertical-align: sub;" %><br>
      <%= f.text_field :marks, :size => 4 %>
    </div>

    <div class="field">
      <%= f.label :source %>
      <%= f.text_field :source,:value => @question.source %>
    </div>




    <!--
        <div class="field">
          < %= f.label :topic %><br />
          <select id="topic" name="topic">
            < % @topics.each do |topic|%>
                < % if @topic.id == topic.id %>
                    <option selected value="< %=topic.id %>">< %=topic.name %></option>
                < % else %>
                    <option value="< %=topic.id %>">< %=topic.name %></option>
                < % end %>

            < % end %>
          </select>
        </div>
    -->

    <div class="field">
      <%= f.label :author, "Data Entered By" %>
      <%= f.text_field :author, value: current_user.email, :disabled => true %>
    </div>


    <% unless current_user.is_operator? %>
        <div class="field">
        <%= f.label :Difficulty %>
        <select id="difficulty" name="difficulty">
            <option <%='selected' if @question.difficulty == 1 %> value="1">Easy</option>
            <option <%='selected' if @question.difficulty == 2 %> value="2">Moderate</option>
            <option <%='selected' if @question.difficulty == 3 %> value="3">Hard</option>
        </select>
        </div>

    <% end %>

    <div class="field">
      <%= label_tag :pastPaperFlag, "Past Paper?" ,:style=>"display: inline-block;" %>
      <%unless @question.past_paper_history.nil? %>
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()" checked>Yes
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" >No
      <% else %>
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()" >Yes
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" checked >No
      <% end %>


    </div>

    <%= render 'pastPaperHistoryEdit' %>

    <%=hidden_field_tag :type_ques, 'des' %>

    <%=hidden_field_tag :course_id1, @course_id %>
    <%= hidden_field_tag :boards,@boards %>
    <%= hidden_field_tag :degrees,@degrees %>
    <%= hidden_field_tag :view, @view%>


    <%= hidden_field_tag :course_linking_id, @course_linking_id%>


    <div class="actions">
      <%= f.submit class: 'btn btn-large btn-inverse' %> |
      <%= link_to 'Back', question_path(@question.id), :class => 'btn btn-md btn-inverse ' %>
    </div>
<% end %>



<script type="text/javascript">

    $("document:ready", function() {

        <% unless @question.past_paper_history.nil? %>
        $("#past_paper_history_div").show();
        <% else %>
        $("#past_paper_history_div").hide();
        <% end %>

        $("[rel=tinymce]").tinymce({
            theme: "modern",
            menubar: false,
            statusbar: false,
            toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,selectall,|,uploadimage",
            pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
            plugins: ["uploadimage"],
            relative_urls: false,
            remove_script_host: false,
            document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/"
        });


    });
    function checkForm(form)
    {
        var past_paper_histories=""
        a=$("#course_id").val();
        b = $('input[name="ques_no"]' , '#form_id').val();
        c = $('input[name="session"]:checked' , '#form_id').val();
        d = $("#year").val();
        e = $('input[name="varient"]', '#form_id').val();
        past_paper_histories += a+","+b+","+c+","+d+","+e
        var $form = $('#form_id');
        var serializedData = $form.serialize();

        var retValue = false;
        $.ajax({
            url:'/questions/past_paper_history_param_edit?past_paper_h='+past_paper_histories + "&id="+<%=@question.id %>,
            type:'get',
            data: serializedData,
            async:false,
            success:function (response) {
                if (response)
                {
                    retValue = true;
                }
            },
            error:function (data) {
                alert ("Error Occurred");
            }

        });
        if (retValue)
        {
            alert("Past paper question has already been added.")
            return false;
        }
    }
        function show_div(){
            //alert("show");
            $("#past_paper_history_div").show();
        }

        function hide_div(){
            //alert("hide");
            $("#past_paper_history_div").hide();
        }
</script>