<table class="table table-condensed topic_table">
  <thead>


  <tr>

    <td>
      <% unless @course_linking.course_3.nil? %>
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_3)).board_degree_assignments.each do |f| %>
              <%= Degree.find(f.degree_id).name %>
          <% end %>
      <% end %>
    </td>

    <td>
      <% unless @course_linking.course_2.nil? %>
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_2)).board_degree_assignments.each do |f| %>
              <%= Degree.find(f.degree_id).name %>
          <% end %>
      <% end %>
    </td>

    <td>
      <% unless @course_linking.course_1.nil? %>
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_1)).board_degree_assignments.each do |f| %>
              <%= Degree.find(f.degree_id).name %>
          <% end %>
      <% end %>
    </td>

    <td>
      <% unless @course_linking.course_4.nil? %>
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_4)).board_degree_assignments.each do |f| %>
              <%= Degree.find(f.degree_id).name %>
          <% end %>
      <% end %>
    </td>

  </tr>




  <tr>
    <th><%=get_course_name_tab(@course_linking.course_3) %></th>
    <th><%=get_course_name_tab(@course_linking.course_2) %></th>
    <th><%=get_course_name_tab(@course_linking.course_1) %></th>
    <th><%=get_course_name_tab(@course_linking.course_4) %></th>
  </tr>

  </thead>

  <tbody>
  <tr>
    <td>
      <% unless @course_linking.course_3.nil? %>
          <!--<%= select_tag "topic_linking[topic_3]",options_for_select(@topics_3.map{|x| [x.name,x.id]}),prompt: "select topic",class: 'topic_select' %>-->
          <select name="topic_linking[topic_3]" id="topic_linking_topic_3" class="topic_select">
            <option value="">select topic</option>
            <%@topics_3.each do |x| %>
                <% if x.parent_topic_id.nil? %>
                    <option value="<%=x.id%>"><%=x.name%></option>
                <% else %>
                    <option value="<%=x.id%>">--- <%=x.name%></option>
                <% end %>
            <% end %>
          </select><span id="topics_count_3">(n)</span>
      <% end %>
    </td>
    <td>
      <% unless @course_linking.course_2.nil? %>
          <!--<%= select_tag "topic_linking[topic_2]",options_for_select(@topics_2.map{|x| [x.name,x.id]}),prompt: "select topic",class: 'topic_select' %>-->
          <select name="topic_linking[topic_2]" id="topic_linking_topic_2" class="topic_select">
            <option value="">select topic</option>
            <%@topics_2.each do |x| %>
                <% if x.parent_topic_id.nil? %>
                    <option value="<%=x.id%>"><%=x.name%></option>
                <% else %>
                    <option value="<%=x.id%>">--- <%=x.name%></option>
                <% end %>
            <% end %>
          </select><span id="topics_count_2">(n)</span>
      <% end %>
    </td>
    <td>
      <% unless @course_linking.course_1.nil? %>
          <!--<%= select_tag "topic_linking[topic_1]",options_for_select(@topics_1.map{|x| [x.name,x.id]}),prompt: "select topic",class: 'topic_select' %>-->
          <select name="topic_linking[topic_1]" id="topic_linking_topic_1" class="topic_select">
            <option value="">select topic</option>
            <%@topics_1.each do |x| %>
                <% if x.parent_topic_id.nil? %>
                    <option value="<%=x.id%>"><%=x.name%></option>
                <% else %>
                    <option value="<%=x.id%>">--- <%=x.name%></option>
                <% end %>
            <% end %>
          </select><span id="topics_count_1">(n)</span>
      <% end %>
    </td>
    <td>
      <% unless @course_linking.course_4.nil? %>
          <!--<%= select_tag "topic_linking[topic_4]",options_for_select(@topics_4.map{|x| [x.name,x.id]}),prompt: "select topic",class: 'topic_select' %>-->
          <select name="topic_linking[topic_4]" id="topic_linking_topic_4" class="topic_select">
            <option value="">select topic</option>
            <%@topics_4.each do |x| %>
                <% if x.parent_topic_id.nil? %>
                    <option value="<%=x.id%>"><%=x.name%></option>
                <% else %>
                    <option value="<%=x.id%>">--- <%=x.name%></option>
                <% end %>
            <% end %>
          </select><span id="topics_count_4">(n)</span>
      <% end %>
    </td>
  </tr>


<!--###################################################################################################################-->



  <tr>
    <td>
      <% unless @course_linking.course_3.nil? %>
          <!--<b>Degrees:</b>-->
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_3)).board_degree_assignments.each do |f| %>
              <label><%=check_box_tag "degree[]",f.degree_id %>Publish</label>
          <% end %>

          <!--<br /><b>Boards:</b>-->
          <!--<%# Course.find_by_name(get_course_name_tab(@course_linking.course_3)).board_degree_assignments.each do |f| %>-->
          <!--<label><%#=check_box_tag "boards[]",f.board_id %><%#= Board.find(f.board_id).name %></label>-->
          <!--<%# end %>-->

      <% end %>
    </td>

    <td>
      <% unless @course_linking.course_2.nil? %>
          <!--<b>Degrees:</b>-->
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_2)).board_degree_assignments.each do |f| %>
              <label><%=check_box_tag "degree[]",f.degree_id %>Publish</label>
          <% end %>

          <!--<br /><b>Boards:</b>-->
          <!--<%# Course.find_by_name(get_course_name_tab(@course_linking.course_2)).board_degree_assignments.each do |f| %>-->
              <!--<label><%#=check_box_tag "boards[]",f.board_id %><%#= Board.find(f.board_id).name %></label>-->
          <!--<%# end %>-->

      <% end %>
    </td>

    <td>
      <% unless @course_linking.course_1.nil? %>
          <!--<b>Degrees:</b>-->
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_1)).board_degree_assignments.each do |f| %>
              <label><%=check_box_tag "degree[]",f.degree_id %>Publish</label>
          <% end %>

          <!--<br /><b>Boards:</b>-->
          <!--<%# Course.find_by_name(get_course_name_tab(@course_linking.course_1)).board_degree_assignments.each do |f| %>-->
          <!--<label><%#=check_box_tag "boards[]",f.board_id %><%#= Board.find(f.board_id).name %></label>-->
          <!--<%# end %>-->

      <% end %>
    </td>

    <td>
      <% unless @course_linking.course_4.nil? %>
          <!--<b>Degrees:</b>-->
          <% Course.find_by_name(get_course_name_tab(@course_linking.course_4)).board_degree_assignments.each do |f| %>
              <label><%=check_box_tag "degree[]",f.degree_id %>Publish</label>
          <% end %>

          <!--<br /><b>Boards:</b>-->
          <!--<%# Course.find_by_name(get_course_name_tab(@course_linking.course_4)).board_degree_assignments.each do |f| %>-->
              <!--<label><%#=check_box_tag "boards[]",f.board_id %><%#= Board.find(f.board_id).name %></label>-->
          <!--<%# end %>-->

      <% end %>
    </td>

  </tr>

  <tr>
    <td>
      <h5 class="labelquestions">Difficulty</h5>
      <%=radio_button_tag "difficulty1[]",1,1 %>EASY
      <%=radio_button_tag "difficulty1[]",2 %>MEDIUM
      <%=radio_button_tag "difficulty1[]",3 %>HARD
      <%#= hidden_field_tag :question_id,@question.id %>
    </td>

    <td>
      <h5 class="labelquestions">Difficulty</h5>
      <%=radio_button_tag "difficulty2[]",1,1 %>EASY
      <%=radio_button_tag "difficulty2[]",2 %>MEDIUM
      <%=radio_button_tag "difficulty2[]",3 %>HARD
      <%#= hidden_field_tag :question_id,@question.id %>
    </td>

    <td>
      <h5 class="labelquestions">Difficulty</h5>
      <%=radio_button_tag "difficulty3[]",1,1 %>EASY
      <%=radio_button_tag "difficulty3[]",2 %>MEDIUM
      <%=radio_button_tag "difficulty3[]",3 %>HARD
      <%#= hidden_field_tag :question_id,@question.id %>
    </td>

    <td>
      <h5 class="labelquestions">Difficulty</h5>
      <%=radio_button_tag "difficulty4[]",1,1 %>EASY
      <%=radio_button_tag "difficulty4[]",2 %>MEDIUM
      <%=radio_button_tag "difficulty4[]",3 %>HARD
      <%#= hidden_field_tag :question_id,@question.id %>
    </td>

    <%#= hidden_field_tag :question_id,@question.id %>

  </tr>



  <!--###################################################################################################################-->



  </tbody>
</table>
<%=hidden_field_tag :course_linking_id,value: @course_linking.id  %>


<script type="text/javascript">

    $(".btm_lnks_a").click(function(e){
        var id = e.target.id;
        var str = "";

        if (id == 'add_next'){
            str = "save_next"
        }
        else if (id == 'add_exit'){
            str = "save_exit"
        }
        else if (id == 'exit'){
            location = "/topic_linkings";
            return;
        }
        else{
            alert("something went wrong");
            return false;
        }
        $("#direction").val(str);
        $("#topic_linking_form").submit();

    });

    $(document).ready(function() {
        var topics_1 = $("#topic_linking_topic_1 option").size()-1
        var topics_2 = parseInt($("#topic_linking_topic_2 option").size())-1
        var topics_3 = parseInt($("#topic_linking_topic_3 option").size())-1
        var topics_4 = parseInt($("#topic_linking_topic_4 option").size())-1
        $("#topics_count_1").text("(" + topics_1 + ")")
        $("#topics_count_2").text("(" + topics_2 + ")")
        $("#topics_count_3").text("(" + topics_3 + ")")
        $("#topics_count_4").text("(" + topics_4 + ")")
    });
</script>