<script>
    var global_option_count = 5;

</script>

<%= form_for :question, :url => questions_path, :html => {:multipart=> true,:id=>"form_id", :onsubmit => "return checkForm(this)"} do |f| %>

    <div class="field">
      <%= f.label :statement %>
      <cktext_area id="textarea" class="textarea" ></cktext_area>
    </div>

    <div class="field">
      <%= check_box_tag :detail_answer_checkbox%><%= f.label :detail_answer, style:"display: inline-block; vertical-align: sub;" %>
      <div id="tinymce-pre">
        <cktext_area id="textarea1" class="textarea" ></cktext_area>
      </div>
      <!--%= f.text_area :description,value: "", size: '5x5' %-->
    </div>
<% i = 1 %>
    <% 7.times{ %>
        <% if i < 5 %>
        <div class="field">
          <%= f.label ('option_' + i.to_s).to_sym , class:'label-inline'%>

          <span id='field_<%=i%>'><%= text_field_tag ('option_' + i.to_s).to_sym, nil,required: true %></span>
          <span style="display: none" id='image_<%=i%>'><%= file_field_tag ('option_image_' + i.to_s).to_sym  %></span>

        <input type="checkbox" id="image_change_<%=i%>" name="image_change_<%=i%>" value="1" onclick="change_field('image_change_<%=i%>','image_<%=i%>','field_<%=i%>',<%=i%>)">
        Image
        <input type="checkbox" id="is_answer_<%=i%>" class="is_answer" name="is_answer_<%=i%>" value="1">
        Is_Answer


        <% i+=1 %>
        </div>
            <% else %>
            <div id="option_div_<%=i%>" class="field" style="display: none">
            <%= f.label ('option_' + i.to_s).to_sym %>
            <input type="checkbox" id="image_change_<%=i%>" name="image_change_<%=i%>" value="1" onclick="change_field('image_change_<%=i%>','image_<%=i%>','field_<%=i%>',<%=i%>)">
            Image
            <input type="checkbox" id="is_answer_<%=i%>" class="is_answer" name="is_answer_<%=i%>" value="1">
            Is_Answer
            <br />
            <span id='field_<%=i%>'><%= text_field_tag ('option_' + i.to_s).to_sym, nil %></span>
            <span style="display: none" id='image_<%=i%>'><%= file_field_tag ('option_image_' + i.to_s).to_sym %></span>
            <% i+=1 %>
            </div>

            <% end %>

    <% } %>

    <input type="button" value="Add Option" class="btn btn-inverse" id="option_add" onclick="add_option()" >
    <input type="button" value="Remove Option" class="btn btn-inverse" style="display: none" id="option_remove" onclick="remove_option()" >

    <div class="field">
      <br /><%= check_box_tag :instruction_checkbox%><%= f.label :instruction, style:"display: inline-block; vertical-align: sub;"%>
      <div id="instruction-pre">
      <%= f.text_area :instruction, :size => '4x4' %>
        </div>
    </div>

    <div class="field">
      <br /><%= f.label :source %>
      <%= f.text_field :source %>
    </div>



    <!--
      <div class="field">
        < %= f.label : topic %><br />
        <select id="topic" name="topic">
          < % @topics.each do |topic|%>
              <option value="< %=topic.id %>">< %=topic.name %></option>
          < % end %>
        </select>
      </div>
  -->

    <div class="field">
      <%= f.label :author, "Data Entered By" %>
      <%= f.text_field :author, value: current_user.email, :disabled => true %>
    </div>


    <!--<%# unless current_user.is_operator? %>-->

        <!--<div class="field">-->
        <!--<%#= f.label :Difficulty %>-->
        <!--<select id="difficulty" name="difficulty">-->
          <!--<option <%#='selected' if @question.difficulty == 1 %> value="1">Easy</option>-->
          <!--<option <%#='selected' if @question.difficulty == 2 %> value="2" selected>Moderate</option>-->
          <!--<option <%#='selected' if @question.difficulty == 3 %> value="3">Hard</option>-->
        <!--</select>-->
        <!--</div>-->

    <!--<%# end %>-->

    <div class="field">
          <%= label_tag :pastPaperFlag, "Past Paper?" ,:style=>"display: inline-block;" %>
      <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()" <%='checked' if @question.past_paper_history %>>Yes
      <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" <%='checked' unless @question.past_paper_history %>>No
    </div>
    <%= render 'pastPaperHistory' %>

    <%#=f.hidden_field :topic_id, value: @topics.first.id  %>
    <%=hidden_field_tag :course_id1, @course_id %>
    <%=f.hidden_field :question_type,:value => '1'  %>
    <%= hidden_field_tag :type_ques,'mcq'  %>
    <%= hidden_field_tag :boards,@boards %>
    <%= hidden_field_tag :degrees,@degrees %>
    <%= hidden_field_tag :view, @view%>


    <%= hidden_field_tag :course_linking_id, @course_linking_id%>


    <input type="hidden" id="count_option" name="count_option" value="4">
    <div class="actions">
      <%= f.submit class: 'btn btn-large btn-inverse onclick_s' %>
    </div>
<% end %>

<script>

  $(document).ready(function(){
        $("#detail_answer_checkbox").prop('checked', false);
      $("#tinymce-pre").hide();
      $("#detail_answer_checkbox").on('change', function(){
              $("#tinymce-pre").toggle();
      });

      $("#instruction_checkbox").prop('checked', false);
      $("#instruction-pre").hide();
      $("#instruction_checkbox").on('change', function(){
          $("#instruction-pre").toggle();
      });

  });

  function change_field(box_id, span_id,field_id,id)
  {
     // alert(box_id +"-"+ span_id)
    box = document.getElementById(box_id)
      if(box.checked){

        $('#'+span_id).show();
          $('#option_image_'+id).prop('required',true);
          $('#option_'+id).removeAttr('required');
          $('#'+field_id).hide();
      }
      else{
          $('#'+span_id).hide();
          $('#'+field_id).show();
          $('#option_image_'+id).removeAttr('required');
          $('#option_'+id).prop('required',true);
      }

  }

    //add optionssss
    function add_option (){
        if (global_option_count == 7)
        {
            $('#option_add').hide();
        }
        if (global_option_count == 5)
        {
            $('#option_remove').show();
        }
        if (global_option_count < 8)
        {
            $("#option_div_"+global_option_count).show();
            document.getElementById("option_"+global_option_count).required = true;
            document.getElementById("count_option").value = global_option_count;
            global_option_count = global_option_count + 1 ;
        }

    }

  function remove_option()
  {
      global_option_count = global_option_count - 1 ;
      $("#option_div_"+global_option_count).hide();
      document.getElementById("option_"+global_option_count).required = false;
      $('#option_'+global_option_count).required = false;
      document.getElementById("count_option").value = global_option_count;
      if (global_option_count == 5) {
          $('#option_add').show();
          $('#option_remove').hide();
      }
      else
      {
          $('#option_add').show();
      }
  }

  $("input:checkbox.is_answer").on('click', function() {
      var $box = $(this);
      if ($box.is(":checked")) {
          var group = "input:checkbox.is_answer";
          $(group).prop("checked", false);
          $box.prop("checked", true);
      } else {
          $box.prop("checked", false);
      }
  });

  function checkForm(form)
  {
      var past_paper_histories=""
      a=$("#course_id").val();
      b = $('input[name="ques_no"]' , '#form_id').val();
      c = $('input[name="session"]:checked' , '#form_id').val();
      d = $("#year").val();
      e = $('input[name="varient"]', '#form_id').val();

      past_paper_histories += a+","+b+","+c+","+d+","+e
      var $form = $('#form_id');
      var serializedData = $form.serialize();

      var retValue = false;
      $.ajax({
          url:'/questions/past_paper_history_param?past_paper_h='+past_paper_histories,
          type:'post',
          data: serializedData,
          async:false,
          success:function (response) {
              if (response)
              {
                  retValue = true;
              }
          },
          error:function (data) {
              alert ("Error Occurred");
          }

      });
      if (retValue)
      {
          alert("Past paper question has already been added.")
          return false;
      }
      box = $("input:checkbox.is_answer:checked");
      if (!box.length) {
          alert('You must check at least one box!');
          $("input:checkbox.is_answer").focus();
          return false; // The form will *not* submit
      }
      else
      {

      }
    return true;
  }


</script>


<script type="text/javascript">

    $("document:ready", function() {
        <% if @question.past_paper_history %>
            $("#past_paper_history_div").show();
        <% else %>
            $("#past_paper_history_div").hide();
        <% end %>


        $("[rel=tinymce]").tinymce({
            theme: "modern",
            menubar: false,
            statusbar: false,
            toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,|,uploadimage,",
            pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
            plugins: ["uploadimage,paste"],
            paste_auto_cleanup_on_paste : true,
            relative_urls: false,
            remove_script_host: false,
            document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/"
        });
    });

    function show_div(){
        //alert("show");
        $("#past_paper_history_div").show();
    }

    function hide_div(){
        //alert("hide");
        $("#past_paper_history_div").hide();
    }
</script>