
<script>
    var global_option_count = 5;

</script>

<%= form_for :question, :url => questions_path, :html => {multipart: true} do |f| %>

    <div class="field">
      <%= f.label :statement %><br />
      <textarea id="tinymce4" name="tinymce4" rel="tinymce" rows="9" cols="20" ></textarea>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description,value: "", size: '5x5' %>
    </div>
<% i = 1 %>
    <% 7.times{ %>
        <% if i < 5 %>
        <div class="field">
          <%= f.label ('option_' + i.to_s).to_sym %>
        <input type="checkbox" id="image_change_<%=i%>" name="image_change_<%=i%>" value="1" onclick="change_field('image_change_<%=i%>','image_<%=i%>','field_<%=i%>',<%=i%>)">
        Image
        <input type="checkbox" id="is_answer_<%=i%>" class="is_answer" name="is_answer_<%=i%>" value="1">
        Is_Answer
        <br />
        <span id='field_<%=i%>'><%= text_field_tag ('option_' + i.to_s).to_sym, nil,required: true %></span>
        <span style="display: none" id='image_<%=i%>'><%= file_field_tag ('option_image_' + i.to_s).to_sym  %></span>
        <% i+=1 %>
        </div>
            <% else %>
            <div id="option_div_<%=i%>" class="field" style="display: none">
            <%= f.label ('option_' + i.to_s).to_sym %>
            <input type="checkbox" id="image_change_<%=i%>" name="image_change_<%=i%>" value="1" onclick="change_field('image_change_<%=i%>','image_<%=i%>','field_<%=i%>',<%=i%>)">
            Image
            <input type="checkbox" id="is_answer_<%=i%>" class="is_answer" name="is_answer_<%=i%>" value="1">
            Is_Answer
            <br />
            <span id='field_<%=i%>'><%= text_field_tag ('option_' + i.to_s).to_sym, nil %></span>
            <span style="display: none" id='image_<%=i%>'><%= file_field_tag ('option_image_' + i.to_s).to_sym %></span>
            <% i+=1 %>
            </div>

            <% end %>

    <% } %>

    <input type="button" value="Add Option" class="btn btn-inverse" id="option_add" onclick="add_option()" >

    <div class="field">
      <%= f.label :instruction %><br />
      <%= f.text_area :instruction, :size => '4x4' %>
    </div>

    <div class="field">
      <%= f.label :source %><br />
      <%= f.text_field :source %>
    </div>



    <div class="field">
      <%= f.label :topic %><br />
      <select id="topic" name="topic">
        <% @topics.each do |topic|%>
            <option value="<%=topic.id %>"><%=topic.name %></option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <%= f.label :author %><br />
      <%= f.text_field :author, value: current_user.email, :disabled => true %>
    </div>

    <div class="field">

    <%= f.label :Difficulty %><br />
    <select id="difficulty" name="difficulty">
      <option value="1">Easy</option>
      <option value="2" selected>Moderate</option>
      <option value="3">Hard</option>

    </select>
    </div>

    <div class="field">
      <%= label_tag :pastPaperFlag %><br />
      <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()">Yes
      <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" checked>No
    </div>


    <%= render 'pastPaperHistory' %>


    <%=hidden_field_tag :course_id, @course_id %>
    <%=f.hidden_field :question_type,:value => '1'  %>
    <%= hidden_field_tag :type_ques,'mcq'  %>
    <%= hidden_field_tag :boards,@boards %>
    <%= hidden_field_tag :degrees,@degrees %>
    <%= hidden_field_tag :view, @view%>


    <input type="hidden" id="count_option" name="count_option" value="4">
    <div class="actions">
      <%= f.submit class: 'btn btn-large btn-inverse ' %>
    </div>
<% end %>

<script>
  function change_field(box_id, span_id,field_id,id)
  {
     // alert(box_id +"-"+ span_id)
    box = document.getElementById(box_id)
      if(box.checked){

        $('#'+span_id).show();
          $('#option_image_'+id).prop('required',true);
          $('#option_'+id).removeAttr('required');
          $('#'+field_id).hide();
      }
      else{
          $('#'+span_id).hide();
          $('#'+field_id).show();
          $('#option_image_'+id).removeAttr('required');
          $('#option_'+id).prop('required',true);
      }

  }

        //add optionssss
        function add_option (){

            //var op_id = "'#option_div_"+<%=@option_count%>+"'" ;
            //alert (op_id);

            $("#option_div_"+global_option_count).show();
            document.getElementById("count_option").value = global_option_count;
            global_option_count = global_option_count + 1 ;

        }
  $("input:checkbox.is_answer").on('click', function() {
      var $box = $(this);
      if ($box.is(":checked")) {
          var group = "input:checkbox.is_answer";
          $(group).prop("checked", false);
          $box.prop("checked", true);
      } else {
          $box.prop("checked", false);
      }
  });


</script>


<script type="text/javascript">

    $("document:ready", function() {

        $("#past_paper_history_div").hide();

        $("[rel=tinymce]").tinymce({
            theme: "modern",
            menubar: false,
            statusbar: false,
            toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,selectall,|,uploadimage",
            pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
            plugins: ["uploadimage"],
            relative_urls: false,
            remove_script_host: false,
            document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/"
        });


    });

    function show_div(){
        //alert("show");
        $("#past_paper_history_div").show();
    }

    function hide_div(){
        //alert("hide");
        $("#past_paper_history_div").hide();
    }
</script>