<script>
    var global_option_count = <%=@question.options.size %>;
</script>

<%= form_for @question, :html => {:multipart=> true, :onsubmit => "return checkForm(this)"} do |f| %>

    <div class="field">
      <%= f.label :statement %>
      <textarea id="tinymce4" name="tinymce4" rel="tinymce" rows="9" cols="20"><%= raw @question.statement %></textarea>
    </div>

    <div class="field">
      <br/><%= f.label :detail_answer, style:"display: inline-block; vertical-align: sub;" %>
      <textarea id="tinymce5" name="tinymce5" rel="tinymce" rows="9" cols="20"><%= @question.description %></textarea>
    </div>
    <% i = 1 %>


    <% i =1 %>
    <% @question.options.each do |option| %>
        <div id="option_div_<%= i %>" class="field">
          <% if option.flag.nil? %>
              <%= f.label ('option_' + i.to_s).to_sym %>
              <% if option.flag.nil? %>
                  <span id='field_<%= i %>'><%= text_field_tag ('option_' + i.to_s).to_sym, option.statement, :required => true %></span>
                  <span style="display: none" id='image_<%= i %>'><%= file_field_tag ('option_image_' + i.to_s).to_sym %></span>
              <% else %>
                  <span style="display: none" id='field_<%= i %>'><%= text_field_tag ('option_' + i.to_s).to_sym, nil %></span>
                  <%= image_tag option.avatar.url(:thumb) %>
                  <span id='image_<%= i %>'><%= file_field_tag ('option_image_' + i.to_s).to_sym %></span>
              <% end %>


              <input type="checkbox" id="image_change_<%= i %>" name="image_change_<%= i %>" value="1" onclick="change_field('image_change_<%=i%>','image_<%=i%>','field_<%=i%>',<%=i%>)">
              Image

          <% else %>
              <%= f.label ('option_' + i.to_s).to_sym %>
              <input type="checkbox" checked id="image_change_<%= i %>" name="image_change_<%= i %>" value="1" onclick="change_field('image_change_<%=i%>','image_<%=i%>','field_<%=i%>',<%=i%>)">
              Image
          <% end %>

          <% if option.is_answer == 0 %>
              <input type="checkbox" id="is_answer_<%= i %>" class="is_answer" name="is_answer_<%= i %>" value="1">
              Is_Answer<br />
          <% else %>
              <input type="checkbox" id="is_answer_<%= i %>" class="is_answer" name="is_answer_<%= i %>" value="1" checked>
              Is_Answer<br />
          <% end %>



          <% i+=1 %>
        </div>

    <% end %>

    <% (8-i).times { %>
        <div id="option_div_<%= i %>" class="field" style="display: none">
          <%= f.label ('option_' + i.to_s).to_sym %>
          <input type="checkbox" id="image_change_<%= i %>" name="image_change_<%= i %>" value="1" onclick="change_field('image_change_<%=i%>','image_<%=i%>','field_<%=i%>',<%=i%>)">
          Image
          <input type="checkbox" id="is_answer_<%= i %>" class="is_answer" name="is_answer_<%= i %>" value="1">
          Is_Answer<br />
          <br/>
          <span id='field_<%= i %>'><%= text_field_tag ('option_' + i.to_s).to_sym, nil %></span>
          <span style="display: none" id='image_<%= i %>'><%= file_field_tag ('option_image_' + i.to_s).to_sym %></span>
          <% i+=1 %>
        </div>

    <% } %>

    <input type="button" value="Add Option" class="btn btn-inverse" id="option_add" onclick="add_option()">
    <input type="button" value="Remove Option" class="btn btn-inverse" style="display: none" id="option_remove" onclick='remove_option(<%= @question.id %>)' >

    <div class="field">
      <br/><%= f.label :instruction, style:"display: inline-block; vertical-align: sub;" %>
      <%= f.text_area :instruction, :value => @question.instruction, :size => '4x4' %>
    </div>

    <div class="field">
      <%= f.label :source %>
      <%= f.text_field :source, :value => @question.source %>
    </div>




    <!--
        <div class="field">
          < %= f.label :topic %><br />
          <select id="topic" name="topic">
            < % @topics.each do |topic|%>
                < % if @topic.id == topic.id %>
                    <option selected value="< %=topic.id %>">< %=topic.name %></option>
                < % else %>
                    <option value="< %=topic.id %>">< %=topic.name %></option>
                < % end %>

            < % end %>
          </select>
        </div>
    -->

    <div class="field">
      <%= f.label :author, "Data Entered By" %>
      <%= f.text_field :author, :value=> current_user.email, :disabled => true %>
    </div>



    <% unless current_user.is_operator? %>

        <div class="field">
          <%= f.label :Difficulty %>
          <select id="difficulty" name="difficulty">
            <option <%= 'selected' if @question.difficulty == 1 %> value="1">Easy</option>
            <option <%= 'selected' if @question.difficulty == 2 %> value="2">Moderate</option>
            <option <%= 'selected' if @question.difficulty == 3 %> value="3">Hard</option>
          </select>
        </div>

    <% end %>


    <div class="field">
      <%= label_tag :pastPaperFlag, "Past Paper?" ,:style=>"display: inline-block;" %>
      <% unless @question.past_paper_history.nil? %>
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()" checked>Yes
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()">No
      <% else %>
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()">Yes
          <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" checked>No
      <% end %>
    </div>
    <%= render 'pastPaperHistoryEdit' %>



    <%= hidden_field_tag :type_ques, 'mcq' %>
    <%= hidden_field_tag :course_id, @course_id %>

<!---->
    <%= hidden_field_tag :boards,@boards %>
    <%= hidden_field_tag :degrees,@degrees %>
    <%= hidden_field_tag :view, @view%>
    <%= hidden_field_tag :course_linking_id, @course_linking_id%>
<!---->

    <input type="hidden" id="count_option" name="count_option" value="4">
    <div class="actions">
      <%= f.submit :class => 'btn btn-large btn-inverse ' %>
      <%= link_to 'Back', question_path(@question.id), :class => 'btn btn-large btn-inverse ' %>
    </div>
<% end %>

<script>


    function change_field(box_id, span_id, field_id, id) {
        box = document.getElementById(box_id)
        if (box.checked) {

            $('#' + span_id).show();
            $('#option_image_' + id).prop('required', true);
            $('#option_' + id).removeAttr('required');
            $('#' + field_id).hide();
        }
        else {
            $('#' + span_id).hide();
            $('#' + field_id).show();
            $('#option_image_' + id).removeAttr('required');
            $('#option_' + id).prop('required', true);
        }
    }

    //add optionssss
    function add_option (){
        if (global_option_count == 6)
        {
            $('#option_add').hide();
        }
        if (global_option_count == 4)
        {
            $('#option_remove').show();
        }
        if (global_option_count < 7)
        {
            global_option_count = global_option_count + 1 ;
            $("#option_div_"+global_option_count).show();
            document.getElementById("option_"+global_option_count).required = true;
            document.getElementById("count_option").value = global_option_count;
        }

    }

    function remove_option(question_id)
    {
        $.ajax({
            url:'/questions/remove_option?question_id=' + question_id + '&count=' + global_option_count ,
            type:'get',
            dataType:'json',
            processData:false,
            async:false,
            success:function (response) {
                if (response.success) {
                    $("#option_div_"+global_option_count).hide();
                    document.getElementById("option_"+global_option_count).required = false;
                    $('#option_'+global_option_count).required = false;
                    $('#option_'+global_option_count).val("");
                    $('#option_image_'+global_option_count).val("");
                    $('#is_answer_' + global_option_count).prop("checked", false);
                    document.getElementById("count_option").value = global_option_count;
                    if (global_option_count == 5) {
                        $('#option_add').show();
                        $('#option_remove').hide();
                    }
                    else
                    {
                        $('#option_add').show();
                    }
                    global_option_count = global_option_count - 1 ;
                }
                else {
                }

            },
            error:function (data) {
            }
        });
    }
</script>


<script type="text/javascript">

    $("document:ready", function () {

        <% unless @question.past_paper_history.nil? %>
        $("#past_paper_history_div").show();
        <% else %>
        $("#past_paper_history_div").hide();
        <% end %>

        $("[rel=tinymce]").tinymce({
            theme: "modern",
            menubar: false,
            statusbar: false,
            toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,|,uploadimage,",
            pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
            plugins: ["uploadimage,paste"],
            paste_auto_cleanup_on_paste: true,
            relative_urls: false,
            remove_script_host: false,
            document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/"
        });
        if (global_option_count > 4)
        {
            $('#option_remove').show();
        }

    });

    function show_div() {
        //alert("show");
        $("#past_paper_history_div").show();
    }

    function hide_div() {
        //alert("hide");
        $("#past_paper_history_div").hide();
    }

    function checkForm(form)
    {
        box = $("input:checkbox.is_answer:checked");
        if (!box.length) {
            alert('You must check at least one box!');
            $("input:checkbox.is_answer").focus();
            return false; // The form will *not* submit
        }
        else
        {

        }
        return true;
    }

    $("input:checkbox.is_answer").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox.is_answer";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });


</script>