<div id="past_paper_history_div">

  <div class="field">
    <%= label_tag "question #" %><br />
    <%= text_field_tag :ques_no %>
  </div>

  <div class="field">
    <%= label_tag :session %><br />
    <input type="radio" name="session" value="May/June" checked>May/June
    <input type="radio" name="session" value="Nov/Dec">Nov/Dec
  </div>


  <div class="field">
    <%= label_tag :year %><br />
    <select id="year" name="year">
      <% i = 2014 %>
      <% 10.times{ %>
          <option value="<%=i %>"><%=i %></option>
      <% i-=1
      } %>
    </select>
  </div>


</div>
