<div id="past_paper_history_div" class="row padding-custom">

  <div class="field col-md-3">
    <%= label_tag "question #" %>
    <%= text_field_tag :ques_no, @question_no %>
  </div>

  <div class="field col-md-2">
    <%= label_tag :session %>
    <% if @question.past_paper_history && @question.past_paper_history.session == 'Nov/Dec' %>
        <input type="radio" name="session" value="May/June">May/June
        <input type="radio" name="session" value="Nov/Dec" checked>Nov/Dec

    <%else %>
        <input type="radio" name="session" value="May/June" checked>May/June
        <input type="radio" name="session" value="Nov/Dec" >Nov/Dec

    <% end %>

  </div>


  <div class="field col-md-2">
    <%= label_tag :year %>
    <select id="year" name="year">
      <% i = Time.new.year.inspect.to_i - 1 %>
      <% 25.times{ %>
          <% if @question.past_paper_history && @question.past_paper_history.year == i.to_s %>
              <option selected value="<%=i  %>"><%=i %></option>
          <% else %>
              <option value="<%=i  %>"><%=i %></option>
          <% end %>
      <% i-=1
         } %>
    </select>



  </div>

  <div class="field col-md-3">
    <%= label_tag :variant %>
      <%= text_field_tag :varient %>
  </div>


  <div class="field col-md-3" id = "course_linking_element">
    <%= label_tag :course_id %>
    <%= select_tag :course_id, options_for_select([ ] ) %>
    <%#= select_tag :course_id, options_for_select(@course_linking.collect{ |u| [u.name, u.id] }) %>
  </div>

</div>


<script>
    $(document).ready(function(){
        $("#varient").val("<%= @question.varient %>");
    });
</script>