
<div id="past_paper_history_div" class="row padding-custom">
  <div class="col-md-12" id="courses">
    <%= label_tag :course_id %>
    <select id="course_id" name="course_id" >
      <%unless @courses.nil? %>
          <% @courses.each do |course| %>
              <% if @question.past_paper_history && @question.past_paper_history.course_id == course.id.to_s %>
                  <option selected value="<%=course.id %>"><%=course.name%></option>
              <% else %>
                  <option value="<%=course.id %>"><%=course.name%></option>
              <% end %>
          <% end %>
      <% end %>
    </select>
  </div>
  <div class="row padding-custom" style="margin-left: 0px">
    <div class="field col-md-3">
      <%= label_tag :paper %>
      <%= text_field_tag :paper %>
    </div>
  </div>

  <div class="field col-md-3">
    <%= label_tag "question #" %>
    <%= text_field_tag :ques_no, @question_no, :class=>'aaa' %>
  </div>

  <div class="field col-md-2">
    <%= label_tag :session %>
    <% if @question.past_paper_history && @question.past_paper_history.session == 'Nov/Dec' %>
        <input type="radio" name="session" value="May/June">May/June</br>
        <input type="radio" name="session" value="Oct/Nov" checked>Oct/Nov

    <%else %>
        <input type="radio" name="session" value="May/June" checked>May/June</br>
        <input type="radio" name="session" value="Oct/Nov" >Oct/Nov

    <% end %>

  </div>


  <div class="field col-md-3">
    <%= label_tag :year %>
    <select id="year" name="year">
      <% i = Time.new.year.inspect.to_i %>
      <% 25.times{ %>
          <% if @question.past_paper_history && @question.past_paper_history.year == i.to_s %>
              <option selected value="<%=i  %>"><%=i %></option>
          <% else %>
              <option value="<%=i  %>"><%=i %></option>
          <% end %>
      <% i-=1
         } %>
    </select>



  </div>

  <div class="field col-md-3">
    <%= label_tag :variant %>
        <%= text_field_tag :varient, @question.varient %>
  </div>




</div>


<script>
    $(document).ready(function(){
        $("#varient").val("<%= @question.varient %>");
    });
</script>