<div style="display: inline" id="past_paper_history_div">
  <% if @question.past_paper_history %>

      <div class="col-md-12" id="courses">
        <%= label_tag :course_id %>
        <select id="course_id" name="course_id" >
          <%unless @courses.nil? %>
              <% @courses.each do |course| %>
                  <% if @question.past_paper_history && @question.past_paper_history.course_id == course.id.to_s %>
                      <option selected value="<%=course.id %>"><%=course.name%></option>
                  <% else %>
                      <option value="<%=course.id %>"><%=course.name%></option>
                  <% end %>
              <% end %>
          <% end %>
        </select>
      </div>

      <div class="field">
        <%= label_tag "question #" %>
        <%= text_field_tag :ques_no, @question.past_paper_history.ques_no %>
      </div>

      <div class="field">
        <%= label_tag :session %>
        <%if @question.past_paper_history.session == 'May/June' %>
            <input type="radio" checked name="session" value="May/June" >May/June
            <input type="radio" name="session" value="Oct/Nov">Oct/Nov
        <% else %>
            <input type="radio" name="session" value="May/June" >May/June
            <input type="radio" checked name="session" value="Oct/Nov">Oct/Nov
        <% end %>
      </div>


      <div class="field">
        <%= label_tag :year %>
        <%= text_field_tag :year , @question.past_paper_history.year %>
      </div>

      <div class="field">
        <%= label_tag :variant %>
        <%= text_field_tag :varient, @question.varient %>
      </div>


<% else %>


      <div class="field">
        <%= label_tag "question #" %>
        <%= text_field_tag :ques_no  %>
      </div>

      <div class="field">
        <%= label_tag :session %>
        <input type="radio" checked name="session" value="May/June" >May/June
        <input type="radio" name="session" value="Nov/Dec">Nov/Dec

      </div>


      <div class="field">
        <%= label_tag :year %>
        <select id="year" name="year">
          <% i = Time.new.year.inspect.to_i %>
          <% 25.times{ %>
              <option value="<%=i  %>"><%=i %></option>
          <% i-=1
             } %>
        </select>
      </div>

      <div class="field">
        <%= label_tag :variant %>
        <%= text_field_tag :varient %>
      </div>


<% end %>

</div>