
<div id="ques_bar">
  <div class="ques_inner_bar_left">
    <input type="text" id="search_bar" name="search_bar"  placeholder="SEARCH" />
    <input type="button" value="search" class="searchBtn btn btn-inverse" onclick="fetch_rows(-1)" />


    </div>
  <div class="ques_search_bar_left">
    <%=link_to "All(" + Question.where(:deleted =>false).count.to_s + ")","javascript:void(0);", :onclick => "get_questions_by_status(2)" %>
    <%=link_to "Pending Approval(" + Question.where(:workflow_state => nil, :deleted =>false).count.to_s + ")","javascript:void(0);", :onclick => "get_questions_by_status(0)" %>
    <%=link_to "Approved(" + Question.find_all_by_workflow_state("reviewed_by_proofreader").count.to_s + ")","javascript:void(0);", :onclick => "get_questions_by_status(1)" %>
  </div>
  <div class="ques_inner_bar_right">
    <div class="select_div">
        <select id="no_rows" name="no_rows" onchange="fetch_rows(this.value)">
          <option <%='selected' if @row.to_i == 50 %> value="50">50</option>
          <option <%='selected' if @row.to_i == 100 %> value="100">100</option>
        </select>
    </div>

    </div>

</div>
  <table style="margin-top: 10px !important;" class="table table-bordered">
    <tr>
      <th>No.</th>
      <th><h3 style="margin-top: 0 !important;">Question Statement</h3></th>
      <th></th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @questions.each_with_index  do |question,index| %>
        <tr>
          <td><%= index+1 %> </td>
          <td><%=raw question.statement %> </td>
          <td><%= link_to 'View', question_path(question) %></td>
          <% if question.reviewed_by_proofreader? %>
              <td><%= question.current_state %></td>
          <% else %>
                <td><%= "new" %></td>
          <% end %>
          <% if question.new? %>
              <td><%=link_to "Approve","javascript:void(0);",:id => "approve", :onclick => "approve_question(#{question.id})" %></td>
          <% else %>
              <td>Approved</td>
          <% end %>
        </tr>

    <% end %>

  </table>
<%= will_paginate @questions %>



