<%= form_for "question", :html => {:id => "question_details", :onsubmit => "return false;"} do |f| %>
    <div class="question_details">


      <div class="course_link_cont">
        <h3>Topic Association
        <span style="float: right; font-size: small"><input id="topicAssociation" type="checkbox" checked />Enable Topic Linking</span>
        </h3>
        <div id="topic_table_container" class="course_link_container listing-holder">
        </div>
      </div>


<!--############################################### Original Difficulty Section ###############################################      -->

      <!--<h5 class="labelquestions">Difficulty</h5>-->
          <%#=radio_button_tag "difficulty[]",1, @question.difficulty == 1 ? true : false %>
          <%#=radio_button_tag "difficulty[]",2, @question.difficulty == 2 ? true : false %>
          <%#=radio_button_tag "difficulty[]",3, @question.difficulty == 3 ? true : false %>
      <%= hidden_field_tag :question_id,@question.id %>

<!--############################################### Original Difficulty Section ###############################################      -->



    </div>
    <div class="btn_holder_post">
      <%= f.submit 'Approve & Move to next', :id => "approve", :class=> 'btn btn-large btn-inverse' %>
      <%= f.submit 'Reject & Move to next', :id => "reject", :class=> 'btn btn-large btn-inverse' %>
      <%= link_to 'Go Back', questions_approval_questions_path , :class=> 'btn btn-large btn-inverse'%>

    </div>
<% end %>


<script type="text/javascript">

    $(document).ready(function(){
        $.ajax({
            url: '/questions/get_topic_course_link',
            type: 'get',
            data: "course_linking_id="+<%= @question.course_linking_id %>,
            async: false,
            success:function(data){
                $("#topic_table_container").html(data);
            },
            error:function(){
            }
        });
    });


    $(document).ready(function(){

        $("select").select2();
        $("#topic_linking_topic_1").on("change", function(){
            if ($("#topic_linking_topic_1 option:selected").val() != "") {
                $("#degree1 input[type=checkbox]").prop("checked", true);
            }
            else
            {
                $("#degree1 input[type=checkbox]").prop("checked", false);
            }
        });
        $("#topic_linking_topic_2").on("change", function(){
            if ($("#topic_linking_topic_2 option:selected").val() != "") {
                $("#degree2 input[type=checkbox]").prop("checked", true);
            }
            else
            {
                $("#degree2 input[type=checkbox]").prop("checked", false);
            }
        });
        $("#topic_linking_topic_4").on("change", function(){
            if ($("#topic_linking_topic_4 option:selected").val() != "") {
                $("#degree4 input[type=checkbox]").prop("checked", true);
            }
            else
            {
                $("#degree4 input[type=checkbox]").prop("checked", false);
            }
        });
        $("#topic_linking_topic_3").on("change", function(){
            topic_id = this.value;
//            alert(topic_id);

            if ($("#topicAssociation").prop("checked") ) {
                if (topic_id == "") {
                    $("#topic_linking_topic_2").val("");
                    $("#topic_linking_topic_1").val("");
                    $("#topic_linking_topic_4").val("");
                    return false;
                }
                else {
                    $.ajax({
                        url: '/questions/get_all_topics_from_topic_linking',
                        type: 'get',
                        data: "topic_id=" + topic_id + "&question_id=" +<%= @question.id%>,
                        async: false,
                        success: function (data) {
//                    alert("topic_id se TopicLinking wala ajax success function");
                            $("#topic_table_container").html(data);

                        },
                        error: function () {
//                                alert("topic_id se TopicLinking wala ajax error function");
                        }
                    });
                }
            }
            else
            {
                if ($("#topic_linking_topic_3 option:selected").val() != "") {
                    $("#degree3 input[type=checkbox]").prop("checked", true);
                }
                else
                {
                    $("#degree3 input[type=checkbox]").prop("checked", false);
                }
            }
        });
    });

</script>



<script type="text/javascript">


    $('#approve').click(function() {

        difficulty = "";
        a = $('input[name="difficulty1[]"]:checked', '#question_details').val()
        b = $('input[name="difficulty2[]"]:checked', '#question_details').val()
        c = $('input[name="difficulty3[]"]:checked', '#question_details').val()
        d = $('input[name="difficulty4[]"]:checked', '#question_details').val()

        difficulty += a+","+b+","+c+","+d

        var publish = "";
//        alert($('input[name="degree1[]"].checkbox_check').prop('checked'));
         if ($('input[name="degree1[]"]').prop('checked')){

            var a = $(('input[name="degree1[]"]:checkbox:checked'), '#question_details').val()
         }
        else{
             a = 0;
//             alert(a);
         }
        if ($('input[name="degree2[]"]').prop('checked')){

          var b = $(('input[name="degree2[]"]:checkbox:checked'), '#question_details').val()
        }
        else{
            b = 0;
        }
        if ($('input[name="degree3[]"]').prop('checked')){

          var c = $(('input[name="degree3[]"]:checkbox:checked'), '#question_details').val()
        }
        else{
            c = 0;
        }
        if ($('input[name="degree4[]"]').prop('checked')){

           var d = $(('input[name="degree4[]"]:checkbox:checked'), '#question_details').val()
        }
        else{
            d = 0;
        }

//        a = $(('input[name="degree1[]"]:checkbox:checked'), '#question_details').val()
//        b = $(('input[name="degree2[]"]:checkbox:checked'), '#question_details').val()
//        c = $(('input[name="degree3[]"]:checkbox:checked'), '#question_details').val()
//        d = $(('input[name="degree4[]"]:checkbox:checked'), '#question_details').val()

        publish += a+","+b+","+c+","+d

//        alert(str);

        if ($("#topic_linking_topic_3").val() == "" && $("#topic_linking_topic_2").val() == "" &&
            $("#topic_linking_topic_1").val() == "" && $("#topic_linking_topic_4").val() == "")
        {
            alert ("Please select atleast one topic association.");
            return false;
        }
//alert(publish);
        var $form = $('#question_details');
        var serializedData = $form.serialize();
        $.ajax({
            url:'/questions/approve_by_teacher?difficulties='+difficulty + "&publishes=" + publish,
            type:'post',
            dataType:'json',
            data: serializedData,
            async:false,
            processData:false,
            success:function (response) {
                if (response.question_id == "")
                {
                    window.location = '/questions/questions_approval';
                }
                else
                {
                    window.location = '/questions/'+ response.question_id;
                }
            },
            error:function (data) {
                alert ("Error Occurred");
            }
        });



    });

    $('#reject').click(function() {
        $('#commentsModal').modal('toggle');

    });

</script>
