<%= form_for @question, :url => "approve_by_teacher", :html => {:multipart=> true} do |f| %>
    <div class="question_details">
    <h5 class="labelquestions">Boards</h5>
    <p>
      <%Board.all.each do |board| %>
          <% if @boards_name.include? board.name %>
              <%=check_box_tag "boards[]",board.id,true %><%=board.name %>
          <% else %>
              <%=check_box_tag "boards[]",board.id,false %><%=board.name %>
          <% end %>
      <% end %>


    </p>


    <h5 class="labelquestions">Degrees</h5>
    <p>
      <%Degree.all.each do |degree| %>
          <% if @degrees_name.include? degree.name %>
              <%=check_box_tag "degree[]",degree.id, true %><%=degree.name %>
          <% else %>
              <%=check_box_tag "degree[]",degree.id, false %><%=degree.name %>
          <% end %>
      <% end %>
    </p>

      <select name="topic">
        <% Topic.where(:course_id => @course_id).each do |topic|  %>
            <option <%='selected' if @question.topic_id == topic.id %> value="<%=topic.id %>"><%=topic.name %></option>
        <% end %>
      </select>
    <i class='fa fa-pencil-square-o'></i>


    <h5 class="labelquestions">Difficulty</h5>
    <%=radio_button_tag "difficulty[]",1, @question.difficulty == 1 ? true : false %>EASY
    <%=radio_button_tag "difficulty[]",2, @question.difficulty == 2 ? true : false %>MEDIUM
    <%=radio_button_tag "difficulty[]",3, @question.difficulty == 3 ? true : false %>HARD
    </div>

    <%= f.submit 'Approve', :class=> 'btn btn-large btn-inverse' %>
    <%= f.submit 'Reject', :class=> 'btn btn-large btn-inverse' %>
<% end %>