
<%= will_paginate @questions %>
  <table style="margin-top: 10px !important;" class="table table-bordered">
    <tr>
      <th><h3 style="margin-top: 0 !important;">Question Statement</h3></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @questions.each do |question| %>
        <tr><td><%=raw question.statement %> </td>
          <td><%= link_to 'View', question_path(question) %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>

        </tr>

    <% end %>

  </table>
<%= will_paginate @questions %>



