
<div id="ques_bar">
  <div class="ques_inner_bar_left">
    <input type="text" id="search_bar" name="search_bar"  placeholder="SEARCH" />
    <input type="button" value="search" class="searchBtn btn btn-inverse" onclick="fetch_rows(-1)" />


    </div>

  <div class="ques_inner_bar_right">
    <div class="select_div">
        <select id="no_rows" name="no_rows" onchange="fetch_rows(this.value)">
          <option <%='selected' if @row.to_i == 50 %> value="50">50</option>
          <option <%='selected' if @row.to_i == 100 %> value="100">100</option>
        </select>
    </div>

    </div>

</div>
  <table style="margin-top: 10px !important;" class="table table-bordered">
    <thead>
    <tr>
      <th><h3 style="margin-top: 0 !important;">Question Statement</h3></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @questions.each do |question| %>
        <tr><td><%=raw question.statement %> </td>
          <td><%= link_to 'View', question_path(question) %></td>
          <% if question.author == current_user.email %>
              <td><%= link_to 'Edit',edit_question_path(question) %></td>
          <% elsif current_user.is_admin? %>
              <td><%= link_to 'Edit',edit_question_path(question) %></td>
          <% else %>
                <td></td>
          <% end %>
          <% if question.author == current_user.email %>
              <td><%=link_to "Delete","javascript:void(0);",:id => "delete", :onclick => "delete_question(#{question.id})" %></td>
          <% elsif current_user.is_admin? %>
              <td><%= link_to 'Edit',edit_question_path(question) %></td>
          <% else %>
              <td></td>
          <% end %>
        </tr>

    <% end %>
    </tbody>
  </table>
<%= will_paginate @questions %>



