<%= form_for :question, :url => questions_path, :html => {multipart: true,:id=>"form_id", :onsubmit => "return checkForm(this)"} do |f| %>


    <div class="field">
      <%= f.label :statement %>
      <textarea id="tinymce4" name="tinymce4" rel="tinymce" rows="9" cols="20" ></textarea>
    </div>

    <div class="field">
      <%= f.label :detail_answer, style:"display: inline-block; vertical-align: sub;" %>
      <textarea id="tinymce5" name="tinymce5" rel="tinymce" rows="9" cols="20" ></textarea>
    </div>

    <div class="field">
      <%= f.label :option %>
      <%= radio_button_tag :option,'True' %>True
      <%= radio_button_tag :option,'False' %>False
    </div>


    <div class="field">
      <%= f.label :instruction, style:"display: inline-block; vertical-align: sub;" %>
      <%= f.text_area :instruction, :size => '4x4' %>
    </div>

    <div class="field">
      <%= f.label :source %>
      <%= f.text_field :source %>
    </div>



    <!--
      <div class="field">
        < %= f.label : topic %><br />
        <select id="topic" name="topic">
          < % @topics.each do |topic|%>
              <option value="< %=topic.id %>">< %=topic.name %></option>
          < % end %>
        </select>
      </div>
  -->

    <div class="field">
      <%= f.label :author, "Data Entered By" %>
      <%= f.text_field :author, value: current_user.email, :disabled => true %>
    </div>


    <!--<%# unless current_user.is_operator? %>-->

        <!--<div class="field">-->

      <!--<%#= f.label :Difficulty %>-->
      <!--<select id="difficulty" name="difficulty">-->
        <!--<option <%#='selected' if @question.difficulty == 1 %> value="1">Easy</option>-->
        <!--<option <%#='selected' if @question.difficulty == 2 %> value="2" selected>Moderate</option>-->
        <!--<option <%#='selected' if @question.difficulty == 3 %> value="3">Hard</option>-->

      <!--</select>-->
    <!--</div>-->

    <!--<%# end %>-->



    <div class="field">
      <%= label_tag :pastPaperFlag, "Past Paper?" ,:style=>"display: inline-block;" %>
      <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="1" onclick="show_div()" <%='checked' if @question.past_paper_history %>>Yes
      <input type="radio" id="pastPaperFlag" name="pastPaperFlag" value="0" onclick="hide_div()" <%='checked' unless @question.past_paper_history %>>No
    </div>


    <%= render 'pastPaperHistory' %>



    <%#=f.hidden_field :topic_id, value: @topics.first.id  %>
    <%=hidden_field_tag :course_id1, @course_id %>
    <%= hidden_field_tag :boards,@boards %>
    <%= hidden_field_tag :degrees,@degrees %>
    <%= hidden_field_tag :view, @view%>


    <%=hidden_field_tag :is_answer,'1' %>

    <%=f.hidden_field :question_type, value: 4  %>
    <%= hidden_field_tag :type_ques, "trueFalse"  %>

    <%= hidden_field_tag :course_linking_id, @course_linking_id%>



    <div class="actions">
      <%= f.submit class: 'btn btn-large btn-inverse ' %>
    </div>
<% end %>



<script type="text/javascript">

    $("document:ready", function() {

        <% if @question.past_paper_history %>
        $("#past_paper_history_div").show();
        <% else %>
        $("#past_paper_history_div").hide();
        <% end %>

        $("[rel=tinymce]").tinymce({
            theme: "modern",
            menubar: false,
            statusbar: false,
            toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,|,uploadimage,",
            pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
            plugins: ["uploadimage,paste"],
            paste_auto_cleanup_on_paste : true,
            relative_urls: false,
            remove_script_host: false,
            document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/"
        });


    });
    function checkForm(form)
    {
        var past_paper_histories=""
        a=$("#course_id").val();
        b = $('input[name="ques_no"]' , '#form_id').val();
        c = $('input[name="session"]:checked' , '#form_id').val();
        d = $("#year").val();
        e = $('input[name="varient"]', '#form_id').val();

        past_paper_histories += a+","+b+","+c+","+d+","+e
        var $form = $('#form_id');
        var serializedData = $form.serialize();

        var retValue = false;
        $.ajax({
            url:'/questions/past_paper_history_param?past_paper_h='+past_paper_histories,
            type:'post',
            data: serializedData,
            async:false,
            success:function (response) {
                if (response)
                {
                    retValue = true;
                }
            },
            error:function (data) {
                alert ("Error Occurred");
            }

        });
        if (retValue)
        {
            alert("Past paper question has already been added.")
            return false;
        }

    }

    function show_div(){
        //alert("show");
        $("#past_paper_history_div").show();
    }

    function hide_div(){
        //alert("hide");
        $("#past_paper_history_div").hide();
    }
</script>


<script>
    function change_field(box_id, span_id,field_id)
    {
        // alert(box_id +"-"+ span_id)
        box = document.getElementById(box_id)
        if(box.checked){

            $('#'+span_id).show();
            $('#'+field_id).hide();
        }
        else{
            $('#'+span_id).hide();
            $('#'+field_id).show();
        }

    }

</script>