<%= tinymce_assets %>

<div class="row">
  <div class="span5">
<div class="container">
  <h4>Degree : <%=@dc_hash["degree"].name %></h4>
  <h4>Course : <%=@dc_hash["course"].name %></h4>
  <h4>Test   : <%=@dc_hash["test"].name %></h4>
    <label for="'question_type">Question Type:</label>
  <select id="'question_type" name="question_type" onchange="fresh_page(this.value)">
    <% if @view.eql?(1) %>
        <option selected value="1">MCQ</option>
        <% else %>
        <option  value="1">MCQ</option>
        <% end %>


    <% if @view.eql?('2') %>
        <option selected value="2">Descriptive</option>
    <% else %>
        <option  value="2">Descriptive</option>
    <% end %>


    <% if @view.eql?('3') %>
        <option selected value="3">Fill in the blanks</option>
    <% else %>
        <option  value="3">Fill in the blanks</option>
    <% end %>


    <% if @view.eql?('4') %>
        <option selected value="4">True/False</option>
    <% else %>
        <option  value="4">True/False</option>
    <% end %>


  </select>

  <div class="row">
    <div id="ques_form_container" class="span9">



    </div>

    <div class="span3">
        <%="<div>#{@question.statement}</div>" unless @question.nil? %>
    </div>
  </div>
</div>
  </div>

</div>


<script>
  $(document).ready()
          {
           render_view(<%=@view %>);

          }


  function render_view(type){

      $.ajax({
          url:'/questions/render_view?test_id=<%=@dc_hash['test'].id%>&ques_type='+type,
          type:'get',
          dataType:'html',
          processData:false,
          success:function (data) {
              $("#ques_form_container").html(data);
              //load_text();

              //$("#ques_container").show();
          },
          error:function (data) {
              alert ('nae chalaa');
              //    window.location.reload();
          }
      });

  }

  function fresh_page (type){


      var url = window.location.href;
      var arr = url.split("&");
      url = arr[0];
      url = url+'&view='+type;
      window.location.href = url;

  }

</script>