
<style>
  .labelquestions {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
  }
</style>

<div class="row wrapper page-heading border-bottom white-bg">
  <h1>Add Qusetion</h1>
  <!--<%= link_to "Manage Questions", "/questions", class: "btn btn-inverse" %>-->
  <!--<%= link_to "Questions Details", "/questions/questions_detail", class: "btn btn-inverse" %>-->
  <!--<%= link_to "Enable Question Review", '/workflow_paths', class: "btn btn-inverse"  %>-->
</div>


<div class="row listing-holder listing-holder-p">
  <div class="span5">
<div class="container">

  <!--<h5 class="labelquestions">Boards</h5>-->
  <!--<p>-->
    <!--<%# @boards_name.each do |board| %>-->
      <!--<%#=board %>-->
    <!--<%# end %>-->


  <!--</p>-->


  <!--<h5 class="labelquestions">Degrees</h5>-->
  <!--<p>-->
    <!--<%# @degrees_name.each do |degree| %>-->
        <!--<%#=degree %>-->
    <!--<%# end %>-->
  <!--</p>-->


  <div class="row">
    <div id="ques_form_container" class="span9">

    <%= render 'mcq' if @view == '1' %>
      <%= render 'descriptive' if @view == '2' %>
      <%= render 'truefalse' if @view == '4' %>
      <%= render 'blank' if @view == '3' %>

    </div>


  </div>
</div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready()
          {

           //render_view(<%=@view %>);

          }


  function render_view(type){

   /*   $.ajax({
          url:'/questions/render_view?test_id=< %=@dc_hash['test'].id%>&ques_type='+type,
          type:'get',
          dataType:'html',
          processData:false,
          success:function (data) {
              $("#ques_form_container").html(data);
              //load_text();

              //$("#ques_container").show();
          },
          error:function (data) {
              alert ('nae chalaa');
              //    window.location.reload();
          }
      });
*/
  }

  function fresh_page (type){


      var url = window.location.href;
      var arr = url.split("&");
      url = arr[0];
      url = url+'&view='+type;
      window.location.href = url;

  }



</script>