<div class="modal_content question_section_modal">
  <div class="modal_left">
    <div class="box_modal modal_custom">
      <h2><%=@question_heading%></h2>
      <label>Statement </label><p><%=raw @question.statement %></p>
    </div>
    <div class="question_p_section question_custom">
      <ul>
        <% @options.each_with_index do |option,index| %>
            <% if option.flag.nil? %>
                <li ><span>(<%=@alpha[index] %>)</span><a href="javascript:void(0)" class='<%='correct_answer' if option.is_answer.eql?(1) %>'><%=option.statement %></a></li>
            <% else %>
                <li ><span>(<%=@alpha[index] %>)</span><a href="javascript:void(0)" class='<%='correct_answer' if option.is_answer.eql?(1) %>'><%=image_tag option.avatar.url(:medium) %></a></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>


</div>
<div class="modal_iframe_footer">
  <%=link_to 'Back', question_path(@question.id), class: 'modal_btn' %>
</div>