<h1>Rejected Questions By <%= @proofreader %></h1>
<div class="listing-holder">
  <table class="table table-condensed">
    <tr>
      <th>Statement</th>
      <th>Description</th>
      <th>Instructions</th>
      <th>Comments</th>
    </tr>

    <% unless @rejected_questions.nil? %>

    <% @rejected_questions.each do |q| %>
            <tr>
              <td><%=raw q.statement %></td>
              <td><%=raw q.description %></td>
              <td><%=raw q.instruction %></td>
              <td><%=raw q.comments %></td>
            </tr>
        <% end %>
    <% end %>

  </table>
</div>