<%=form_tag url_for(:controller => 'questions', :action => 'add_questions'), :method => 'get' do %>

<h1>Listing questions</h1>
<div class="listing-holder questions">
<div class="row">
<div class="span5">
  <div class="field">
    <%=label_tag :course %>
    <select id="course" name="course" onchange="generate_courses(this)" required>
      <option value="" selected>Select Course</option>
      <% if current_user.is_teacher? %>
        <% current_user.teacher_courses.all.uniq{|y| y.degree_course_assignment_id}.each do |x| %>
              <option value="<%=DegreeCourseAssignment.find_by_id(x).degree.id %>"><%=DegreeCourseAssignment.find_by_id(x).degree.name%></option>
        <% end %>


      <% else %>
          <% Course.all.each do |course| %>

              <option value="<%=course.id %>"><%=course.name%></option>
          <% end %>

      <% end %>



    </select>
  </div>
  <div class="field" id="board_container">
    <h4>Boards</h4>
        <%Board.all.each do |board| %>
        <%=check_box_tag "boards[]",board.id,false %><%=board.name %>
        <% end %>

    <h4>Degrees</h4>
    <%Degree.all.each do |degree| %>
        <%=check_box_tag "degree[]",degree.id,false %><%=degree.name %>
    <% end %>
  </div>

  <div class="field" id="type_container">
    <h4>Question_type</h4>
    <select id="'question_type" name="question_type">

          <option  value="1">MCQ</option>
          <option  value="2">Descriptive</option>
          <option  value="3">Fill in the blanks</option>
          <option  value="4">True/False</option>

    </select>
  </div>

</div>

</div>

<div id="test_container" class=''>
</div>

<div id="ques_container" class=''>


</div>

</div>

<%= submit_tag "Add Question" %>

<% end %>

<br />








<script>
    $(document).ready(function() {
                generate_questions(1);
            }
    );

    function generate_courses(course_id)
    {



        //alert (document.getElementById("degree_hidden_id").value);
        container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/get_courses?course_id='+course_id.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#board_container").html(data);

            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }



    function generate_questions(test)
    {
        //d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/get_ques?test_id='+test.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#ques_container").html(data);
                $("#ques_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }

    function generate_test(course)
    {
        d_id = document.getElementById("degree_hidden_id").value;

        $.ajax({
            url:'/questions/get_tests?course_id='+course.value+'&degree_id='+d_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#test_container").html(data);
               // $("#test_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }


    function delete_question(id)
    {
        //d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/delete_ques?ques_id='+id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#ques_container").html(data);
                $("#ques_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }

</script>