<h1>Listing questions</h1>
<div class="listing-holder questions">
<div class="row">
<div class="span5">
  <h3>Test</h3>
  <div class="field">
    <%=label_tag :degree %>
    <select id="degree" name="degree" onchange="generate_courses(this)" required>
      <option value="" selected>Select Degree</option>
      <% if current_user.is_teacher? %>
        <% current_user.teacher_courses.all.uniq{|y| y.degree_course_assignment_id}.each do |x| %>
              <option value="<%=DegreeCourseAssignment.find_by_id(x).degree.id %>"><%=DegreeCourseAssignment.find_by_id(x).degree.name%></option>
        <% end %>


      <% else %>
          <% Degree.all.each do |degree| %>

              <option value="<%=degree.id %>"><%=degree.name%></option>
          <% end %>

      <% end %>



    </select>
  </div>
  <div class="field" id="course_container">

    <%=label_tag :course %>

    <select id="course" name="course" >
      <option>Select Degree First</option>

    </select>
  </div>
</div>

</div>

<div id="test_container" class=''>
</div>

<div id="ques_container" class=''>


</div>
</div>



<input id="degree_hidden_id" type="hidden"  value=''>
<br />








<script>
    $(document).ready(function() {

            }
    );

    function generate_courses(degree_id)
    {

        document.getElementById("degree_hidden_id").value=degree_id.value;

        //alert (document.getElementById("degree_hidden_id").value);
        container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/get_courses?degree_id='+degree_id.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#course_container").html(data);

            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }



    function generate_questions(test)
    {
        //d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/get_ques?test_id='+test.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#ques_container").html(data);
                $("#ques_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }

    function generate_test(course)
    {
        d_id = document.getElementById("degree_hidden_id").value;

        $.ajax({
            url:'/questions/get_tests?course_id='+course.value+'&degree_id='+d_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#test_container").html(data);
               // $("#test_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }

</script>