

    <%=form_tag url_for(:controller => 'questions', :action => 'add_questions'), :method => 'get' do %>

    <h1>Listing questions</h1>
    <div class="listing-holder questions">
    <div class="row">
    <div class="span5">
      <div class="field">
        <%=label_tag :course %>

        <select id="course" name="course" required>

          <option value="" selected>Select Course</option>
          <% if current_user.is_teacher? %>
            <% current_user.teacher_courses.all.uniq{|y| y.degree_course_assignment_id}.each do |x| %>
                  <option value="<%=DegreeCourseAssignment.find_by_id(x).degree.id %>"><%=DegreeCourseAssignment.find_by_id(x).degree.name%></option>
            <% end %>


          <% else %>
              <% Course.all.each do |course| %>

                  <option value="<%=course.id %>"><%=course.name%></option>
              <% end %>

          <% end %>



        </select>
      </div>
      <div class="field" id="board_container">
        <h4>Boards</h4>
            <%Board.all.each do |board| %>
            <%=check_box_tag "boards[]",board.id,false %><%=board.name %>
            <% end %>

        <h4>Degrees</h4>
        <%Degree.all.each do |degree| %>
            <%=check_box_tag "degree[]",degree.id,false %><%=degree.name %>
        <% end %>
      </div>

      <div class="field" id="type_container">
        <h4>Question_type</h4>
        <select id="'question_type" name="question_type">

              <option  value="1">MCQ</option>
              <option  value="2">Descriptive</option>
              <option  value="3">Fill in the blanks</option>
              <option  value="4">True/False</option>

        </select>
      </div>

    </div>

    </div>
      <%= submit_tag "Add Question" , :class => 'btn btn-large btn-inverse'%>

    <% end %>
    <br /><br />
    <div id="ques_container" class=''>
      <%= render 'ques' %>

    </div>

    </div>






<br />








<script>

    $(function() {
        $(document).on("click",".pagination a", function(){
            $(".pagination").html("Page is loading...");
            $.getScript(this.href);
            return false;
        });
    });

    function fetch_rows(value)
    {   if (value == -1)
    {   var limit = $("#no_rows").val();

        value = limit;
    }
         var search = encodeURIComponent($("#search_bar").val());
        $("#search_bar").val("");
        $.getScript('/questions?page=1&limit='+value+'&search='+search);

        return false;


    }

    function show_question(){

       // $("#ques_container").show();

    }

    function generate_courses(course_id)
    {



        //alert (document.getElementById("degree_hidden_id").value);
       /* container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/get_courses?course_id='+course_id.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#board_container").html(data);

            },
            error:function (data) {
                alert ('Error');
                //    window.location.reload();
            }
        });    */

    }

    $(document).keypress(function(e) {
        if(e.keyCode == 13 || e.which == 13) {
            e.preventDefault();
            fetch_rows(-1);
        }

    });


    function generate_questions(test)
    {
        //d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
       /* $.ajax({
            url:'/questions/get_ques?test_id='+test.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#ques_container").html(data);
                $("#ques_container").hide();
            },
            error:function (data) {
                alert ('Error');
                //    window.location.reload();
            }
        });    */

    }

    function generate_test(course)
    {

    }


    function delete_question(id)
    {
        //d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/delete_ques?ques_id='+id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#ques_container").html(data);

            },
            error:function (data) {
                alert ('Error');
                //    window.location.reload();
            }
        });

    }

</script>