<%= link_to "Manage Questions", "/questions", class: "btn btn-primary" %> |
<%= link_to "Questions Details", "/questions/questions_detail", class: "btn btn-primary" %> |
<%= link_to "Enable Question Review", '/workflow_paths', class: "btn btn-primary"  %>

<h1>Questions Detail</h1>

<%= label_tag :select_certification %>
<%= select_tag "degree", options_from_collection_for_select(@degrees, :id, :name) %>
<div id="courses">
  <%= label_tag :select_course %>
  <%= select_tag "course", options_from_collection_for_select(@courses, :id, :name) %>
</div>

<div class="listing-holder">
  <table class="table table-condensed">
    <tr>
      <th>Certification</th>
      <th>Course</th>
      <th>Question Type</th>
      <th>Action</th>
    </tr>

    <% @ques_detail_hash.each do |k,v| %>
        <% ['MCQs','Structured Questions','Fill in the Blanks','True/False'].each_with_index do |ques_type,index| %>
            <tr>
              <% degree,course,course_id = k.split("_") %>
              <td><%= degree %></td>
              <td><%= course %></td>
              <td><%= "#{ques_type}(#{v[index+1]})" %></td>
              <td><a href="javascript:void(0)" onclick="show_pop_up('<%=course_id%>','<%= index + 1 %>')">Details</a></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>
<!-------------------------------------modal pop up-->

<div id="modal_ques" style="overflow:scroll;" class="modal fade">
<%#= render 'ques_detail' %>
</div><!-- /.modal -->


<script type="text/javascript">
  function show_pop_up(id,type){

      $.ajax({
          url:'/questions/get_question_detail?course_id='+id+'&question_type='+type,
          type:'get',
          dataType:'html',
          processData:false,
          success:function (response) {
              $("#modal_ques").html(response);
              $("#modal_ques").modal("show");
              $("#modal_ques").focus();
          },
          error:function (data) {

          }
      });

  }

  $('#degree').on("change", function(){
    degree_id = $('#degree').val();
    $.ajax({
      url: "/questions/fetch_courses?degree_id=" + degree_id,
      success: function(data){
        $('#courses').html(data);
      }
    })
  });

  $('#course').on("change", function(){
    course_id = $('#course').val();
    degree_id = $('#degree').val();
    $.ajax({
      url: "/questions/fetch_details?course_id=" + course_id + "&degree_id=" + degree_id,
      success: function(data){
        $('.listing-holder').html(data);
      }
    })
  });
</script>
