<%= link_to "Manage Questions", "/questions", class: "btn btn-primary" %> |
<%= link_to "Questions Details", "/questions/questions_detail", class: "btn btn-primary" %> |
<%= link_to "Enable Question Review", '/workflow_paths', class: "btn btn-primary"  %>

<div id="ques_container" class=''  style="margin-top: 20px">
    <%= render 'question_list',teacher_self_flag: '0' %>
</div>

</div>
<br />

<div class="modal fade modal_custom" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Elearning System - Add Comments
        </h5>
      </div>
      <div class="modal-body">
        <div class="row comments_holder">
          <div class="field">
            <%= text_area_tag :comments %>
            <input type="hidden" id="question_id" name="question_id" value=""/>
          </div>
          <div>
              <div class="actions pull-left">
                <button type="button" class="btn btn-default modal_btn" onclick="add_comment()">Add comment</button>
              </div>
              <div class="modal-footer m_footer_container">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade modal_custom" id="questionDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Elearning System - Approve Questions</h5>
      </div>
      <div class="modal-body">
        <div class="question_details_holder">
          <div class="question_details">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>









<script>


    function approve_question_by_teacher(object, id)
    {
        var role = "";
        <% if current_user.is_proofreader? %>
        role = "proofreader";
        <% elsif current_user.is_teacher? %>
        role = "teacher";
        <% end %>
        $.ajax({
            url:'/questions/get_question_details_for_approval?ques_id='+id+"&role="+role,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                objectSiblings = $(object).parent().siblings();
                $(".question_details_holder").html(data);
                $('#questionDetailsModal').modal('toggle');
            },
            error:function (data) {
                alert ("Error Occurred");
                //    window.location.reload();
            }
        });
    }

    function approve_question(object, id)
    {
        var role = "";
        <% if current_user.is_proofreader? %>
            role = "proofreader";
        <% elsif current_user.is_teacher? %>
            role = "teacher";
        <% end %>
        $.ajax({
            url:'/questions/approve_question?ques_id='+id+"&role="+role,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                objectSiblings = $(object).parent().siblings();
                for (i = 0 ; i < objectSiblings.length; i++){
                    if (objectSiblings[i].innerHTML == "new")
                    {
                        objectSiblings[i].innerHTML  = "reviewed_by_proofreader";
                    }
                    else if (objectSiblings[i].innerHTML == "reviewed_by_proofreader")
                    {
                        objectSiblings[i].innerHTML  = "reviewed_by_teacher";
                    }
                }
                $(object).parent().text("Approved");
                //$(object).contents().unwrap();


            },
            error:function (data) {
                alert ("Error Occurred");
                //    window.location.reload();
            }
        });

    }

    function add_comment()
    {
        question_id = $("#question_id").val();
        comments = $("#comments").val();
        var role = "";
        <% if current_user.is_proofreader? %>
        role = "proofreader";
        <% elsif current_user.is_teacher? %>
        role = "teacher";
        <% end %>
        $.ajax({
            url:'/questions/add_comment_to_question?question_id='+question_id+"&comments="+ comments +"&role="+role,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $('#commentsModal').modal('hide');
            },
            error:function (data) {
                alert ("Error Occurred");
                //    window.location.reload();
            }
        });
    }

    function reject_question(object, id)
    {
        var role = "";
        <% if current_user.is_proofreader? %>
        role = "proofreader";
        <% elsif current_user.is_teacher? %>
        role = "teacher";
        <% end %>
        $.ajax({
            url:'/questions/reject_question?ques_id='+id+"&role="+role,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                objectSiblings = $(object).parent().siblings();
                for (i = 0 ; i < objectSiblings.length; i++){
                    if (objectSiblings[i].innerHTML == "new")
                    {
                        objectSiblings[i].innerHTML  = "rejected";
                    }
                }
                $(object).parent().text("Rejected");
                $("#question_id").val(id);
                $('#commentsModal').modal('toggle');
            },
            error:function (data) {
                alert ("Error Occurred");
                //    window.location.reload();
            }
        });

    }


</script>