<div class=" stat_holder">
  <label>Statement</label>
  <%=raw @question.statement %>
</div>

<% unless @question.question_type.eql?(1) %>

<div class="field field_holder">
  <label>Answer</label>
  <%=raw @question.options.last.statement %>
</div>

<% else %>

    <div class="option_holder">
    <% @question.options.each do |option| %>
        <% unless option.is_answer == 0 %>
          <div class="field field_holder correct_answer">
        <% else %>
          <div class="field field_holder">
        <% end %>

      <label>Option</label>
      <%=option.statement if option.flag.nil? %>
      <%=image_tag option.avatar.url(:thumb) unless option.flag.nil? %>

    </div>
        <% end %>

<% end %>
</div>
<div class="page-content-wrapper">
<div class="field field_holder">
  <label>Description </label>
  <%=raw @question.description %>
</div>

<div class="field field_holder">
  <label>Instruction</label>
  <%=raw @question.instruction %>
</div>

<div class="field field_holder">
  <label>Source</label>
  <%=raw @question.source %>
</div>


<!--
<div class="field field_holder">
  <label>Topic Name</label>
  < %=raw @question.topic.name %>
</div>
-->

<div class="field field_holder">
  <label>Author</label>
  <%=raw @question.author %>
</div>

<div class="field field_holder">
  <label>Difficulty</label>
  <%=raw @question.difficulty %>
</div>
<div class=" stat_holder">
<h4>Past Paper History</h4>
</div>

<div class="field field_holder">
  <label>Question#</label>
  <%= @question.past_paper_history.nil? ? "N/A" : @question.past_paper_history.ques_no %>
</div>

<div class="field field_holder">
  <label>Session </label>
  <%= @question.past_paper_history.nil? ? "N/A" : @question.past_paper_history.session %>
</div>

<div class="field field_holder">
  <label>Year</label>
  <%= @question.past_paper_history.nil? ? "N/A" : @question.past_paper_history.year %>
</div>
<% if @question.current_state == "rejected" && current_user.is_operator? %>
<div class="field field_holder">
    <label>Comment Box</label>
    <span style="color: #ff0000"><%= @question.comments.nil? ? "N/A" : @question.comments %></span>
</div>
</div>
<% end %>


<div class="question_history">
  <% if current_user.is_hod? || current_user.is_admin? %>
      <%= render 'question_history' %>
  <% end %>
  <% if ( current_user.is_teacher? || current_user.is_hod? || current_user.is_admin?) &&
          @question.question_histories.count < 3 &&
          !QuestionHistory.find_by_question_id_and_user_id(@question.id, current_user.id).present?  %>
      <%= render 'question_details_for_approval' %>

  <% end %>


</div>

<div class="btn_holder">
  <% if current_user.is_proofreader? %>
      <% if (@question.workflow_state.nil? || @question.current_state == "new") %>
          <%= link_to 'Approve & Move to next', approve_question_questions_path(:ques_id=> @question.id, :from=>"view", :role=>params["from"]) , :class=> 'btn btn-large btn-inverse'%>
          <%= link_to 'Reject & Move to next', '#', :onclick=>"reject_question("+@question.id.to_s+")", :class=> 'btn btn-large btn-inverse'%>
          <%= link_to 'Go Back', questions_approval_questions_path , :class=> 'btn btn-large btn-inverse'%>
      <% else %>
          <%= link_to 'Go Back', questions_approval_questions_path , :class=> 'btn btn-large btn-inverse'%>
      <% end %>

  <% elsif current_user.is_operator? %>
      <%= link_to 'Demo', demo_questions_path(:ques_id=> @question.id) , :class=> 'btn btn-large btn-inverse'%>
      <% if current_user.is_operator? && @question.author ==  current_user.email %>
            <%= link_to 'Edit', edit_question_path(@question) , :class=> 'btn btn-large btn-inverse'%>
      <% end %>
      <%= link_to 'New', questions_path , :class=> 'btn btn-large'%>
      <%= link_to 'Add Next', add_questions_questions_path(:q_id => @question.id) , :class=> 'btn btn-large'%>
  <% end %>
</div>

<div class="modal fade modal_custom" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Elearning System - Add Comments
        </h5>
      </div>
      <div class="modal-body">
        <%= form_for :question , :url => {:controller => 'questions', :action => 'reject_question'},
            :html => {:id => "add_comments", :onsubmit => "return false;"} do |f| %>
        <div class="row comments_holder">
          <div class="field">
            <%= text_area_tag :comments %>
            <%=f.hidden_field :id, :value=>@question.id %>
          </div>
          <div>
            <div class="actions pull-left">
              <button type="submit" id = "add_comment" class="btn btn-default modal_btn" >Add comment</button>
            </div>
            <div class="modal-footer m_footer_container">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
            <% end %>
      </div>

    </div>
  </div>
</div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
        jQuery(".best_in_place").best_in_place();
    } );

    function reject_question(id)
    {
        $("#question_id").val(id);
        $('#commentsModal').modal('toggle');
    }
    $('#add_comment').click(function() {
        var $form = $('#add_comments');
        var serializedData = $form.serialize();
        <% if current_user.is_teacher? %>
            var $question_details_form = $('#question_details');
            serializedData += $question_details_form.serialize();
        <% end %>
        $.ajax({
            url:'/questions/reject_question',
            type:'get',
            dataType:'json',
            data: serializedData,
            async:false,
            processData:false,
            success:function (response) {
                if(response.success) {
                    if (response.question_id == "") {
                        window.location = '/questions/questions_approval';
                    }
                    else {
                        window.location = '/questions/' + response.question_id;
                    }
                }
                else
                {
                    alert(response.message);
                    window.location = '/questions/questions_approval';
                }
            },
            error:function (data) {
                alert ("Error Occurred");
            }
        });
    });

</script>