<div class=" stat_holder">
  <label>Statement</label>
  <%=raw @question.statement %>
</div>

<% unless @question.question_type.eql?(1) %>

<div class="field field_holder">
  <label>Answer</label>
  <%=raw @question.options.last.statement %>
</div>

<% else %>

    <div class="option_holder">
    <% @question.options.each do |option| %>
    <div class="field field_holder">
      <label>Option</label>
      <%=option.statement if option.flag.nil? %>
      <%=image_tag option.avatar.url(:thumb) unless option.flag.nil? %>
      <% unless option.is_answer == 0 %>
        <p>Answer => 'Yes'</p>
      <% else %>
          <p>Answer => 'No'</p>
      <% end %>

    </div>
        <% end %>

<% end %>
</div>
<div class="page-content-wrapper">
<div class="field field_holder">
  <label>Description </label>
  <%=raw @question.description %>
</div>

<div class="field field_holder">
  <label>Instruction</label>
  <%=raw @question.instruction %>
</div>

<div class="field field_holder">
  <label>Source</label>
  <%=raw @question.source %>
</div>


<!--
<div class="field field_holder">
  <label>Topic Name</label>
  < %=raw @question.topic.name %>
</div>
-->

<div class="field field_holder">
  <label>Author</label>
  <%=raw @question.author %>
</div>

<div class="field field_holder">
  <label>Difficulty</label>
  <%=raw @question.difficulty %>
</div>
<div class=" stat_holder">
<h4>Past Paper History</h4>
</div>

<div class="field field_holder">
  <label>Question#</label>
  <%= @question.past_paper_history.nil? ? "N/A" : @question.past_paper_history.ques_no %>
</div>

<div class="field field_holder">
  <label>Session </label>
  <%= @question.past_paper_history.nil? ? "N/A" : @question.past_paper_history.session %>
</div>

<div class="field field_holder">
  <label>Year</label>
  <%= @question.past_paper_history.nil? ? "N/A" : @question.past_paper_history.year %>
</div>
</div>

<div class="btn_holder">
  <% if params["from"].present? %>
      <% if params["from"] == "proofreader" && @question.workflow_state.nil? %>

          <%= link_to 'Approve', approve_question_questions_path(:ques_id=> @question.id, :from=>"view", :role=>params["from"]) , :class=> 'btn btn-large btn-inverse'%>
          <%= link_to 'Reject', reject_question_questions_path(:ques_id=> @question.id, :role=>params["from"]) , :class=> 'btn btn-large btn-inverse'%>
          <script>
              document.write("<a class='btn btn-large btn-inverse' href='javascript:history.back()'>Go Back</a>");
          </script>
      <% else %>
          <script>
              document.write("<a class='btn btn-large btn-inverse' href='javascript:history.back()'>Go Back</a>");
          </script>
      <% end %>

  <% else %>
      <%= link_to 'Demo', demo_questions_path(:ques_id=> @question.id) , :class=> 'btn btn-large btn-inverse'%>
      <%= link_to 'Edit', edit_question_path(@question) , :class=> 'btn btn-large btn-inverse'%>
      <%= link_to 'New', questions_path , :class=> 'btn btn-large'%>
      <%= link_to 'Add Next', add_questions_questions_path(:q_id => @question.id) , :class=> 'btn btn-large'%>
  <% end %>
</div>