<% if current_user.is_admin? %>
    <%= link_to "Manage Tests", quizzes_path, class: "btn btn-primary" %> |
    <%= link_to "Comment Feedback", "/comment_feedback", class: "btn btn-primary" %> |
    <%= link_to "Video Feedback", "/check_quiz", class: "btn btn-primary" %>
<% end %>

<h1 class='title-edit-user'>Editing quiz</h1>
<div class="listing-holder listing-holder-edit-user">
    <%= render 'form' %>
</div>
<%= link_to 'Show', @quiz, :class=>'btn btn-inverse' %> |
<%= link_to 'Back', quizzes_path, :class=>'btn btn-inverse' %>
