<style>
  #quiz_result {
    background-color: white;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<div id="quiz_result">
  <br>

  <h4 style="font-weight: bold" align="center">E-LEARNING SERVICES, PAKISTAN.</h4>
  <span>     <i><%= current_user.name %></i></span>

  <span style="float: right"><i><%= DateTime.now.to_date %> / <%= @quiz.name %> / <%= @quiz.test_code %></i></span>

  <span style="float: right;padding-right: 35%"><i><%= @bdgree.board.name %> / <%= @bdgree.degree.name %> / <%= @quiz.course.name %></i></span>

  <br><br>

  <table>
    <tr>
      <td>Total Questions</td>
      <td align="center"><%= @count[:mcq]+@count[:truefalse]+@count[:fill]+@count[:descriptive] %></td>
    </tr>
    <tr>
      <td>      MCQs</td>
      <td align="center"><%= @count[:mcq] %></td>
    </tr>
    <tr>
      <td>      Fill in the Blanks</td>
      <td align="center"><%= @count[:fill] %></td>
    </tr>
    <tr>
      <td>      True / False</td>
      <td align="center"><%= @count[:truefalse] %></td>
    </tr>
    <tr>
      <td>      Structured Questions</td>
      <td align="center"><%= @count[:descriptive] %></td>
    </tr>
    <tr>
      <td>Time Allowed</td>
      <td align="center"><%= @time_allowed %> minutes</td>
    </tr>
  </table>

  <br><br>

  <table>
    <tr>
      <td style="font-weight: bold"align="center">STUDENT NAME</td>
      <td style="font-weight: bold"align="center">RESULT</td>
    </tr>
    <% @students.each_with_index do |student,index| %>
        <tr>
          <td><%= index+1 %> - <%= student[:student_name] %></td>
          <td align="center"><%= student[:score] %> / <%= student[:total] %> - <%= student[:percentage] %>%, {Grade-<%= student[:grade] %>}</td>
        </tr>
    <% end %>
  </table>
</div>


<br><br><br><br>

<button id="cmd" onclick="pdf()">generate PDF</button> | <%= link_to 'Back', quizzes_path %>


<script>
  function pdf()
  {
    var doc = new jsPDF();

    doc.addHTML($('#quiz_result')[0],function() {
      doc.save('Quiz Result.pdf');
    });

  }
</script>

<!--<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>-->
