<% if current_user.is_proofreader? %>
 <h2>Register Operator</h2>
<% else %>
    <h2>Register User</h2>
    <% end %>
<div class="row">
  <div class="span5">
<%= form_for @user, :url => {:controller => 'teacher', :action => 'create'} do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email,:required => true, :autofocus=> true ,:class=>'row_field' %>
    </div>

     <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$' ,:class=>'row_field' %>
     </div>

        <div class="field">
          <%= f.label :phone %>
          <%= f.phone_field :phone ,:required => true,:class=>'row_field' %>
        </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" ,:required => true,:class=>'row_field' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" ,:required => true,:class=>'row_field' %>

    </div>
    <div class="field">
      <%= f.label :role %>
      <select id="role_id" name="role_id" class="row_field"  onchange="show_degrees();">
        <option>Please select role for User</option>
        <%@roles.each do |x| %>

            <option value="<%=x.id%>""><%=x.name%></option>
        <% end %>
      </select>

    </div>
    <div id="degreeList" style="display: none;" class="field">
      <%=label_tag :degree %>
        <%@degrees.each do |degree| %>
          <%= check_box_tag 'degree[]', degree.id,false %><%=degree.name %>
        <% end %>
    </div>
    <div id="courseList" style="display: none;" class="field">
      <%=label_tag :course %>
      <select id="course" class="row_field" name="course" >
        <option value="">Please select a course</option>
        <%@courses.each do |x| %>
            <option value="<%=x.id%>"><%=x.name%></option>
        <% end %>
      </select>
      </div>
        <div class="field">
            <%= f.hidden_field :role , :value => current_user.id.to_s %>
        </div>
    <div class="actions">
      <%= f.submit "Register", :class => 'btn btn-large btn-inverse' %>
    </div>
<% end %>
</div>
    <div class="span5 offset1">
      <% if current_user.is_proofreader? %>
        <h3>Listed Operators</h3>

        <% User.where(:role => current_user.id.to_s).each do |opertaor| %>
        <li>
          <%=opertaor.email %>
        </li>
        <% end %>
      <% else %>
          <h3>Listed Users</h3>
          <div class="usersList">
          <% User.all.each do |teacher| %>
              <li>
                <%=teacher.email %>
              </li>
          <% end %>
            </div>
          </div>
      <% end %>
    </div>

</div>






<script>

    function show_degrees() {
        if ($("#role_id option:selected").text() == "Teacher")
        {
            $("#degreeList").show();
            $("#courseList").show();
        }
        else
        {
            $("#courseList").hide();
            $("#degreeList").hide();
        }
    }
</script>