<h2>Register Teacher</h2>
<div class="row">
  <div class="span5">
<%= form_for @user, :url => {:controller => 'teacher', :action => 'create'} do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email,:required => true, autofocus: true ,:class=>'row_field' %>
    </div>

     <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$' ,:class=>'row_field' %>
     </div>

        <div class="field">
          <%= f.label :phone %><br />
          <%= f.phone_field :phone ,:required => true,:class=>'row_field' %>
        </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" ,:required => true,:class=>'row_field' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" ,:required => true,:class=>'row_field' %>

    </div>
    <div class="field">

      <%= f.hidden_field :role , :value => 'teacher' ,:class=>'row_field' %>

    </div>




    <div class="actions">
      <%= f.submit "Register", :class => 'btn btn-large btn-inverse' %>
    </div>
<% end %>
</div>
    <div class="span5 offset1">
        <h3>Listed Teachers</h3>
        <% User.all.select {|x| x.is_teacher?}.each do |teacher| %>
        <li>
          <%=teacher.email %>
        </li>
        <% end %>
    </div>
</div>






<script>
    checkPass(pass)
    {
        alert (pass);


    }
</script>