<h2>Register Teacher</h2>
<div class="row">
  <div class="span5">
<%= form_for @user, :url => {:controller => 'teacher', :action => 'create'} do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email,:required => true, autofocus: true ,:class=>'row_field' %>
    </div>

     <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$' ,:class=>'row_field' %>
     </div>

        <div class="field">
          <%= f.label :phone %>
          <%= f.phone_field :phone ,:required => true,:class=>'row_field' %>
        </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" ,:required => true,:class=>'row_field' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" ,:required => true,:class=>'row_field' %>

    </div>
    <div class="field">
      <%= f.label :role %>
      <select id="role_id" name="role_id" class="row_field" >
        <option>Please select role for User</option>
        <%@roles.each do |x| %>

            <option value="<%=x.id%>"><%=x.name%></option>
        <% end %>
      </select>

    </div>




    <div class="actions">
      <%= f.submit "Register", :class => 'btn btn-large btn-inverse' %>
    </div>
<% end %>
</div>
    <div class="span5 offset1">
        <h3>Listed Teachers</h3>
        <% User.all.each do |teacher| %>
        <li>
          <%=teacher.email %>
        </li>
        <% end %>
    </div>
</div>






<script>
    checkPass(pass)
    {
        alert (pass);


    }
</script>