<h2>Edit User</h2>
<div class="row">
  <div class="span5">
    <%= form_for @user, :url => {:controller => 'teacher', :action => 'update'} do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this question from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, :disabled => true, :value => @user.email %>
        </div>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, :autofocus => true, :value => @user.name %>
        </div>

        <div class="field">
          <%= f.label :phone %><br />
          <%= f.text_field :phone , :value => @user.phone %>
        </div>

        <div class="field">
          <%= f.label :new_password %>
          <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :new_password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

        </div>

        <div class="field">
          <%= label_tag :current_password_confirmation %><br />
          <%= password_field_tag :current_password_confirmation, autocomplete: "off", value: @user.encrypted_password %>

        </div>

        <%= f.label :role %>
        <select id="role_id" name="role_id" class="row_field" onchange="show_degrees();" >
          <option>Please select role for User</option>
          <%@roles.each do |x| %>
              <% if !@user_role_id.nil? && @user_role_id == x.id %>
                  <option selected value="<%=x.id%>"><%=x.name%></option>
              <% else %>
                  <option value="<%=x.id%>"><%=x.name%></option>
              <% end %>

          <% end %>
        </select>
        <div id="degreeList" style="display: none;" class="field">
          <%=label_tag :degree %>
          <%@degrees.each do |degree| %>
              <% if !@teacher_courses.nil? && @teacher_courses.any? { |b| b[:degree_id] == degree.id     } %>
                <%= check_box_tag 'degree[]', degree.id,true %><%=degree.name %>
              <% else %>
                  <%= check_box_tag 'degree[]', degree.id,false %><%=degree.name %>
              <% end %>
          <% end %>
        </div>
        <div id="courseList" style="display: none;" class="field">
          <%=label_tag :course %>
          <select id="course" class="row_field" name="course" >
            <option value="">Please select a course</option>
            <%@courses.each do |x| %>
                <% if !@teacher_courses.nil? && @teacher_courses.any? { |b| b[:course_id] == x.id } %>
                    <option selected value="<%=x.id%>"><%=x.name%></option>
                <% else %>
                    <option value="<%=x.id%>"><%=x.name%></option>
                <% end %>
            <% end %>
          </select>
        </div>
        <div class="field">
          <%= hidden_field_tag :id , @user.id %>
          <%= hidden_field_tag :user_role_id ,@user_role_id %>
          <%= hidden_field_tag :teacher_courses , @teacher_course %>

        </div>




        <div class="actions">
          <%= f.submit "Register" , class: 'btn btn-large btn-inverse' %>
        </div>
    <% end %>
  </div>
  <div class="span5 offset1">
    <% if current_user.is_proofreader? %>
        <h3>Listed Operators</h3>
        <% User.where(:role => current_user.id.to_s).each do |opertaor| %>
            <li>
              <%=opertaor.email %>
            </li>
        <% end %>
    <% else %>
        <h3>Listed Users</h3>
        <div class="usersList">
        <% User.all.each do |teacher| %>
            <li>
              <%=teacher.email %>
            </li>
        <% end %>
    <% end %>
  </div>
</div>
<script>
    $( document ).ready(function() {
        if ($("#role_id option:selected").text() == "Teacher")
        {
            $("#degreeList").show();
            $("#courseList").show();
        }
    });

    function show_degrees() {
        if ($("#role_id option:selected").text() == "Teacher")
        {
            $("#degreeList").show();
            $("#courseList").show();
        }
        else
        {
            $("#courseList").hide();
            $("#degreeList").hide();
        }
    }
</script>