<%= link_to "Manage Users", user_path, class: "btn btn-primary" %> |
<%= link_to "Manage Roles", roles_path, class: "btn btn-primary" %>

<h2 class="title-edit-user" style="margin-top: 20px">Edit User</h2>
<div class="row listing-holder listing-holder-edit-user ">
  <div class="">
    <%= form_for @user, :url => {:controller => 'teacher', :action => 'update'} do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this question from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <div class="span5">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, :disabled => true, :value => @user.email %>
        </div>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true, :value => @user.name %>
        </div>

        <div class="field">
          <%= f.label :phone %>
          <%= f.text_field :phone , :value => @user.phone %>
        </div>

        <div class="field">
          <%= f.label :new_password %>
          <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :new_password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

        </div>

        <div class="field">
          <%= label_tag :current_password_confirmation %>
          <%= password_field_tag :current_password_confirmation,@user.encrypted_password, autocomplete: "off",size: 30 %>

        </div>

        <%= f.label :role %>
        <select id="role_id" name="role_id" class="row_field" onchange="show_degrees();" >
          <option>Please select role for User</option>
          <%@roles.each do |x| %>
              <% if current_user.is_proofreader? %>
                  <script type="application/javascript" >
                      $( document ).ready(function() {
                          $("#role_id").prop("disabled", true);
                      });
                  </script>
              <% end %>
              <% if !@user_role_id.nil? && @user_role_id == x.id %>
                  <option selected value="<%=x.id%>"><%=x.name%></option>
              <% else %>
                  <option value="<%=x.id%>"><%=x.name%></option>
              <% end %>

          <% end %>
        </select>
    </div>



        <div id="proofreader_all" class="field" style="display: none;">
          <%= f.label "Proof Reader" %>
          <select id="user_role" name="user[role]" class="row_field">
            <option value="0">Please select Proof Reader</option>
            <%@proofreaders.each do |proofreader| %>
                <% if @user.role == proofreader.id.to_s %>
                    <option value="<%=proofreader.id%>" selected><%=proofreader.email%></option>
                <% else %>
                    <option value="<%=proofreader.id%>"><%=proofreader.email%></option>
                <% end %>
            <% end %>
          </select>

        </div>

        <div class="field">
          <%= hidden_field_tag :id , @user.id %>
          <%= hidden_field_tag :user_role_id ,@user_role_id %>
          <%= hidden_field_tag :teacher_courses , @teacher_course %>

        </div>


        <div class="span5 offset1">
          <% if current_user.is_proofreader? %>
              <h3>Listed Operators</h3>
              <% User.where(:role => current_user.id.to_s).each do |opertaor| %>
                  <li>
                    <%=opertaor.email %>
                  </li>
              <% end %>
          <% else %>
              <h3>Listed Users</h3>
              <div class="usersList">
                <% User.all.each do |teacher| %>
                    <li>
                      <%=teacher.email %>
                    </li>
                <% end %>
          <% end %>
          </div>
        </div>

        <div class="actions col-md-12">
          <%= f.submit "Update", :id => "submit", :onclick => " return register()", :class => 'btn btn-large btn-inverse' %>
        </div>

        <div id="student" style="display: none;" class="field col-md-12" >
          <br>
          <div class="alert alert-danger" id="permission_error" style="display:none">
            Atleast one permission should be checked.
          </div>
          <% if @user.test_permission_ids %>
              <% if @user.test_permission_ids.split(',').include?("1") %>
                  <%= check_box_tag "test_permission_ids[0]",  "1", checked: true %>
                  Attempt test by code
              <% else %>
                  <%= check_box_tag "test_permission_ids[0]",  "1" %>
                  Attempt test by code
              <% end %>

              <% if @user.test_permission_ids.split(',').include?("2") %>
                  <%= check_box_tag "test_permission_ids[1]",  "2", checked: true %>
                  Attempt past papers
              <% else %>
                  <%= check_box_tag "test_permission_ids[1]",  "2" %>
                  Attempt past papers
              <% end %>

              <% if @user.test_permission_ids.split(',').include?("3") %>
                  <%= check_box_tag "test_permission_ids[2]",  "3", checked: true %>
                  Create your own test
              <% else %>
                  <%= check_box_tag "test_permission_ids[2]",  "3" %>
                  Create your own test
              <% end %>
          <% else %>
              <%= check_box_tag "test_permission_ids[0]",  "1" %>
              Attempt test by code
              <%= check_box_tag "test_permission_ids[1]",  "2" %>
              Attempt past papers
              <%= check_box_tag "test_permission_ids[2]",  "3" %>
              Create your own test
          <% end %>
          <br><br>

          <% if @user_packages.any? %>
              <table class="table">
                <thead>
                <tr>
                  <th>Course</th>
                  <th>Credit</th>
                </tr>
                </thead>
                <tbody>
                <% @user_packages.each do |package| %>
                    <tr>
                      <td><span><%= package.name %></span></td>
                      <td><%= text_field_tag "package[#{package.id}]", package.credit_left %></td>

                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>

        </div>


        <div id="courseList_all" style="display: none;" class="field courseList_all">
          <table class="table">
            <thead>
            <tr>
              <th>Course</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <%@courses.each do |x| %>
                <tr>
                  <td><span><%=x.name %></span></td>
                  <td><%= check_box_tag "course[]", x.id,!@user.teacher_courses.nil? && @user.teacher_courses.any? { |b| b[:course_id] == x.id} %></td>

                </tr>
            <% end %>
            </tbody>
          </table>



        </div>

        <div id="degreeList" style="display: none;" class="field degreeListEdit row">
          <%=label_tag :degree %>

          <%@degrees.each_with_index do |degree,index| %>
              <div class="col_deg col-md-3">
                <%= check_box_tag 'degree[]'+degree.id.to_s, degree.id,!@teacher_courses.nil? && @teacher_courses.any? { |b| b[:degree_id] == degree.id } ? true:false, :onclick => "show_courses(this);", :class => "degree" %><%=degree.name %>
                <div id="courseList_<%= degree.id %>" class="field courseList_post cousreList_post_edit">

                </div>
              </div>
          <% end %>
        </div>

        <div style="margin-top: 15px;display: none" id="teacher_features">
          <div class="field col-md-12" >
            <br>
            <%= label_tag :question_review_permissions %>
            <br><br>
            <% if @user.review_permission_ids %>
                <% if @user.review_permission_ids.split(',').include?("1") %>
                    <%= check_box_tag "review_permission_ids[0]",  "1", checked: true %>
                    Can Review Questions for Publishing
                <% else %>
                    <%= check_box_tag "review_permission_ids[0]",  "1" %>
                    Can Review Questions for Publishing
                <% end %>

                <% if @user.review_permission_ids.split(',').include?("2") %>
                    <%= check_box_tag "review_permission_ids[1]",  "2", checked: true %>
                    Can Provide Assessment for Students Exams
                <% else %>
                    <%= check_box_tag "review_permission_ids[1]",  "2" %>
                    Can Provide Assessment for Students Exams
                <% end %>

                <% if @user.review_permission_ids.split(',').include?("3") %>
                    <%= check_box_tag "review_permission_ids[2]",  "3", checked: true %>
                    Can Provide Video Reviews for Students Exams
                <% else %>
                    <%= check_box_tag "review_permission_ids[2]",  "3" %>
                    Can Provide Video Reviews for Students Exams
                <% end %>
            <% else %>
                <%= check_box_tag "review_permission_ids[0]",  "1" %>
                Can Review Questions for Publishing
                <%= check_box_tag "review_permission_ids[1]",  "2" %>
                Can Provide Assessment for Students Exams
                <%= check_box_tag "review_permission_ids[2]",  "3" %>
                Can Provide Video Reviews for Students Exams
            <% end %>

            <br><br>
          </div>


        </div>

    <% end %>
  </div>



          </div>
<script>
    $( document ).ready(function() {
        if ($("#role_id option:selected").text() == "Teacher")
        {
            $("#degreeList").show();
            $("#teacher_features").show();
            $('.degree').each(function( index ) {
                var object = this;
                var user_id = $("#id").val();
                if (object.checked) {
                    $.ajax({
                        url: '/courses/get_courses_by_degree_id?degree_id=' + object.value + '&user_id='+ user_id,
                        type: 'get',
                        dataType: 'html',
                        processData: false,
                        success: function (data) {
                            $("#"+"courseList_"+object.value).show();
                            $("#"+"courseList_"+object.value).html(data);
                        },
                        error: function (data) {
                            alert("Error Occurred");
                        }
                    });
                }
            });
            $("#courseList").show();
        }
        else if ($("#role_id option:selected").text() == "Hod")
        {
            $("#degreeList").hide();
            $("#courseList_all").show();
          $("#teacher_features").hide();
        }
        else if ($("#role_id option:selected").text() == "Operator")
        {
            $("#proofreader_all").show();
          $("#teacher_features").hide();
        }
        else if ($("#role_id option:selected").text() == "Student")
        {
          $("#student").show();
          $("#teacher_features").hide();
        }
    });

    function register(){
      if ($("#role_id option:selected").text() == "Student")
      {
        $("#permission_error").hide();
        if(document.getElementById('test_permission_ids_0').checked || document.getElementById('test_permission_ids_1').checked || document.getElementById('test_permission_ids_2').checked)
        {
          return true;
        }
        else
        {
          $("#permission_error").show();
          return false;
        }
      }
      else
          return true;

    }

    function show_degrees() {
        if ($("#role_id option:selected").text() == "Teacher")
        {
            $("#degreeList").show();
            $("#teacher_features").show();
            $("#student").hide();
            $(".courseList_post").hide();
            $("#courseList_all").hide();
            $("#proofreader_all").hide();

        }
        else if ($("#role_id option:selected").text() == "Hod")
        {
            $("#courseList_all").show();
            $("#teacher_features").hide();
            $("#student").hide();
            $("#degreeList").hide();
            $("#proofreader_all").hide();
        }
        else if ($("#role_id option:selected").text() == "Operator")
        {
            $("#proofreader_all").show();
            $("#student").hide();
            $("#teacher_features").hide();
        }
        else if ($("#role_id option:selected").text() == "Student")
        {
          $("#courseList_all").hide();
          $("#courseList").hide();
          $("#degreeList").hide();
          $("#proofreader_all").hide();
          $("#teacher_features").hide();
          $("#student").show();
        }
        else
        {
            $("#courseList_all").hide();
            $("#courseList").hide();
            $("#degreeList").hide();
            $("#proofreader_all").hide();
            $("#student").hide();
        }
    }
    function show_courses(object)
    {
        var user_id = $("#id").val();
        if (object.checked) {
            $.ajax({
                url: '/courses/get_courses_by_degree_id?degree_id=' + object.value + '&user_id='+ user_id,
                type: 'get',
                dataType: 'html',
                processData: false,
                success: function (data) {
                    $("#"+"courseList_"+object.value).show();
                    $("#"+"courseList_"+object.value).html(data);
                },
                error: function (data) {
                    alert("Error Occurred");
                }
            });
        }
        else
            $("#"+"courseList_"+object.value).hide();
    }
</script>