<div class="listing-holder">
<table class="table table-condensed">
  <th>Email</th>
  <th>Name</th>
  <th>Contact number</th>
  <th>Role</th>
  <th></th>

  <%@users.each do |user|  %>
<tr>
  <td><%= user.email %></td>
  <td><%= user.name %></td>
  <td><%= user.phone %></td>
  <td><%= user.roles.first.name unless user.roles.first.nil? %></td>
  <td><%= link_to 'Edit', edit_teacher_path(user) %></td>



</tr>



  <% end %>


</table>
</div>
<% if current_user.is_proofreader? %>
    <%= link_to 'Add new operator', user_new_path, class: 'btn btn-large btn-inverse' %>
<% else %>
    <%= link_to 'Add new user', user_new_path, class: 'btn btn-large btn-inverse' %>
<% end %>
