

<div class="listing-holder listing_data_table">
<table class="table table-condensed">
  <thead>
  <th>Emails</th>
  <th>Name</th>
  <th>Contact number</th>
  <th>Role</th>
  <th>Status</th>
  </thead>
<tbody>
  <%@users.each do |user|  %>
<tr>
  <td><%= user.email %></td>
  <td><%= user.name %></td>
  <td><%= user.phone %></td>
  <td><%= user.roles.first.name unless user.roles.first.nil? %></td>
  <td><%= link_to 'Edit', edit_teacher_path(user) %></td>



</tr>



  <% end %>
</tbody>


</table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.table').dataTable();
    } );
</script>
<% if current_user.is_proofreader? %>
    <%= link_to 'Add new operator', user_new_path, :class=> 'btn btn-large btn-inverse' %>
<% else %>
    <%= link_to 'Add new user', user_new_path, :class=> 'btn btn-large btn-inverse' %>
<% end %>
