<h1>New Students</h1>

<div class="listing-holder">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Accept</th>
      <th>Reject</th>

    </tr>
    </thead>
    <tbody>
    <% @new_students.each do |student| %>
        <tr id="row_<%= student.id %>">
          <td><%= student.student_name %></td>
          <td><%= student.student_email %></td>
          <td><%= link_to "Accept","teacher/accept_student?id=#{student.id}",remote: true %></td>
          <td><%= link_to "Reject","teacher/reject_student?id=#{student.id}",remote: true %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if can? :manage, Board %>
    <%= link_to 'New Board', new_board_path, :class=> 'btn btn-large btn-inverse' %>
<% end %>
