<div class="row wrapper page-heading border-bottom white-bg">
  <h1>New Students</h1>
</div>

<div class="row wrapper wrapper-content">
  <div class="ibox float-e-margin">
    <div class="ibox-title">
      <h5>Students</h5>
    </div>
    <div class="ibox-content listing-holder">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Accept</th>
          <th>Reject</th>

        </tr>
        </thead>
        <tbody>
        <% @new_students.each do |student| %>
            <tr id="row_<%= student.id %>">
              <td><%= student.student_name %></td>
              <td><%= student.student_email %></td>
              <td><%= link_to "Accept","teacher/accept_student?id=#{student.id}",remote: true %></td>
              <td><%= link_to "Reject","teacher/reject_student?id=#{student.id}",remote: true %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row wrapper ">
  <% if can? :manage, Board %>
      <%= link_to 'New Board', new_board_path, :class=> 'btn btn-large btn-inverse' %>
  <% end %>
</div>



