<div class="page-content-wrapper">
  <div class=" stat_holder" style="margin-top: 20px">
    <label><strong>Question Statement</strong></label>
    <%= raw @question.statement %>
  </div>

  <div class="field stat_holder">

    <% unless @answer.answer_detail %>
        <label><strong>Teacher Review</strong></label>
        <%= image_tag @answer.image.url %>
    <% else %>
        <label><strong>Submitted Answer</strong></label>
        <%= raw @answer.answer_detail %>
    <% end %>
  </div>

  <div class="field stat_holder">
    <label><strong>Remarks</strong></label>
    <%= @answer.remarks %>
  </div>

  <div class="field stat_holder">
    <label><strong>Marks</strong></label>
    <%= @answer.marks %> / <%= @question.marks %>
  </div>

  <% if @answer.video_file_name %>
      <div class="field stat_holder">
        <label><strong>Video Review</strong></label>
        <div  style="width:800px; margin:0 auto;">
          <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"
                 controls preload="auto" width="640" height="400"
                 poster="http://video-js.zencoder.com/oceans-clip.png"
                 data-setup='{"example_option":true}'>
            <source src="<%= @answer.video %>" type="video/webm" />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </div>

      </div>
  <% end %>

  <% if @answer.video_file_name %>
      <% if @finish_flag %>
          <%= link_to "Finish Review", check_quiz_path, class: "btn btn-primary" %>
      <% else %>
          <%= link_to "Next Answer", teachers_preview_question_path, class: "btn btn-primary" %>
      <% end %>
  <% else %>
      <% if @finish_flag %>
          <%= link_to "Finish Review", comment_feedback_path, class: "btn btn-primary" %>
      <% else %>
          <%= link_to "Next Answer", teachers_preview_question_path, class: "btn btn-primary" %>
      <% end %>
  <% end %>

</div>