<div class=" stat_holder" style="margin-top: 20px">
  <label><strong>Statement</strong></label>
  <%= raw @question.statement %>
</div>

<div class="field stat_holder">
  <label><strong>Submitted Answer</strong></label>
  <%= raw @option.statement %>
</div>

<div class="field stat_holder">
  <label><strong>Student Answer</strong></label>
  <% unless @answer.answer_detail %>
      <iframe src="https://www.picozu.com/editor/?i=<%= @answer.image.url.gsub("http", "https").split("?")[0] %>&workspace=0&theme=galaxy&key=Ci8Mh5lIdX1Me3kB" width="900" height="600"></iframe>
  <% else %>
      <%= raw @answer.answer_detail %>
  <% end %>
</div>

<%= hidden_field_tag :image_url, "" %>

<% unless @finish_flag %>
    <%= form_tag "/save_remarks", onsubmit: "return check_marks()" do |f| %>
        <div class="field stat_holder">
          <label><strong>Remarks</strong></label>
          <%= text_field_tag :remarks, "", size: 140, required: true, autocomplete: "off" %>
        </div>

        <div class="field stat_holder">
          <label><strong>Marks</strong></label>
          <%= text_field_tag :marks, "", size: "4x4", required: true, autocomplete: "off" %><font size="6"> /<span id="total_marks"><%= @question.marks %></span></font><br>
          <div id="error" class="alert alert-danger" style="display: none">
            Cannot assign more than mentioned marks
          </div>
          <div id="error2" class="alert alert-danger" style="display: none">
            Please enter a number
          </div>
        </div>

        <%= hidden_field_tag :question_ids, @question_ids %>

        <%= hidden_field_tag :answer_id, @answer.id %>

        <%= submit_tag "Save Remarks", class: "btn btn-primary", id: "save_remarks" %>
    <% end %>
<% else %>
    <%= form_tag teachers_finish_review_path, onsubmit: "return check_marks()" do |f| %>
        <div class="field stat_holder">
          <label><strong>Remarks</strong></label>
          <%= text_field_tag :remarks, "", size: 140, required: true, autocomplete: "off" %>
        </div>

        <div class="field stat_holder">
          <label><strong>Marks</strong></label>
          <%= text_field_tag :marks, "", size: "4x4", required: true, autocomplete: "off" %><font size="6"> /<span id="total_marks"><%= @question.marks %></span></font><br>
          <div id="error" class="alert alert-danger" style="display: none">
            Cannot assign more than mentioned marks
          </div>
          <div id="error2" class="alert alert-danger" style="display: none">
            Please enter a number
          </div>
        </div>

        <%= hidden_field_tag :question_ids, @question_ids %>
        <%= hidden_field_tag :test_id, @test.id %>
        <%= hidden_field_tag :answer_id, @answer.id %>

        <%= submit_tag "Finish Review", class: "btn btn-primary", id: "save_remarks" %>
    <% end %>
<% end %>





 <script>


  $('#marks').on("input", function(){
    $('#error').hide();
    $('#error2').hide();
    if($.isNumeric($('#marks').val()))
    {
      if(Number($('#marks').val()) > Number($('#total_marks').text()))
      {
        $('#error').show();
        return false;
      }
      else
      {
        $('#error').hide();
        return false;
      }
    }
    else
    {
      $('#error2').show();
    }
  })

  function check_marks() {
    $('#error').hide();
    $('#error2').hide();
    if($.isNumeric($('#marks').val()))
    {
      if(Number($('#marks').val()) > Number($('#total_marks').text()))
      {
        $('#error').show();
        return false;
      }
      else
      {
        $('#error').hide();
        return true;
      }
    }
    else
    {
      $('#error2').show();
      return false;
    }
  }





  $(function(){

    var $image_url = "";
    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
    var eventer = window[eventMethod];
    var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
    eventer(messageEvent, function(e) {
      // always check if the origin is the Picozu domain, https included.
      if (e.origin === 'https://www.picozu.com') {
        // e.data contains the image properties, and you can construct the URL as following:
//        $('#image_url').val("https://www.picozu.com/v/" + e.data.dir + e.data.code + '.' + e.data.format);
        $.ajax({
          url: "/student/upload_image?image=" + "https://www.picozu.com/v/" + e.data.dir + e.data.code + '.' + e.data.format + "&answer_id=" + <%= @answer.id %>,
          method: "POST",
          success: function(data){
            alert("done");
          }

        })
      }
    }, false);

//    $('#save_remarks').on("click", function(){
//      $.ajax({
//        url: "/student/upload_image?image=" + $('#image_url').val() + "&answer_id=" + <%= @answer.id %>,
//        method: "POST",
//        success: function(data){
//          alert("done");
//        }
//
//      })
//    })

//    $('.picozu').ClassyPicozu({
//      key: 'Ci8Mh5lIdX1Me3kB',
//      width: 900,
//      height: 600,
//      onOpen: function(){
//
//      }
//    });




  })

 </script>

