<div class=" stat_holder" style="margin-top: 20px">
  <label><strong>Statement</strong></label>
  <%= raw @question.statement %>
</div>

<div class="field stat_holder">
  <label><strong>Submitted Answer</strong></label>
  <%= raw @option.statement %>
</div>

<div class="field stat_holder">
  <label><strong>Student Answer</strong></label>
  <% unless @answer.answer_detail %>
      <iframe src="https://www.picozu.com/editor/?i=<%= @answer.image.url.gsub("http", "https").split("?")[0] %>&workspace=0&theme=galaxy&key=Ci8Mh5lIdX1Me3kB" width="900" height="600"></iframe>
  <% else %>
      <%= raw @answer.answer_detail %>
  <% end %>
</div>

<%= hidden_field_tag :image_url, "" %>

<%= form_tag "/save_remarks" do |f| %>
    <div class="field stat_holder">
      <label><strong>Remarks</strong></label>
      <%= text_field_tag :remarks, "", size: 140 %>
    </div>

    <div class="field stat_holder">
      <label><strong>Marks</strong></label>
      <%= text_field_tag :marks, "", size: "4x4" %><font size="6"> /<%= @question.marks %></font>
    </div>
    <%= hidden_field_tag :question_ids, @question_ids %>
    <%= hidden_field_tag :answer_id, @answer.id %>
    <% unless @finish_flag %>
      <%= submit_tag "Save Remarks", class: "btn btn-primary", id: "save_remarks" %>
    <% else %>
        <%= link_to "Finish Review", "#", id: "finish_review" , class: "btn btn-primary", style: "margin-top: 15px;" %>
    <% end %>
<% end %>




 <script>







  $(function(){

    var $image_url = "";
    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
    var eventer = window[eventMethod];
    var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
    eventer(messageEvent, function(e) {
      // always check if the origin is the Picozu domain, https included.
      if (e.origin === 'https://www.picozu.com') {
        // e.data contains the image properties, and you can construct the URL as following:
//        $('#image_url').val("https://www.picozu.com/v/" + e.data.dir + e.data.code + '.' + e.data.format);
        $.ajax({
          url: "/student/upload_image?image=" + "https://www.picozu.com/v/" + e.data.dir + e.data.code + '.' + e.data.format + "&answer_id=" + <%= @answer.id %>,
          method: "POST",
          success: function(data){
            alert("done");
          }

        })
      }
    }, false);

    $('#finish_review').on('click', function(){
      $.ajax({
        url: "<%= teachers_finish_review_path %>" + "?test_id=" + <%= @test.id %> + "&answer_id=" + $('#answer_id').val()
        + "&marks=" + $('#marks').val() + "&remarks=" + $('#remarks').val(),
        method: "POST"
      })
    })

//    $('#save_remarks').on("click", function(){
//      $.ajax({
//        url: "/student/upload_image?image=" + $('#image_url').val() + "&answer_id=" + <%= @answer.id %>,
//        method: "POST",
//        success: function(data){
//          alert("done");
//        }
//
//      })
//    })

//    $('.picozu').ClassyPicozu({
//      key: 'Ci8Mh5lIdX1Me3kB',
//      width: 900,
//      height: 600,
//      onOpen: function(){
//
//      }
//    });




  })

 </script>

