<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<div class=" stat_holder" style="margin-top: 20px">
  <label><strong>Statement</strong></label>
  <%= raw @question.statement %>
</div>

<div class="field stat_holder">
  <label><strong>Submitted Answer</strong></label>
  <%= raw @option.statement %>
</div>

<div class="field stat_holder">
  <label><strong>Student Answer</strong></label>
  <% unless @answer.answer_detail %>
      <div id="edit_image">
        <%= render partial: "edit_image" ,locals: {imagee: @image, imagee_ids: @image_ids, imagees: @images}%>
      </div>
      <br><%= link_to "Next Image", "javascript:void(0)", id: "next_image", class: "btn btn-primary" %>
  <% else %>
      <%= raw @answer.answer_detail %>
  <% end %>
</div>

<%= hidden_field_tag :image_url, "" %>

<% unless @finish_flag %>
    <%= form_tag "/save_remarks", onsubmit: "return check_marks()" do |f| %>
        <div class="field stat_holder">
          <label><strong>Remarks</strong></label>
          <%= text_field_tag :remarks, "", size: 140, required: true, autocomplete: "off" %>
        </div>

        <div class="field stat_holder">
          <label><strong>Marks</strong></label>
          <%= text_field_tag :marks, "", size: "4x4", required: true, autocomplete: "off" %><font size="6"> /<span id="total_marks"><%= @question.marks %></span></font><br>
          <div id="error" class="alert alert-danger" style="display: none">
            Cannot assign more than mentioned marks
          </div>
          <div id="error2" class="alert alert-danger" style="display: none">
            Please enter a number
          </div>
        </div>

        <%= hidden_field_tag :question_ids, @question_ids %>

        <%= hidden_field_tag :answer_id, @answer.id %>

        <%= submit_tag "Save Remarks", class: "btn btn-primary", id: "save_remarks" %> | <%= link_to "Close", comment_feedback_path, class: "btn btn-primary" %>
    <% end %>
<% else %>
    <%= form_tag teachers_finish_review_path, onsubmit: "return check_marks()" do |f| %>
        <div class="field stat_holder">
          <label><strong>Remarks</strong></label>
          <%= text_field_tag :remarks, "", size: 140, required: true, autocomplete: "off" %>
        </div>

        <div class="field stat_holder">
          <label><strong>Marks</strong></label>
          <%= text_field_tag :marks, "", size: "4x4", required: true, autocomplete: "off" %><font size="6"> /<span id="total_marks"><%= @question.marks %></span></font><br>
          <div id="error" class="alert alert-danger" style="display: none">
            Cannot assign more than mentioned marks
          </div>
          <div id="error2" class="alert alert-danger" style="display: none">
            Please enter a number
          </div>
        </div>

        <%= hidden_field_tag :question_ids, @question_ids %>
        <%= hidden_field_tag :test_id, @test.id %>
        <%= hidden_field_tag :answer_id, @answer.id %>

        <%= submit_tag "Finish Review", class: "btn btn-primary", id: "save_remarks" %> | <%= link_to "Close", comment_feedback_path, class: "btn btn-primary" %>
    <% end %>
<% end %>





 <script>

  $(document).ready(function(){
    save_image();

    $("#next_image").on('click', function(){
      $.ajax({
        url: "/teachers/next_image",
        success: function(data){
          $('#edit_image').html(data);
          if(Number($('#current_image').text()) == Number($('#total_images').text()))
          {
            $("#next_image").hide();
          }
        }
      })
    })
  })

  $('#marks').on("input", function(){
    $('#error').hide();
    $('#error2').hide();
    if($.isNumeric($('#marks').val()))
    {
      if(Number($('#marks').val()) > Number($('#total_marks').text()))
      {
        $('#error').show();
        return false;
      }
      else
      {
        $('#error').hide();
        return false;
      }
    }
    else
    {
      $('#error2').show();
    }
  })

  function check_marks() {
    $('#error').hide();
    $('#error2').hide();
    if($.isNumeric($('#marks').val()))
    {
      if(Number($('#marks').val()) > Number($('#total_marks').text()))
      {
        $('#error').show();
        return false;
      }
      else
      {
        $('#error').hide();
        return true;
      }
    }
    else
    {
      $('#error2').show();
      return false;
    }
  }

 </script>

