<table class="table table-condensed">
  <tr>
  <td><%= link_to "Add New Course", new_course_path, :class => 'btn btn-inverse btn-large' %></td>
  <td><%= link_to "Add New Degree", new_degree_path, :class => 'btn btn-inverse btn-large' %></td>
  <td><%= link_to "View All Tests", tests_path, :class => 'btn btn-inverse btn-large' %></td>
    </tr>
  <tr>
    <td><%= link_to "Add New Test", new_test_path, :class => 'btn btn-inverse btn-large' %></td>
    <td><%= link_to "Add New Book", new_book_path, :class => 'btn btn-inverse btn-large' %></td>
    <td><%= link_to "View All Books", books_path, :class => 'btn btn-inverse btn-large' %></td>
  </tr>
</table>

