  <ul class="tabs collapsed">

    <% @boards.each_with_index do |board,index| %>

        <a href="#" id="board_<%=index%>" onclick="selectBoardList('board_<%=index %>',<%=board.id%>)" ><li value="<%=board.id%>" class="<%=index % 2 == 0 ? 'even':'odd' %>"><%=board.name%></li></a>

    <% end %>

  </ul>
