  <ul class="tabs collapsed">
    <% if @flag == true %>
        <li value="" class="odd"><%= @degrees.last %></li>
    <% else %>

        <% @degrees.each_with_index do |degree,index| %>

            <a href="javascript:void(0)" id="degree_<%=index%>" onclick="selectDegreeList('degree_<%=index %>',<%=degree.id %>)" ><li value="<%=degree.id%>" class="<%=index % 2 == 0 ? 'even':'odd' %>"><%=degree.name%></li></a>

        <% end %>

    <% end %>


  </ul>
