<% $ques_id = 0 %>
<% $ques_id_array = Array.new %>
<% $arr.each do |ques| %>
<% $ques_id_array << ques.id %>
<% end %>
<div class="modal_left">
  <div class="box_modal">
    <h2>ELS Quiz </h2>

    <label><strong>Question <%=@index + 1%> of <%=$size%></strong></label>
    <p><%=raw $arr[@index].statement %></p>
  </div>
  <div class="question_p_section">

   <%if $arr[@index].question_type == 1 %>
        <% $ques_id = $arr[@index].id %>
        <ul class="pre_question_options" style="list-style-type: upper-alpha;">
          <% $arr[@index].options.shuffle.each_with_index do |option,index| %>
              <% if option.flag.nil? %>
                  <li ><a href="javascript:void(0)" id="ref_<%=index%>" onclick="answer(<%=option.id %>,'ref_<%=index%>', <%= $ques_id %>)"  class='option_question'><%=option.statement %></a></li>
              <% else %>
                  <li ><a href="javascript:void(0)" id="ref_<%=index%>" onclick="answer(<%=option.id %>,'ref_<%=index%>', <%= $ques_id %>)" class=''><%=image_tag option.avatar.url(:medium) %></a></li>
              <% end %>
          <% end %>
        </ul>
    <%elsif $arr[@index].question_type == 4 %>
        <% $ques_id = $arr[@index].id %>
        <ul>
         <li ><a href="javascript:void(0)" id="ref_0" onclick="next_question_type_true_false('ref_0','ref_1','ref_0', <%= $ques_id %>, 'True')" class='option_question'>True</a></li>

         <li ><a href="javascript:void(0)" id="ref_1" onclick="next_question_type_true_false('ref_1','ref_0','ref_1', <%= $ques_id %>, 'False')" class='option_question'>False</a></li>


        </ul>

    <%elsif $arr[@index].question_type == 3 %>
        <% $ques_id = $arr[@index].id %>
    <ul>
      <li>
        <input type="text" id="fill_in_the_blank_field" name="fill_in_the_blank_field"
               onchange="check_blank(<%= $ques_id %>)"
               class="text" autocomplete="off" placeholder="Answer the question" >
      </li>
      <li>
        <label id="answer_correction"></label>
      </li>
    </ul>

    <%elsif $arr[@index].question_type == 2 %>
        <% $ques_id = $arr[@index].id %>
        <%= label_tag "Submit through:" %>
        <%= link_to "Text Editor", "#", id: "editor_btn", class:"btn btn-primary" %> | <%= link_to "Image Uploading", "#", id: "image_btn", class:"btn btn-primary" %><br><br>
        <div id="text_editor">
          <%= cktext_area_tag :descriptive %>
        </div>

        <div id="image_uploading" style="display: none">

          <!--<div id="uploader">-->

          <!--</div>-->

          <div id="show_image">
            <% @ans = Answer.where(question_id: $arr[@index].id, user_test_history_id: $user_test_history_id).first %>
            <% if @ans %>
                <% if @ans.answer_images.any? %>
                    <% @ans.answer_images.each do |image| %>
                        <div id="answer_image_<%= image.id %>">
                          <%= image_tag image.image.url.split('?')[0], size: "200x200", display: "inline" %><br>
                          <%= link_to "Remove", "/home_page/remove_image?answer_image_id=#{image.id}", class: "btn",
                                      remote: true, onclick: "return remove_image(#{image.id})" %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <%= form_for :answer, url: {controller: :home_page, action: :upload_image},
                         :html => {:multipart => true, :id => "submit_image" }, remote: true do |f| %>
                <%= f.file_field :image, class: "file-styled" %><br>
                <%= f.hidden_field :user_test_history_id, value: $user_test_history_id %>
                <%= f.hidden_field :question_id, value: $ques_id %>
                <%= f.submit "Upload Image", name: "upload_image", class: "btn" %>
            <% end %>
          </div>

          <!--<form action="/home_page/upload_image" method="POST" id="submit_image" data-remote="true">-->
            <!--<input type="file" name="answer[image]">-->
            <!--<input type="hidden" name="answer[user_test_history_id]" value="<%#= @user_test_history_id %>">-->
            <!--<input type="hidden" name="answer[question_id]" value="<%#= $ques_id %>">-->
            <!--<button type="submit" class="btn">Upload Image</button>-->
          <!--</form>-->

        </div>

        <br>

  <% end %>

  </div>
    <input type="hidden" id="answer_selected" name="answer_selected" value="1" >

  <div class="modal_iframe_footer">
    <%if @index > 0%>
        <a class="modal_btn" id="modal_btn_new" onclick="previous_question()">Previous</a>
    <% end %>
    <%if @index+1 < $size%>
        <% if $arr[@index].question_type == 2 %>
            <a class="modal_btn" href="#myModal" id="modal_btn_finish" style="display: none" onclick="next_descriptive(<%= $ques_id %>, true)">Finish</a>
            <a class="modal_btn" id="modal_btn_new" onclick="next_descriptive(<%= $ques_id %>)">Next</a>
        <% else %>
            <a class="modal_btn" href="#myModal" id="modal_btn_finish" style="display: none" onclick="finish_quiz()">Finish</a>
            <a class="modal_btn" id="modal_btn_new" onclick="next_quiz()">Next</a>
        <% end %>
    <% else %>
        <% if $arr[@index].question_type == 2 %>
            <a class="modal_btn" href="#myModal" id="modal_btn_finish" onclick="next_descriptive(<%= $ques_id %>, true)">Finish</a>
        <% else %>
            <a class="modal_btn" href="#myModal" class="modal_btn" onclick="finish_quiz()">Finish</a>
        <% end %>
    <% end %>
  </div>
</div>

<div id="myModal" style="overflow:scroll;" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Submit Quiz</h4>
      </div>
      <div class="modal-body">
        <div id="submit_container">

        </div>
      </div>
      <div class="modal-footer">
        <a href="#" onclick="submit_quiz()" class="btn btn-default" >Submit</a>
      </div>
    </div>
  </div>
</div>
<!--<div class="modal fade modal_custom" style="background-color: snow" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title" id="myModalLabel"></h4>-->
      <!--</div>-->
      <!--<div class="modal-body test_results">-->
        <!--<div class="result_holder">-->
          <!--<span id="error" style="display: none" class="text-danger">Please select both options.</span>-->
          <!--<div id="teacher_container" style="display: none">-->
            <!--<label><strong>Submit this quiz to: </strong></label>-->
            <!--<input name="submit" value="1" type="radio" checked="checked">ELS<br>-->
            <!--<input name="submit" value="2" type="radio">Teacher-->
          <!--</div>-->
          <!--<div id="review_container" style="display: none">-->
            <!--<br>-->
            <!--<label><strong>How to assess? </strong></label>-->
            <!--<input name="review" value="1" type="radio" checked="checked">Teacher Review<br>-->
            <!--<input name="review" value="2" type="radio">Video Review-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
      <!--<div class="modal-footer m_footer_container">-->
        <!--<button onclick="submit_quiz()" type="submit" class="btn btn-default" >Close</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<style>
    a.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }
</style>
<!--<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>-->
<script type="text/javascript">

    $.ajax({
      url:'/home_page/get_answer?index='+<%=@index%>,
      type:'get',
      dataType:'json',
      processData:false,
      success:function (data) {
        <% if $arr[@index].question_type == 3 %>
        var str_comp = $("#fill_in_the_blank_field").val(data.option_index);
        <% elsif $arr[@index].question_type == 2 %>
        CKEDITOR.replace('descriptive');
        CKEDITOR.instances['descriptive'].setData(data.option_index);
        <% else %>
        $("#"+data.option_index).addClass('correct_answer');
        <% end %>
      },
      error:function (data) {
        alert ('Error Occurred!!!!');
      }
    });

    $('#editor_btn').on('click', function(){
      $("#text_editor").show();
      $("#image_uploading").hide();
    })

    $('#image_btn').on('click', function(){
      $("#text_editor").hide();
      $("#image_uploading").show();
    })

    $('#submit_image').on('ajax:remotipartSubmit', function(e, data, status, xhr){
      console.dir('here')

      $("<div class='alert alert-info'> <strong>Info!</strong> Image is being processed. </div>").insertBefore( $( "#submit_image" ) );
    })

    $('#submit_image').on("ajax:remotipartComplete", function(e, data, status, xhr){
      $(".alert-info").hide();
      $("#show_image").append(data.responseText);
    });

    function remove_image(image_id){
      $('#answer_image_' + image_id).remove();
      return true;
    }

    function check_blank(ques_id){
        var str_comp = $("#fill_in_the_blank_field").val();

        $.ajax({
            url:'/home_page/save_answer?index='+<%=@index%> + '&option_index=' + str_comp + '&ques_id=' + ques_id + '&choice=' + str_comp,
            type:'get',
            dataType:'json',
            processData:false,
            success:function (data) {

            },
            error:function (data) {
                alert ('Error Occurred!!!!');
            }
        });

    }

    function next_descriptive(ques_id, finish_test){
      if(finish_test == true)
      {
        var answer = CKEDITOR.instances['descriptive'].getData();
        $.ajax({
          url:'/home_page/save_answer?index='+<%=@index%> + '&option_index=' + encodeURIComponent(answer) + '&ques_id=' + ques_id + '&choice=' + encodeURIComponent(answer),
          type:'get',
          dataType:'json',
          processData:false,
          success:function (data) {

          },
          error:function (data) {
            alert ('Error Occurred!!!!');
          }
        });

        finish_quiz();
      }
      else
      {
        var answer = CKEDITOR.instances['descriptive'].getData();
        $.ajax({
          url:'/home_page/save_answer?index='+<%=@index%> + '&option_index=' + encodeURIComponent(answer) + '&ques_id=' + ques_id + '&choice=' + encodeURIComponent(answer),
          type:'get',
          dataType:'json',
          processData:false,
          success:function (data) {

          },
          error:function (data) {
            alert ('Error Occurred!!!!');
          }
        });

        next_quiz();
      }
    }

    function next_question_type_true_false(id,id_2,option, ques_id, choice){


      $.ajax({
        url:'/home_page/save_answer?index='+<%=@index%> + '&option_index=' + option + '&ques_id=' + ques_id + '&choice=' + choice,
        type:'get',
        dataType:'json',
        processData:false,
        success:function (data) {

        },
        error:function (data) {
          alert ('Error Occurred!!!!');
        }
      });


        $("#"+id).addClass('correct_answer');
        $("#"+id_2).removeClass('correct_answer');

    }

  function answer(answer_id,option_index, ques_id)
  {
      $(".question_p_section ul li a").removeClass('correct_answer');
      $("#"+option_index).addClass('correct_answer');
      $.ajax({
          url:'/home_page/save_answer?index='+<%=@index%> + '&option_index=' + option_index + '&ques_id=' + ques_id + '&choice=' + answer_id,
          type:'get',
          dataType:'json',
          processData:false,
          success:function (data) {

          },
          error:function (data) {
              alert ('Error Occurred!!!!');
          }
      });



  }

  function previous_question(){
      var flag = 0;
      if (flag == 0)
      {
          <% if @index > 0 %>
          $.ajax({
              url:'/home_page/next_ques?index='+<%=@index-2%>,
              type:'get',
              dataType:'html',
              processData:false,
              success:function (data) {
                  $("#quiz_container").html(data);

              },
              error:function (data) {
                  alert ('Error Occurred!!!!');
                  //    window.location.reload();
              }
          });

          <% end %>
      }
  }
    function next_quiz(){
        flag = 0;
        if (flag == 0)
        {
            <% if @index < $size - 1 %>
            $.ajax({
                url:'/home_page/next_ques?index='+<%=@index%>,
                type:'get',
                dataType:'html',
                processData:false,
                success:function (data) {
                    $("#quiz_container").html(data);
                },
                error:function (data) {
                    alert ("Error Occurred");
                }
            });


            <% else %>
                score = $( "#score").val();
                alert("you score "+score+"out of <%=$size * 5%>");
            <% if $arr.last.past_paper_history.present? %>
                window.location = 'add_user_test?score='+score + '&total=<%=$size * 5%>&course=<%=$arr.last.past_paper_history.course_id%>'
            <% end %>
            <% end %>
        }
}
//    function pdf()
//    {
//      var doc = new jsPDF();
//      var specialElementHandlers = {
//        '#editor': function (element, renderer) {
//          return true;
//        }
//      };
//
//        doc.fromHTML($('#quiz_result').html(), 25, 25, {
//          'width': 550,
//          'elementHandlers': specialElementHandlers
//        });
//        doc.save('Quiz Result.pdf');
//    }

    function pdf()
    {
      window.print();
    }

    function finish_quiz()
    {
      var confirmText = "Are you sure you want to finish this test?";
      if(confirm(confirmText)) {
        $.ajax({
          url: "/homepage/check_student_package?user_test_history_id=" + <%= $user_test_history_id %>,
          type: 'get',
          success: function(data){
            if(data.user_package == 1)
            {
              submit_quiz();
            }
            else if(data.user_package == 3)
            {
              $('#myModal').modal('toggle');
              $.ajax({
                url: "/home_page/fetch_teachers?teacher_ids=" + data.teacher_ids,
                type: 'get',
                success: function(data){
                  $('#submit_container').html(data);
                  $('#review_container').show();
                },
                error: function(data){
                  alert("Error Occured");
                }
              });
            }
            else if(data.user_package == 2)
            {
              $('#myModal').modal('toggle');
              $.ajax({
                url: "/home_page/fetch_teachers?teacher_ids=" + data.teacher_ids,
                type: 'get',
                success: function(data){
                  $('#submit_container').html(data);
                },
                error: function(data){
                  alert("Error Occured");
                }
              });
            }
          },
          error: function(data){

          }
        });
      }
    }


    function submit_quiz()
    {
      $('#myModal').modal('hide');
      $.ajax({
        url:'/home_page/get_session?ques_id_array=' + <%= $ques_id_array %>,
        type:'get',
        processData:false,
        success:function (data) {
          $array = data.array;
          review = $("input[name='review']:checked").val();
          teacher_id = $("[name='teacher_id']").val();
          $.ajax({
            url:'/services/verify_answers_web?array='+encodeURIComponent($array)+'&test_history_id='+ <%= $user_test_history_id %> +
                '&review=' + review + '&teacher_id=' + teacher_id,
            type:'get',
            processData:false,
            success:function (data) {
              $('body').html(data);

              //if (data.test_code_flag == 0)
              //{
              //  $("#course_name").text($("input[name$='course']").val());
              //  $("#test_score").text(data.result);
              //  $("#test_score1").val(data.result);
              //  $("#test_total").val(data.total);
              //  $('#myModal').modal('toggle');
              //}
              //else
              //{
              //  $('body').html(data);
              //}
            },
            error:function (data) {
              alert ("Error Occurred");
            }
          });
        },
        error:function (data) {
          alert ("Error Occurred");
        }
      });
    }

</script>