<div class="modal_left">
  <div class="box_modal">
    <h2>ELS Quiz </h2>
    <label><strong>Question <%=@index + 1%> of <%=$size%></strong></label>
    <p><%=raw $arr[@index].statement %></p>
  </div>
  <div class="question_p_section">

   <%if $arr[@index].question_type == 1 %>
        <ul style="list-style-type: upper-alpha;">
          <% $arr[@index].options.shuffle.each_with_index do |option,index| %>
              <% if option.flag.nil? %>
                  <li ><a href="javascript:void(0)" id="ref_<%=index%>" onclick="answer(<%=option.id %>,'ref_<%=index%>')"  class='option_question'><%=option.statement %></a></li>
              <% else %>
                  <li ><a href="javascript:void(0)" id="ref_<%=index%>" onclick="answer(<%=option.id %>,'ref_<%=index%>')" class=''><%=image_tag option.avatar.url(:medium) %></a></li>
              <% end %>
          <% end %>
        </ul>
    <%elsif $arr[@index].question_type == 4 %>
        <ul>
         <li ><a href="javascript:void(0)" id="ref_opt_1" onclick="next_question_type_true_false('ref_opt_1','ref_opt_2',<%=$arr[@index].options.first.statement == true ? "1": "0" %>)" class='option_question'>True</a></li>

         <li ><a href="javascript:void(0)" id="ref_opt_2" onclick="next_question_type_true_false('ref_opt_2','ref_opt_1',<%=$arr[@index].options.first.statement == true ? "0": "1" %>)" class='option_question'>False</a></li>


        </ul>

    <%elsif $arr[@index].question_type == 3 %>
    <ul>
      <li>
        <input type="text" id="fill_in_the_blank_field" name="fill_in_the_blank_field" class="text" placeholder="Answer the question" >
        <a href="#" onclick="check_blank('<%=$arr[@index].options.last.statement %>')">Submit</a>
      </li>
      <li>
        <label id="answer_correction"></label>
      </li>
    </ul>

    <% end %>

  </div>
  <input type="hidden" id="answer_selected" name="answer_selected" value="" >
  <input type="hidden" id="is_answer_correct" name="is_answer_correct" value="" >
  <div class="modal_iframe_footer">
    <%if @index > 0%>
        <a class="modal_btn" class="modal_btn" onclick="previous_question()">Previos</a>
    <% end %>
    <%if @index < $size%>
        <a class="modal_btn" class="modal_btn" onclick="next_quiz()">Next</a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function answer(answer_id,option_index)
  {
      $(".question_p_section ul li a").removeClass('correct_answer');


      $("#"+option_index).addClass('correct_answer');
      $("#answer_selected").val(answer_id);
  }

  function previous_question(){
      flag = 0;
      if (flag == 0)
      {
          <% if @index > 0 %>
          $.ajax({
              url:'/home_page/next_ques?index='+<%=@index-2%>,
              type:'get',
              dataType:'html',
              processData:false,
              success:function (data) {
                  $("#quiz_container").html(data);

              },
              error:function (data) {
                  alert ('nae chalaa');
                  //    window.location.reload();
              }
          });
          <% else %>
          score = $( "#score").val();
          alert("you score "+score+"out of <%=$size * 5%>");
          window.location = 'add_user_test?score='+score + '&total=<%=$size * 5%>&course=<%=$arr.last.topic.course_id%>'
          <% end %>
      }
  }
    function next_quiz(){
        flag = 0;
        if (flag == 0)
        {
            <% if @index < $size - 1 %>
            $.ajax({
                url:'/home_page/next_ques?index='+<%=@index%>,
                type:'get',
                dataType:'html',
                processData:false,
                success:function (data) {
                    $("#quiz_container").html(data);

                },
                error:function (data) {
                    alert ('nae chalaa');
    //    window.location.reload();
                }
            });
            <% else %>
            score = $( "#score").val();
            alert("you score "+score+"out of <%=$size * 5%>");
            window.location = 'add_user_test?score='+score + '&total=<%=$size * 5%>&course=<%=$arr.last.topic.course_id%>'
            <% end %>
        }
}

</script>