<div class="modal_left">
  <div class="box_modal">
    <h2>ELS Quiz </h2>
    <style>
        #countdown {
            display: inline-block;
            background: rgb(135, 185, 120);
            padding: 5px;
            margin: 0 1px;
            border-radius: 5px;
            color: #FFF;
            font-size: 25px;
            float: right;
        }
    </style>

    <span id="countdown">00:30</span>

    <label><strong>Question <%=@index + 1%> of <%=$size%></strong></label>
    <p><%=raw $arr[@index].statement %></p>
  </div>
  <div class="question_p_section">

   <%if $arr[@index].question_type == 1 %>
        <ul style="list-style-type: upper-alpha;">
          <% $arr[@index].options.shuffle.each_with_index do |option,index| %>
              <% if option.flag.nil? %>
                  <li ><a href="javascript:void(0)" id="ref_<%=index%>" onclick="answer(<%=option.id %>,'ref_<%=index%>')"  class='option_question'><%=option.statement %></a></li>
              <% else %>
                  <li ><a href="javascript:void(0)" id="ref_<%=index%>" onclick="answer(<%=option.id %>,'ref_<%=index%>')" class=''><%=image_tag option.avatar.url(:medium) %></a></li>
              <% end %>
          <% end %>
        </ul>
    <%elsif $arr[@index].question_type == 4 %>
        <ul>
         <li ><a href="javascript:void(0)" id="ref_opt_1" onclick="next_question_type_true_false('ref_opt_1','ref_opt_2',<%=$arr[@index].options.first.statement == true ? "1": "0" %>)" class='option_question'>True</a></li>

         <li ><a href="javascript:void(0)" id="ref_opt_2" onclick="next_question_type_true_false('ref_opt_2','ref_opt_1',<%=$arr[@index].options.first.statement == true ? "0": "1" %>)" class='option_question'>False</a></li>


        </ul>

    <%elsif $arr[@index].question_type == 3 %>
    <ul>
      <li>
        <input type="text" id="fill_in_the_blank_field" name="fill_in_the_blank_field" class="text" placeholder="Answer the question" >
        <a href="#" onclick="check_blank('<%=$arr[@index].options.last.statement %>')">Submit</a>
      </li>
      <li>
        <label id="answer_correction"></label>
      </li>
    </ul>

    <% end %>

  </div>
  <input type="hidden" id="answer_selected" name="answer_selected" value="" >
  <input type="hidden" id="is_answer_correct" name="is_answer_correct" value="" >
  <div class="modal_iframe_footer">
    <%if @index > 0%>
        <a class="modal_btn" class="modal_btn" onclick="previous_question()">Previos</a>
    <% end %>
    <%if @index+1 < $size%>
        <a class="modal_btn" class="modal_btn" onclick="next_quiz()">Next</a>
    <% else %>
        <a class="modal_btn" class="modal_btn" onclick="next_quiz()">Finish</a>
    <% end %>
  </div>
</div>

<script type="text/javascript">

    /**
     * Example 2 is similar to Example 1. Two things that are
     * different are counting down instead of up and allowing
     * user input for start time. Also, when the timer counts
     * down to zero, an alert is triggered.
     */
        // Common functions
    function pad(number, length) {
        var str = '' + number;
        while (str.length < length) {str = '0' + str;}
        return str;
    }
    function formatTime(time) {
        time = time / 10;
        var min = parseInt(time / 6000),
                sec = parseInt(time / 100) - (min * 60),
                hundredths = pad(time - (sec * 100) - (min * 6000), 2);
        return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2);
    }
    var Example2 = new (function() {

        var $countdown;
        var $form;
        var incrementTime = 70;
        var currentTime = 30000; // 5 minutes (in milliseconds)

        $(function() {

            // Setup the timer
            $countdown = $('#countdown');
            Example2.Timer = $.timer(updateTimer, incrementTime, true);
        });

        function updateTimer() {

            // Output timer position
            var timeString = formatTime(currentTime);
            $countdown.html(timeString);

            // If timer is complete, trigger alert
            if (currentTime == 0) {
                Example2.Timer.stop();
                alert('Example 2: Countdown timer complete!');
                Example2.resetCountdown();
                return;
            }

            // Increment timer position
            currentTime -= incrementTime;
            if (currentTime < 0) currentTime = 0;

        }

        this.resetCountdown = function() {

            // Get time from form
            var newTime = parseInt($form.find('input[type=text]').val()) * 1000;
            if (newTime > 0) {currentTime = newTime;}

            // Stop and reset timer
            Example2.Timer.stop().once();

        };

    });
  function answer(answer_id,option_index)
  {
      $(".question_p_section ul li a").removeClass('correct_answer');


      $("#"+option_index).addClass('correct_answer');
      $("#answer_selected").val(answer_id);
  }

  function previous_question(){
      flag = 0;
      if (flag == 0)
      {
          <% if @index > 0 %>
          $.ajax({
              url:'/home_page/next_ques?index='+<%=@index-2%>,
              type:'get',
              dataType:'html',
              processData:false,
              success:function (data) {
                  $("#quiz_container").html(data);

              },
              error:function (data) {
                  alert ('nae chalaa');
                  //    window.location.reload();
              }
          });
          <% else %>
          score = $( "#score").val();
          alert("you score "+score+"out of <%=$size * 5%>");
          window.location = 'add_user_test?score='+score + '&total=<%=$size * 5%>&course=<%=$arr.last.topic.course_id%>'
          <% end %>
      }
  }
    function next_quiz(){
        flag = 0;
        if (flag == 0)
        {
            <% if @index < $size - 1 %>
            $.ajax({
                url:'/home_page/next_ques?index='+<%=@index%>,
                type:'get',
                dataType:'html',
                processData:false,
                success:function (data) {
                    $("#quiz_container").html(data);

                },
                error:function (data) {
                    alert ("Error Occurred");
                }
            });
            <% else %>
                score = $( "#score").val();
                alert("you score "+score+"out of <%=$size * 5%>");
                window.location = 'add_user_test?score='+score + '&total=<%=$size * 5%>&course=<%=$arr.last.topic.course_id%>'
            <% end %>
        }
}

</script>