<h2>Please register yourself</h2>
<div class="row">
  <div class="span5">
    <%= form_for @user, :url => {:controller => 'home_page', :action => 'create_user_registration'} do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email,:required => true, autofocus: true ,:class=>'row_field' %>
        </div>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$' ,:class=>'row_field' %>
        </div>

        <div class="field">
          <%= f.label :phone %>
          <%= f.phone_field :phone ,:required => true,:class=>'row_field' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" ,:required => true,:class=>'row_field' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" ,:required => true,:class=>'row_field' %>

        </div>

        <input type="hidden" id="role" name="role" value="2" >
        <input type="hidden" id="b_id" name="b_id" value="<%=@board_id%>" >
        <input type="hidden" id="degree_id" name="degree_id" value="<%=@degree_id%>" >
        <input type="hidden" id="course_id" name="course_id" value="<%=@course_id%>" >
        <input type="hidden" id="mcq" name="mcq" value="<%=@mcq%>" >
        <input type="hidden" id="fill" name="fill" value="<%=@fill%>" >
        <input type="hidden" id="true_false" name="true_false" value="<%=@true_false%>" >
        <input type="hidden" id="descriptive" name="descriptive" value="<%=@descriptive%>" >




        <div class="actions">
          <%= f.submit "Register", :class => 'btn btn-large btn-inverse' %>
        </div>
    <% end %>
  </div>
</div>