<div class="row try_it">
  <div class="container">
    <div class="col-md-12">

        <select id="first_new" multiple="multiple" size="10" name="topic_ids[]">
          <% @topics.all.each do | topic|%>
              <% if topic.parent_topic_id.present? %>
          <option style="margin-left: 10px"  value="<%= topic.id %>"  data-parentid="<%= topic.parent_topic_id %>">--<%= topic.name %></option>
                  <% else %>
                  <option style="font-weight: bold" value="<%= topic.id %>"><%= topic.name %> </option>

              <% end %>
          <% end %>
        </select>

    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      var demo1 = $("#first_new").bootstrapDualListbox({
          showFilterInputs : false,
          infoText : false
      });
      $("#course_container_form").submit(function() {
//          $($('[name="duallistbox_demo1[]"]').val()).modal('show');
          alert($('[name="duallistbox_demo1[]"]').val());
          return false;
      });

  });

</script>