<section class="viual">
  <div class="visual_holder container">

    <div class="pull-left viual_left">



          <%= form_for :@user, :url => {:controller => 'home_page',
                                         :action => 'instructions'},
                     :html => {:id =>"create_test"}    do |f| %>




          <% if current_user.is_admin? %>
              <div class="col">
                <div class="header_col">
                  <p class="tabs_holde">Boards</p>
                  <i class="arrow_right fa fa-caret-right"></i>
                  <i class="arrow_down fa fa-caret-down"></i>
                </div>
                <div id="boards_holder">
                  <%= render "bdc_list" %>

                </div>

                <div class="header_col">
                  <p class="tabs_holde">Degrees</p>
                  <i class="arrow_right fa fa-caret-right"></i>
                  <i class="arrow_down fa fa-caret-down"></i>
                </div>

                <div id="degree_holder">
                  <%= render "d_list" %>
                </div>
              </div>
          <% end %>



      <div class="col">
        <!--<div class="header_col">-->
          <!--<p class="tabs_holde">Courses</p>-->
          <!--<i class="arrow_right fa fa-caret-right"></i>-->
          <!--<i class="arrow_down fa fa-caret-down"></i>-->
        <!--</div>-->

        <div id="courses_holder">
            <%= render 'c_list' %>
        </div>

      </div>

      <div id="past_paper" class="col col_last_holder" style="display: none;">
        <div id="past_paper_container" >
          <input type="radio" name="pre_Past" value="1"><span>Past Paper</span>
          <input type="radio" name="pre_Past" value="2"><span>Create your own test </span>
        </div>

        <div style="padding-top:30px;display:none" id ="course_lists">

        </div>

        <div id="past_paper_question_container" class="pre_question_holder" style="display: none">
          <div class="row_custom">
            <%= label_tag :year %>
            <select id="year" name="year">
              <% @years.each do |year| %>
              <option value="<%= year %>"><%= year %></option>
              <% end %>
            </select>
          </div>

          <div class="row_custom">
            <%= label_tag :session %>
                <input type="radio" name="session" value="May/June" checked>May/June
                <input type="radio" name="session" value="Oct/Nov" >Oct/Nov

          </div>

          <div class="row_custom">
            <select id="paper" name="paper">
              <option value="">[PLEASE SELECT PAPER]</option>
              <option value="mcq" selected >Paper P1</option>
            </select>
          </div>


          <div class="row_custom" id="option_populate">
            <%#= render :partial => "home_page/varient_list" %>
          </div>


          <div class="row_custom" id="test_container_1">
            <input type="submit" value="Proceed" id="past_paper_container" name="test_btn" onclick="return check_sign_in(1);"  class="btn">
          </div>
        </div>
        <div id="question_type_container"  style="margin-top:30px;display: none;">
          <div class="row_custom">
            <label class="lablel_check_box_left">
              <input id="mcq_checkbox" type="checkbox" name="question_types[]" value="1"><span>MCQ</span>
            </label>
            <label class="lablel_check_box_right">
              <select id="question_type_1" class="select question_type">
                <% i = 1 %>
                <%25.times{ %>
                    <% if i == 10 %>
                        <option selected="selected"><%= i %></option>
                    <% else %>
                        <option><%= i %></option>
                    <% end %>
                    <% i+=1 %>
                <% } %>
              </select>

            </label>
          </div>
          <div class="row_custom">
            <label class="lablel_check_box_left"><input id="true_checkbox" type="checkbox" name="question_types[]" value="2"><span>True False</span></label>
            <label class="lablel_check_box_right">
              <select id="question_type_4" class="select question_type">
                <% i = 1 %>
                <%25.times{ %>
                    <% if i == 10 %>
                        <option selected="selected"><%= i %></option>
                    <% else %>
                        <option><%= i %></option>
                    <% end %>
                    <% i+=1 %>
                <% } %>
              </select>
            </label>

          </div>
          <div class="row_custom">
            <label class="lablel_check_box_left"><input id="fill_checkbox" type="checkbox" name="question_types[]" value="3"><span>Fill in the blanks</span></label>
            <label class="lablel_check_box_right">
              <select id="question_type_2" class="select question_type">
                <% i = 1 %>
                <%25.times{ %>
                    <% if i == 10 %>
                        <option selected="selected"><%= i %></option>
                    <% else %>
                        <option><%= i %></option>
                    <% end %>
                    <% i+=1 %>
                <% } %>
              </select>
            </label>
          </div>
          <div class="row_custom" id="descriptive">
            <label class="lablel_check_box_left"><input id="des_checkbox" type="checkbox" name="question_types[]" value="4"><span>Descriptive</span></label>
            <label class="lablel_check_box_right">
              <select id="question_type_3" class="select question_type">
                <% i = 1 %>
                <%25.times{ %>
                    <% if i == 10 %>
                        <option selected="selected"><%= i %></option>
                    <% else %>
                        <option><%= i %></option>
                    <% end %>
                    <% i+=1 %>
                <% } %>
              </select>
            </label>


          </div>

          <div class="row_custom" style="display: block">
            <label class=""><span>Time required for your quiz</span></label>
            <label class="">
              <select id="quiz_time" name="quiz_time">
                <option value="-1">Default</option>
                <option value="5">5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
                <option value="25">25 minutes</option>
                <option value="30">30 minutes</option>
                <option value="35">35 minutes</option>
                <option value="40">40 minutes</option>
                <option value="45">45 minutes</option>
                <option value="50">50 minutes</option>
                <option value="55">55 minutes</option>
                <option value="60">60 minutes</option>
              </select>
            </label>


          </div>

          <div style="display: block;" id="test_containerr">
            <input type="submit" act value="Proceed" id="test_btn_1" name="test_btn_1" onclick="return check_sign_in(1);" class="btn">
          </div>
        </div>
      </div>
          <input type="hidden" id="role" name="role" value="2" >


          <input type="hidden" id="course_id" name="course_id" value="" >
          <% if current_user.is_admin? %>
              <input type="hidden" id="b_id" name="b_id" value="" >
              <input type="hidden" id="degree_id" name="degree_id" value="" >
          <% else %>
              <%= hidden_field_tag :b_id, @boards %>
              <%= hidden_field_tag :degree_id, @degrees %>
          <% end %>
          <input type="hidden" id="mcq" name="mcq" value="" >
          <input type="hidden" id="fill" name="fill" value="" >
          <input type="hidden" id="true_false" name="true_false" value="" >
          <input type="hidden" id="descriptive" name="descriptive" value="" >


    </div>


          <%# if @courses.any? %>
              <!--<div class="pull-right viual_right col">-->
                <!--<div class="visual_right_holder">-->
                  <!--<h2>Enter Code</h2>-->

                  <!--<fieldset>-->
                    <!--<div class="pre_header_row">-->
                      <!--<input type="text" name="test_code" class="text" placeholder="Test Code">-->
                      <!--<button type="submit" class="btn btn-default modal_btn" href="#myModal" onclick="return check_sign_in(2);">Submit</button>-->
                    <!--</div>-->

                  <!--</fieldset>-->


                <!--</div>-->


              <!--</div>-->
          <%# end %>


          <input type="hidden" name="test_flag" class="text">

    <% end %>
    <div class="modal fade modal_custom" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Elearning System
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="user_form_holder">


                <div class="pre_modal_left pull-left">


                <%= form_for @user, :url => {:controller => 'home_page', :action => 'quiz'},
                             :html => {:id => "registration_form",:onsubmit => "return create_user();"} do |f| %>
                    <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                          <ul>
                            <% @user.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>
                    <input type="hidden" name="test_code_registration" class="text" placeholder="Test Code">

              <% end %>
                      <!--&lt;!&ndash;<h2>Create An Account</h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
                        <!--&lt;!&ndash;<%#= f.email_field :email,:required => true, :placeholder=>:Email, :autofocus => true ,:class=>'row_field' %>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->

                      <!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
                        <!--&lt;!&ndash;<%#= f.text_field :name,:required => true, :placeholder=>:Name, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$' ,:class=>'row_field' %>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->

                      <!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
                        <!--&lt;!&ndash;<%#= f.phone_field :phone, :placeholder=>:Phone, :required => true,:class=>'row_field' %>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->

                      <!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
                        <!--&lt;!&ndash;<%# if @validatable %>&ndash;&gt;-->
                            <!--&lt;!&ndash;<em>(<%#= @minimum_password_length %> characters minimum)</em>&ndash;&gt;-->
                        <!--&lt;!&ndash;<%# end %>&ndash;&gt;-->
                        <!--&lt;!&ndash;<%#= f.password_field :password, :placeholder=>:Password, :autocomplete=> "off" ,:required => true,:class=>'row_field' %>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->

                      <!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
                        <!--&lt;!&ndash;<%#= f.password_field :password_confirmation, :placeholder=>:Password_confirmation, :autocomplete=> "off" ,:required => true,:class=>'row_field' %>&ndash;&gt;-->

                      <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;<div style="float: left;"><label id="register_message" style="color:red; margin:0"></label></div>&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="actions">&ndash;&gt;-->
                        <!--&lt;!&ndash;<%#= f.submit "Register", :class => 'btn btn-large btn-inverse' %>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->

                  </div>





                  <div class="pre_model_right">
                    <%= form_for :new_user , :url => {:controller => 'home_page',
                                                     :action => 'quiz'},
                                 :html => {:id => "login_form",:onsubmit => "return sign_in();"}     do |f| %>
                        <h2>Log in</h2>
                        <div class="field">
                          <%= f.email_field :email,:required => true, :placeholder=>:Email, :autofocus => true ,:class=>'row_field' %>
                        </div>

                        <div class="field">
                          <% if @validatable %>
                              <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %>
                          <%= f.password_field :password, :placeholder=>:Password, :autocomplete=> "off" ,:required => true,:class=>'row_field' %>
                        </div>
                        <div style="float: left; width: 73.3%"><label id="flash_message" style="color:red; margin:0"></label></div>
                        <div class="actions" style="float:left">
                          <%= f.submit "Login", :onclick=>"sign_in()", :class => 'btn btn-large btn-inverse' %>
                        </div>
                        <input type="hidden" name="test_code_login" class="text" placeholder="Test Code">
                        <br/><br/><br/>
                        <a href="javascript:void(0)" id="facebook-connect"><%= image_tag 'facebook.png', height: '35'%></a>

                  <% end %>

                  </div>
                  </div>





            </div>
          </div>
          <div class="modal-footer m_footer_container">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  </div>


</section>


<!-- Facebook connect script -->
<div id="fb-root"></div>
<script type="text/javascript">
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '442015692624512', // App ID from the App Dashboard
            status     : true, // check the login status upon init?
            cookie     : true, // set sessions cookies to allow your server to access the session?
            xfbml      : true  // parse XFBML tags on this page?
        });

        // Additional initialization code such as adding Event Listeners goes here

    };

    (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));


</script>
<!-- end Facebook connect script -->




<!--<h3>IN PROGRESS ... COMING SOON !!</h3>-->


<script>


  $('#question_type_1').val(10);
  $('#question_type_2').val(10);
  $('#question_type_3').val(10);
  $('#question_type_4').val(10);

  $("input[name$='pre_Past']").click(function() {
    var test = $(this).val();
    if (test == "1") {
      if (!$("div#past_paper_question_container").is(":visible")) {
        $("div#question_type_container").hide();
        $("div#past_paper_question_container").toggle("slide");
      }
    }
    else
    {
      $("div#past_paper_question_container").hide();
      $("div#question_type_container").toggle("slide");
    }
  });

  $('#course_lists').hide();
  $('#facebook-connect').click(function(e) {
    e.preventDefault();

    FB.login(function(response) {
      if (response.authResponse) {
        $.getJSON('<%=user_omniauth_callback_path(:facebook)%>', function(data) {

          if ($("input[name$='test_flag']").val() == 1) {
            $.get("home_page/save_data", $("form#create_test").serialize(), function (saveResponse) {
              if (saveResponse.success) {
                window.location = 'home_page/instructions?uthid=' + saveResponse.user_test_history_id;
              }
              else {
                $('#register_message').html(response.message);
                flag = false;
              }

            }, "json")
          }
          else {
            var test_code = $("input[name$='test_code']").val();
            window.location = 'home_page/instructions?test_code=' + test_code
          }
          flag = true;
        });
      }
    });
  });


  $('#create_test input').on('click', function() {

    var year = $("#year").val();
    var session = $('input[name=session]:checked', '#create_test').val();
    $.ajax({
      url: "home_page/get_varients?year="+year+"&session="+session,
      type: 'get',
      dataType: 'html',
      success:function(response){
        $("#option_populate").html(response);

      }
    });
  });

  $('input[name=pre_Past]').on('change', function() {
    value = $('input[name=pre_Past]:checked').val();
    if (value == 2)
      $('#course_lists').show();
    else
      $('#course_lists').hide();

  })

  $('#year').on('change', function() {

    var year = $("#year").val();
    var session = $('input[name=session]:checked', '#create_test').val();
    $.ajax({
      url: "home_page/get_varients?year="+year+"&session="+session,
      type: 'get',
      dataType: 'html',
      success:function(response){
        $("#option_populate").html(response);
      }
    });
  });





    function create_user()
    {
        var flag = false;
        $.get("home_page/create_user_registration", $("form#registration_form").serialize()+ $("form#create_test").serialize(), function (response) {
            if (response.success) {
                if ($("input[name$='test_flag']").val() == 1)
                    window.location = 'home_page/instructions?uthid='+response.user_test_history_id
                else {
                    var test_code = $("input[name$='test_code']").val();
                    window.location = 'home_page/instructions?test_code=' + test_code
                }
                flag = true;
            }
            else {
                $('#register_message').html(response.message);
                flag = false;
            }

        }, "json")
        return flag;
    }



    function sign_in()
    {
        var flag = false;
        $.post("home_page/sign_in_user", $("form#login_form").serialize()+ $("form#create_test").serialize(), function (response) {
            if ($("input[name$='test_flag']").val() == 1)
                window.location = 'home_page/instructions?uthid='+response.user_test_history_id
            else {
                var test_code = $("input[name$='test_code']").val();
                window.location = 'home_page/instructions?test_code=' + test_code
            }
        }, "json")
        return flag;
    }

    function check_sign_in(flag)
    {
        $("input[name$='test_flag']").val(flag);
        if (flag == 1 && !validate_past_paper()) //for "create your own test"
        {
            return false;
        }
        else if (flag == 2 && !test_exists()) //for "test with test code"
        {
            return false;
        }

        var returnValue = false;
        var test_code = $("input[name$='test_code']").val();
        $("input[name$='test_code_login']").val(test_code);
        link = $("input[name$='test_code_login']").next();
        link.prop('href', function(){
            this.href = this.href+test_code;
        });
        $quiz_time = $("#quiz_time");
        $("#quiz_time").disable();
        $("input[name$='test_code_registration']").val(test_code);
        this.href = this.protocol + '//' + this.hostname + '/' + encodeURIComponent(self.value);
        $.ajax({
            url:'/home_page/is_user_signed_in?quiz_time='+$quiz_time,
            type:'get',
            dataType:'json',
            processData:false,
            async:false,
            success:function (response) {
                if (response.success) {
                  returnValue = true;
                  $('#mcq').val($('#question_type_1').val());
                  $('#fill').val($('#question_type_2').val());
                  $('#true_false').val($('#question_type_4').val());
                  $('#descriptive').val($('#question_type_3').val());
                }
                else {
                    returnValue = false;
                    $('#myModal').modal('toggle');

                }

            },
            error:function (data) {
                returnValue = false;
            }
        });
        return returnValue;
    }
    function test_exists()
    {
        test_code = $("input[name$='test_code']").val();
        returnValue = 0;
        if (test_code.length>0)
        {
            $.ajax({
                url:'/quizzes/test_exists?test_code='+ test_code,
                type:'get',
                dataType:'json',
                async: false,
                success:function (response) {
                    if (response.success) {
                        returnValue = 1;
                    }
                    else {
                        alert("There is no test");
                        returnValue = 0;
                    }

                },
                error:function (response) {
                    returnValue = 0;
                }
            });

        }
        if (returnValue == 1){
            return true;
        }
        else
        {
            return false;
        }
    }
    function validate_past_paper()
    {
        course_id = $('#course').val();
        degree_id = $('#degree_id').val();
        board_id = $('#b_id').val();

        past_paper_flag = $("input[name$='pre_Past']:checked").val();
        var selectedTopic = $('#first_new').find(":selected").map(function(){ return this.value }).get().join(",");
        returnValue = 0;
        if (past_paper_flag == "1")
        {
            year = $("#year").val();
            session = $("input[name$='session']:checked").val();
            varient = $("#varient").val();

            $.ajax({
                url:'/questions/questions_exits?year='+ year +
                                            "&session="+session + "&course_id="+course_id+
                                            "&degree_id="+degree_id+ "&board_id="+board_id+
                                            "&pre_Past="+ past_paper_flag + "&varient="+varient ,
                type:'get',
                dataType:'json',
                async: false,
                success:function (response) {
                    if (response.success) {
                        returnValue = 1;
                    }
                    else {
                        alert("Currently, there are no questions in it");
                        returnValue = 0;
                    }

                },
                error:function (response) {
                    returnValue = 0;
                }
            });

        }
        else
        {
            mcq = 0;
            true_false = 0;
            fill = 0;
            descriptive = 0;
            if ($("#mcq_checkbox").is(":checked")){
             mcq = $('#mcq').val($('#question_type_1').val()).val();
            }
            if ($("#true_checkbox").is(":checked")){
             true_false = $('#true_false').val($('#question_type_2').val()).val();
            }
            if ($("#fill_checkbox").is(":checked")){
             fill = $('#fill').val($('#question_type_3').val()).val();
            }
            if ($("#des_checkbox").is(":checked")){
             //descriptive = $('#question_type_4').val();
             descriptive = 0;
            }
          $topics = $('#first_new').val();
            $.ajax({
                url:'/questions/questions_exits?&mcq='+mcq + "&true_false="+true_false +
                        "&fill="+fill +"&descriptive="+descriptive +
                        "&course_id="+course_id+
                        "&degree_id="+degree_id+ "&board_id="+board_id+
                        "&pre_Past="+ past_paper_flag+"&selected_topic_ids="+$topics,
                type:'get',
                dataType:'json',
                async: false,
                success:function (response) {
                    if (response.success) {
                        returnValue = 1;
                    }
                    else {
                        alert("Currently, there are no questions in it");
                        returnValue = 0;
                    }

                },
                error:function (response) {
                    returnValue = 0;
                }
            });
        }
        if (returnValue == 1){
            return true;
        }
        else
        {
            return false;
        }
    }
    function selectCourse(id)
    {

        if($('.scourse')){

            $('#past_paper').show();
          value = $('input[name=pre_Past]:checked').val();
          if (value == 2)
            $('#course_lists').show();
          else
            $('#course_lists').hide();
        }

        if ($('#'+id).hasClass('scourse')){

            $('#'+id).css("color","#52CC52");


        }
        else {
            $('.scourse').css("color", "#000000");
            $('.scourse').removeClass('scourse');

            $('#' + id).css("color", "#52CC52");
            $('#' + id).addClass('scourse');
        }

    }


    function selectDegreeList(id,degree_id)
    {
      if ($('#'+id).hasClass('sdegree')){

        $('#'+id).css("color","#52CC52");


      }
      else {
        $('.sdegree').css("color","#000000");
        $('.sdegree').removeClass('sdegree');

        $('#'+id).css("color","#52CC52");
        $('#'+id).addClass('sdegree');

        $('#degree_id').val(degree_id);
        board_id = $('.sboard').children('li').val();

        $.ajax({
            url:'/home_page/get_courses?degree_id='+degree_id+'&board_id='+board_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#courses_holder").html(data);
                $("#courses_holder").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

      }
   }

    function selectBoardList(id,board_id){

      if ($('#'+id).hasClass('sboard')){

        $('#'+id).css("color","#52CC52");


      }
      else {
        $('.sboard').css("color","#000000");
        $('.sboard').removeClass('sboard');

        $('#'+id).css("color","#52CC52");
        $('#'+id).addClass('sboard');

        $('#b_id').val(board_id);

        $.ajax({
            url:'/home_page/get_degrees?board_ids='+board_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#degree_holder").html(data);
                $("#courses_holder").hide();
                $("#test_container").hide();
                $('#past_paper').hide();

            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

      }


    }




    function generate_test(course)
    {
        d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/home_page/get_tests?course_id='+course.value+'&degree_id='+d_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#test_container").html(data);
                $("#test_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }

    function getNotesCourses(id){

        $('#notes_'+id).css('color','#52CC52');
        $('#notes_'+id).addClass('notesDegree')

        $.ajax({
            url:'/home_page/get_notes_courses?degree_id='+id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {

                $("#notes_course_div").html(data);

            },
            error:function (data) {
                alert ('Error');
                //    window.location.reload();
            }
        });


    }

        function getNotes(course_id){

            degree_id = $('.notesDegree')[0].id;
            //alert(degree_id + "---" + course_id);

            degree_id = degree_id.split('_')[1];
            $.ajax({
                url:'/home_page/get_notes?degree_id='+degree_id+'&course_id='+course_id,
                type:'get',
                dataType:'html',
                processData:false,
                success:function (data) {

                    $("#notes_div").html(data);

                },
                error:function (data) {
                    alert ('Error');
                    //    window.location.reload();
                }
            });


        }
</script>