<section class="viual">
  <div class="visual_holder container">

    <div class="pull-left viual_left">
      <%= form_tag("/home_page/instructions", :method => "post") do |f| %>

      <div class="col">
        <div class="header_col">
          <p class="tabs_holde">Boards</p>
          <i class="arrow_right fa fa-caret-right"></i>
          <i class="arrow_down fa fa-caret-down"></i>
        </div>

        <div id="board_holder">
            <%= render 'bdc_list' %>
        </div>
      </div>


      <div class="col">
        <div class="header_col">
          <p class="tabs_holde">Degrees</p>
          <i class="arrow_right fa fa-caret-right"></i>
          <i class="arrow_down fa fa-caret-down"></i>
        </div>

        <div id="degree_holder">
        <%= render 'd_list' %>
        </div>

       </div>


      <div class="col">
        <div class="header_col">
          <p class="tabs_holde">Courses</p>
          <i class="arrow_right fa fa-caret-right"></i>
          <i class="arrow_down fa fa-caret-down"></i>
        </div>

        <div id="courses_holder">
            <%= render 'c_list' %>
        </div>

      </div>

      <div class="col">
        <div id="past_paper_container" style="display: block">

        </div>
        <div id="question_type_container" style="display: block;">
         <div class="row_custom">
           <label class="lablel_check_box_left">
                <input id="mcq_checkbox" type="checkbox" name="question_types[]" value="1"><span>MCQ</span>
           </label>
            <label class="lablel_check_box_right">
                <select id="question_type_1" class="select">
                <% i = 1 %>
                <%25.times{ %>
                    <option><%= i %></option>
                    <% i+=1 %>
                <% } %>
              </select>

            </label>
         </div>
          <div class="row_custom">
            <label class="lablel_check_box_left"><input id="true_checkbox" type="checkbox" name="question_types[]" value="2"><span>True False</span></label>
            <label class="lablel_check_box_right">
          <select id="question_type_4" class="select">
            <% i = 1 %>
            <%25.times{ %>
              <option><%= i %></option>
                <% i+=1 %>
            <% } %>
          </select>
        </label>

          </div>
          <div class="row_custom">
            <label class="lablel_check_box_left"><input id="fill_checkbox" type="checkbox" name="question_types[]" value="3"><span>Fill in the blanks</span></label>
          <label class="lablel_check_box_right">
          <select id="question_type_2" class="select">
            <% i = 1 %>
            <%25.times{ %>
                <option><%= i %></option>
                <% i+=1 %>
            <% } %>
          </select>
        </label>
          </div>
          <div class="row_custom">
            <label class="lablel_check_box_left"><input id="des_checkbox" type="checkbox" name="question_types[]" value="4"><span>Descriptive</span></label>
            <label class="lablel_check_box_right">
          <select id="question_type_3" class="select">
            <% i = 1 %>
            <%25.times{ %>
                <option><%= i %></option>
                <% i+=1 %>
            <% } %>
          </select>
        </label>


          </div>
          <div style="display: none;" id="test_container">
            <input type="submit" act value="Proceed" id="test_btn" name="test_btn" class="btn">
          </div>
        </div>


      </div>
          <input type="hidden" id="role" name="role" value="2" >
          <input type="hidden" id="b_id" name="b_id" value="" >
          <input type="hidden" id="degree_id" name="degree_id" value="" >
          <input type="hidden" id="course_id" name="course_id" value="" >
          <input type="hidden" id="mcq" name="mcq" value="" >
          <input type="hidden" id="fill" name="fill" value="" >
          <input type="hidden" id="true_false" name="true_false" value="" >
          <input type="hidden" id="descriptive" name="descriptive" value="" >
      <% end%>

    </div>




    <div class="pull-right viual_right">
      <div class="visual_right_holder">
        <h2>Enter Code</h2>
        <form>
          <fieldset>
            <div class="pre_header_row">
              <input type="text" class="text" placeholder="text">
              <button class="btn btn-default">Submit</button>
            </div>

          </fieldset>
        </form>
      </div>

    </div>


  </div>


</section>
<section class="main">
  <div class="main_holder main_front container">
    <div class="box">
      <div class="box_header">
        <img src="assets/img1.jpg" alt="">
        <h2>Students</h2>
      </div>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="box">
      <div class="box_header">
        <img src="assets/img2.jpg" alt="">
        <h2>Educators</h2>
      </div>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="box">
      <div class="box_header">
        <img src="assets/img3.jpg" alt="">
        <h2>Adminstrator</h2>
      </div>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</section>





<!--<h3>IN PROGRESS ... COMING SOON !!</h3>-->


<script>
    $(document).ready(function() {
                $('#question_type_1').val(10);
                $('#question_type_2').val(10);
                $('#question_type_3').val(10);
                $('#question_type_4').val(10);

             $('#test_btn').click(function(){
                 $('#course_id').val($('.scourse').children('li').val());
                 $('#degree_id').val($('.sdegree').children('li').val());
                 $('#b_id').val($('.sboard').children('li').val());

                 mcq = 0;
                 true_false = 0;
                 fill = 0;
                 descriptive = 0;
                 if ($("#mcq_checkbox").is(":checked")){
                     $('#mcq').val($('#question_type_1').val());
                 }
                 if ($("#true_checkbox").is(":checked")){
                     $('#true_false').val($('#question_type_2').val());
                 }
                 if ($("#fill_checkbox").is(":checked")){
                     $('#fill').val($('#question_type_3').val());
                 }
                 if ($("#des_checkbox").is(":checked")){
                     //descriptive = $('#question_type_4').val();
                     descriptive = 0;
                 }






                // alert(board_id+'--'+degree_id+'--'+course_id);

                 //window.location = '/home_page/instructions?b_id='+board_id+'&degree_id='+degree_id+'&course_id='+course_id + "&mcq="+mcq + "&true_false="+true_false +"&fill="+fill +"&descriptive="+descriptive;
             });
            }
    );

    function selectCourse(id)
    {

        if($('.scourse')){

            $('#test_container').show();
            $("#question_type_container").show();
        }

        if ($('#'+id).hasClass('scourse')){

            $('#'+id).css("color","#52CC52");


        }
        else {
            $('.scourse').css("color", "#000000");
            $('.scourse').removeClass('scourse');

            $('#' + id).css("color", "#52CC52");
            $('#' + id).addClass('scourse');
        }

        }

    function selectDegreeList(id,degree_id)
    {
        if ($('#'+id).hasClass('sdegree')){

        $('#'+id).css("color","#52CC52");


    }
    else {
        $('.sdegree').css("color","#000000");
        $('.sdegree').removeClass('sdegree');

        $('#'+id).css("color","#52CC52");
        $('#'+id).addClass('sdegree');

            board_id = $('.sboard').children('li').val();

        $.ajax({
            url:'/home_page/get_courses?degree_id='+degree_id+'&board_id='+board_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#courses_holder").html(data);

            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

     }
   }

    function selectBoardList(id,board_id){

    if ($('#'+id).hasClass('sboard')){

        $('#'+id).css("color","#52CC52");


    }
        else {
        $('.sboard').css("color","#000000");
        $('.sboard').removeClass('sboard');

        $('#'+id).css("color","#52CC52");
        $('#'+id).addClass('sboard');


        $.ajax({
            url:'/home_page/get_degrees?board_ids='+board_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#degree_holder").html(data);
                $("#courses_holder").html('');
                $("#test_container").hide();

            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }


    }


    function generate_test(course)
    {
        d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/home_page/get_tests?course_id='+course.value+'&degree_id='+d_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#test_container").html(data);
                $("#test_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }

    function getNotesCourses(id){

        $('#notes_'+id).css('color','#52CC52');
        $('#notes_'+id).addClass('notesDegree')

        $.ajax({
            url:'/home_page/get_notes_courses?degree_id='+id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {

                $("#notes_course_div").html(data);

            },
            error:function (data) {
                alert ('Error');
                //    window.location.reload();
            }
        });


    }

        function getNotes(course_id){

            degree_id = $('.notesDegree')[0].id;
            //alert(degree_id + "---" + course_id);

            degree_id = degree_id.split('_')[1];
            $.ajax({
                url:'/home_page/get_notes?degree_id='+degree_id+'&course_id='+course_id,
                type:'get',
                dataType:'html',
                processData:false,
                success:function (data) {

                    $("#notes_div").html(data);

                },
                error:function (data) {
                    alert ('Error');
                    //    window.location.reload();
                }
            });


        }

</script>