<table class="table table-condensed">
  <tr>
  <td><%= link_to "Add New Course", new_course_path, :class => 'btn btn-inverse btn-large' %></td>
  <td><%= link_to "Add New Degree", new_degree_path, :class => 'btn btn-inverse btn-large' %></td>
  <td><%= link_to "Add New Topic", new_topic_path, :class => 'btn btn-inverse btn-large' %></td>
    </tr>
  <tr>
    <td><%= link_to "Add New Test", new_quiz_path, :class => 'btn btn-inverse btn-large' %></td>
    <td><%= link_to "Add New Notes", new_book_path, :class => 'btn btn-inverse btn-large' %></td>
    <td><%= link_to "Add New Question", questions_path, :class => 'btn btn-inverse btn-large' %></td>
  </tr>
</table>

