<% if current_user.is_not_admin? %>
<ul class="admin-opt">
  <% unless current_user.is_operator? ||  current_user.is_proofreader? || current_user.is_student?%>

        <li><%= link_to "Add New Course", new_course_path, :class => 'btn btn-inverse btn-large' %></li>
        <li><%= link_to "Add New Degree", new_degree_path, :class => 'btn btn-inverse btn-large' %></li>
        <li><%= link_to "Add New Board", new_board_path, :class => 'btn btn-inverse btn-large' %></li>

  <% end %>

    <!--td><%= link_to "Add New Test", new_quiz_path, :class => 'btn btn-inverse btn-large' %></td>
    <td><%= link_to "Add New Notes", new_book_path, :class => 'btn btn-inverse btn-large' %></td-->
    <li><% unless current_user.is_proofreader? %><%= link_to "Add New Question", questions_path, :class => 'btn btn-inverse btn-large' %><% end %></li>
  <% end %>
</ul>
<ul class="admin-opt admin-opt-dashboard">
<% if current_user.is_admin? %>
    <li class="pull-right"><%= link_to "Backup Database", home_page_get_backup_path, :class => 'btn btn-inverse btn-large' %></li>
<% end %>
  </ul>
<% if current_user.is_admin? %>
<section class="dashboard-main">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-ld-12">
      <h1 class="title">Dashboard</h1>
    </div>
  </div>
  <div class="wrapper wrapper-content">

    <div class="row ">

      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Total Questions </h5>

            <div ibox-tools></div>
          </div>
          <div class="ibox-content">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>Questions</th>
                <th>Published</th>
                <th>Not-Published</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>MCQs</td>
                <td><%= @questions_mcq_publish %></td>
                <td><%= @questions_mcq_not_publish %></td>
                <td><%= @total_questions_mcq %></td>
              </tr>
              <tr>
                <td>True/False</td>
                <td><%= @questions_truefalse_publish %></td>
                <td><%= @questions_truefalse_not_publish %></td>
                <td><%= @total_questions_truefalse %></td>
              </tr>
              <tr>
                <td>Fill in the Blanks</td>
                <td><%= @questions_blank_publish %></td>
                <td><%= @questions_blank_not_publish %></td>
                <td><%= @total_questions_blank %></td>
              </tr>
              <tr>
                <td>Descriptive Questions</td>
                <td><%= @questions_descriptive_publish %></td>
                <td><%= @questions_descriptive_not_publish %></td>
                <td><%= @total_questions_descriptive %></td>
              </tr>
              <tr>
                <td>TOTAL</td>
                <td><%= @total_publish %></td>
                <td><%= @total_not_publish %></td>
                <td><%= @total_questions %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Total Questions </h5>

            <div ibox-tools></div>
          </div>
          <div class="ibox-content">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>Questions</th>
                <th>Published</th>
                <th>Not-Published</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>MCQs</td>
                <td><%= @questions_mcq_publish %></td>
                <td><%= @questions_mcq_not_publish %></td>
                <td><%= @total_questions_mcq %></td>
              </tr>
              <tr>
                <td>True/False</td>
                <td><%= @questions_truefalse_publish %></td>
                <td><%= @questions_truefalse_not_publish %></td>
                <td><%= @total_questions_truefalse %></td>
              </tr>
              <tr>
                <td>Fill in the Blanks</td>
                <td><%= @questions_blank_publish %></td>
                <td><%= @questions_blank_not_publish %></td>
                <td><%= @total_questions_blank %></td>
              </tr>
              <tr>
                <td>Descriptive Questions</td>
                <td><%= @questions_descriptive_publish %></td>
                <td><%= @questions_descriptive_not_publish %></td>
                <td><%= @total_questions_descriptive %></td>
              </tr>
              <tr>
                <td>TOTAL</td>
                <td><%= @total_publish %></td>
                <td><%= @total_not_publish %></td>
                <td><%= @total_questions %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>



  </div>
</section>
    <% end %>