<% if current_user.is_not_admin? %>
<ul class="admin-opt">
  <% unless current_user.is_operator? ||  current_user.is_proofreader? || current_user.is_student?%>

        <li><%= link_to "Add New Course", new_course_path, :class => 'btn btn-inverse btn-large' %></li>
        <li><%= link_to "Add New Degree", new_degree_path, :class => 'btn btn-inverse btn-large' %></li>
        <li><%= link_to "Add New Board", new_board_path, :class => 'btn btn-inverse btn-large' %></li>

  <% end %>

    <!--td><%= link_to "Add New Test", new_quiz_path, :class => 'btn btn-inverse btn-large' %></td>
    <td><%= link_to "Add New Notes", new_book_path, :class => 'btn btn-inverse btn-large' %></td-->
    <li><%= link_to "Add New Question", questions_path, :class => 'btn btn-inverse btn-large' %></li>
  <% end %>
</ul>
<ul class="admin-opt admin-opt-dashboard">
<% if current_user.is_admin? %>
    <li class="pull-right"><%= link_to "Backup Database", home_page_get_backup_path, :class => 'btn btn-inverse btn-large' %></li>
<% end %>
  </ul>
<% if current_user.is_admin? %>
<section class="dashboard-main">
  <div class="row">
    <div class="container-fluid">
      <h1 class="title">Dashboard</h1>
    </div>
  </div>
    <div class="row">
        <div class="container-fluid">
            <div class="listing-holder mrgr32 col-md-6 listing">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Questions</th>
                      <th>Published</th>
                      <th>Not-Published</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>MCQs</td>
                      <td><%= @questionc_mcq_publish %></td>
                      <td><%= @questionc_mcq_not_publish %></td>
                      <td><%= @total_questions_mcq %></td>
                    </tr>
                    <tr>
                      <td>True/False</td>
                      <td><%= @questionc_truefalse_publish %></td>
                      <td><%= @questionc_truefalse_not_publish %></td>
                      <td><%= @total_questions_truefalse %></td>
                    </tr>
                    <tr>
                      <td>Fill in the Blanks</td>
                      <td><%= @questionc_blank_publish %></td>
                      <td><%= @questionc_blank_not_publish %></td>
                      <td><%= @total_questions_blank %></td>
                    </tr>
                    <tr>
                      <td>Descriptive Questions</td>
                      <td><%= @questionc_descriptive_publish %></td>
                      <td><%= @questionc_descriptive_not_publish %></td>
                      <td><%= @total_questions_descriptive %></td>
                    </tr>
                    <tr>
                      <td>TOTAL</td>
                      <td><%= @total_publish %></td>
                      <td><%= @total_not_publish %></td>
                      <td><%= @total_questions %></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          <div class="listing-holder col-md-5 listing">
            <table class="table">
              <thead>
              <tr>
                <th>Users</th>
                <th>Active</th>

              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Admin</td>
                <td><%= @admin_users %></td>
              </tr>
              <tr>
                <td>Students</td>
                <td><%= @student_users %></td>
              </tr>
              <tr>
                <td>HODs</td>
                <td><%= @hod_users%></td>
              </tr>
              <tr>
                <td>Teachers</td>
                <td><%= @teacher_users %></td>
              </tr>
              <tr>
                <td>Proofreaders</td>
                <td><%= @proofreader_users %></td>
              </tr>
              <tr>
                <td>Operators</td>
                <td><%= @operator_users %></td>
              </tr>
              <tr>
                <td>Total</td>
                <td><%= @total_users %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</section>
    <% end %>