<div class="modal_content pre_modal_content container">
  <div class="modal_left">
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_system"></i></div>
      <div class="modal_description">
        <h2>System requirements</h2>
        <p>Internet Explorer 8.0, Chrome 18.0, Firefox 11.0, or Safari 5.0 and above.</p>
      </div>
    </div>
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_syllabus"></i></div>
      <div class="modal_description">
        <h2>Test Syllabus</h2>
        <p>Database management techniques</p>
        <p>Variable types and value identification</p>
        <p>Syntax element identification and best practices</p>
      </div>
    </div>

  </div>
  <div class="modal_right">
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_length"></i></div>
      <div class="modal_description">
        <h2>Length and Duration</h2>
        <p>Test questions are adaptive. Most include about 10-20 questions, and take less than 10 minutes to complete.</p>
      </div>

    </div>
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_test"></i></div>
      <div class="modal_description">
        <h2>Length and Duration</h2>
        <p>Test questions are adaptive. Most include about 10-20 questions, and take less than 10 minutes to complete.</p>
      </div>

    </div>
  </div>

</div>
<div class="modal_iframe_footer">
  <%= form_for "quiz", :url => {:controller => 'home_page', :action => 'quiz'},
               :html => {:id => "test_code_form",:onsubmit => "return check_sign_in();"} do |f| %>
  <input type="hidden" id="user_test_history_id" name="user_test_history_id" value="<%=@user_test_history_id%>" >
  <button type="submit" class="modal_btn" href="#myModal">Take Test(its free)</button>

  <% end %>
</div>

<div class="modal fade modal_custom" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Elearning System
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="user_form_holder">
              <div class="pre_modal_left pull-left">
          <%= form_for @user, :url => {:controller => 'home_page', :action => 'quiz'},
                              :html => {:id => "registration_form",:onsubmit => "return create_user();"} do |f| %>
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                      <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>


                    <h2>Create An Account</h2>
                    <div class="field">
                      <%= f.email_field :email,:required => true, :placeholder=>:Email, :autofocus => true ,:class=>'row_field' %>
                    </div>

                    <div class="field">
                      <%= f.text_field :name,:required => true, :placeholder=>:Name, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$' ,:class=>'row_field' %>
                    </div>

                    <div class="field">
                      <%= f.phone_field :phone, :placeholder=>:Phone, :required => true,:class=>'row_field' %>
                    </div>

                    <div class="field">
                      <% if @validatable %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %>
                      <%= f.password_field :password, :placeholder=>:Password, :autocomplete=> "off" ,:required => true,:class=>'row_field' %>
                    </div>

                    <div class="field">
                      <%= f.password_field :password_confirmation, :placeholder=>:Password_confirmation, :autocomplete=> "off" ,:required => true,:class=>'row_field' %>

                    </div>
                  <div class="actions">
                    <%= f.submit "Register", :class => 'btn btn-large btn-inverse' %>
                  </div>
                </div>
                <input type="hidden" id="role" name="role" value="2" >
                <input type="hidden" id="b_id" name="b_id" value="<%=@board_id%>" >
                <input type="hidden" id="degree_id" name="degree_id" value="<%=@degree_id%>" >
                <input type="hidden" id="course_id" name="course_id" value="<%=@course_id%>" >
                <input type="hidden" id="mcq" name="mcq" value="<%=@mcq%>" >
                <input type="hidden" id="fill" name="fill" value="<%=@fill%>" >
                <input type="hidden" id="true_false" name="true_false" value="<%=@true_false%>" >
                <input type="hidden" id="descriptive" name="descriptive" value="<%=@descriptive%>" >
                <input type="hidden" id="past_paper_flag" name="past_paper_flag" value="<%=@past_paper_flag%>" >
                <input type="hidden" id="year" name="year" value="<%=@year%>" >
                <input type="hidden" id="session" name="session" value="<%=@session%>" >
          <% end %>

              <div class="pre_model_right">
                  <%= form_for :new_user, :url => {:controller => 'home_page',
                                           :action => 'quiz'},
                               :html => {:id => "login_form",:onsubmit => "return sign_in();"}     do |f| %>
                  <h2>Log in</h2>
                  <div class="field">
                    <%= f.email_field :email,:required => true, :placeholder=>:Email, :autofocus => true ,:class=>'row_field' %>
                  </div>

                  <div class="field">
                    <% if @validatable %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                    <%= f.password_field :password, :placeholder=>:Password, :autocomplete=> "off" ,:required => true,:class=>'row_field' %>
                  </div>
                    <div style="float: left; width: 73.3%"><label id="flash_message" style="color:red; margin:0"></label></div>
                  <div class="actions" style="float:left">
                  <%= f.submit "Login", :onclick=>"sign_in()", :class => 'btn btn-large btn-inverse' %>
                </div>
                    <input type="hidden" id="role" name="role" value="2" >
                    <input type="hidden" id="b_id" name="b_id" value="<%=@board_id%>" >
                    <input type="hidden" id="degree_id" name="degree_id" value="<%=@degree_id%>" >
                    <input type="hidden" id="course_id" name="course_id" value="<%=@course_id%>" >
                    <input type="hidden" id="mcq" name="mcq" value="<%=@mcq%>" >
                    <input type="hidden" id="fill" name="fill" value="<%=@fill%>" >
                    <input type="hidden" id="true_false" name="true_false" value="<%=@true_false%>" >
                    <input type="hidden" id="descriptive" name="descriptive" value="<%=@descriptive%>" >
                    <input type="hidden" id="past_paper_flag" name="past_paper_flag" value="<%=@past_paper_flag%>" >
                    <input type="hidden" id="year" name="year" value="<%=@year%>" >
                    <input type="hidden" id="session" name="session" value="<%=@session%>" >
                    <input type="hidden" id="flag" name="flag" value="1" >

                  <% end %>
          </div>
         </div>
           




        </div>
      </div>
      <div class="modal-footer m_footer_container">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

    function create_user()
    {
        var flag = true;
        $.get("home_page/create_user_registration", $("form#registration_form").serialize(), function (response) {
            if (response.success) {
                return true;
            }
            else {
                $('#flash_message').html("fail");
                flag = false;
            }

        }, "json")
        return flag;
    }
    function sign_in()
    {
        var flag = true;
        $.post("sign_in_user", $("form#login_form").serialize(), function (response) {
            if (response.success) {
                flag = true;
            }
            else {
                $('#flash_message').html("Invalid email or password");
                flag = false;
            }

        }, "json")
        return flag;
    }
    function check_sign_in()
    {
        var flag = false;
        $.ajax({
            url:'/home_page/is_user_signed_in',
            type:'get',
            dataType:'json',
            processData:false,
            async: false,
            success:function (response) {
                if (response.success) {
                    flag = true;
                }
                else {
                    flag = false;
                    $('#myModal').modal('toggle');

                }

            },
            error:function (data) {
                flag = false;
            }
        });
        return flag;
    }
</script>
