
<section class="hero-holder">
  <div class="row">
    <div class="container">
      <div class="hero-container">
        <h3>Getting started with <span>e-Learning</span></h3>
      </div>
    </div>
  </div>
</section>
<div class="pricing">
  <div class="pricing_holder container">
    <div  class="container_holder_post">
      <!--<div class="whole custom-whole">-->
        <!--<div class="plan">-->
          <!--<div class="content">-->
            <!--<ul>-->
              <!--<li>Number of Courses:</li>-->
              <!--<li>Papers:</li>-->
              <!--<li>Max Questions Allowed:</li>-->
              <!--<li class="pre_auto_height">Result Type:</li>-->
              <!--<li>Validity:</li>-->
              <!--<li class="last">Add Other Courses:</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <% @membership_plans.each do |plan| %>
          <div class="whole">
            <div class="type">
              <p><%=plan.name || ""%></p>
            </div>
            <div class="plan">

              <div class="header-post">
                <span>$</span><%=plan.price %>
                <p class="month">per month</p>
              </div>
              <div class="content">
                <ul>
                  <li><%=plan.paper%></li>
                  <li><%=plan.max_questions_allowed%></li>
                  <li><%=plan.result_type%></li>
                  <li><%=plan.validity %></li>
                </ul>
              </div>
              <div class="price">
                <%=link_to "BUY","home_page/checkout_form?mm_plan_id=#{plan.id}",class: 'bottom btn btn-primary' %>

              </div>
            </div>
          </div>

      <% end %>
    </div>

  </div>

</div>

