<div class="row wrapper page-heading white-bg border-bottom">
  <%= link_to "Manage Questions", "/questions", class: "btn btn-inverse" %>
  <%= link_to "Questions Details", "/questions/questions_detail", class: "btn btn-inverse" %>
  <%= link_to "Enable Question Review", '/workflow_paths', class: "btn btn-inverse"  %>
</div>

<div class="row wrapper wrapper-content white-bg">
    <div class="col-lg-12">
      <%= label_tag :select_certification %>
      <%= select_tag "degree", options_from_collection_for_select(@degrees, :id, :name) ,{:class=>'form-control'} %>
    </div>
</div>
<div class="row wrapper wrapper-content">

  <div class="col-lg-12">

        <div class="ibox listing-holder">

            <div class="ibox-title">

                <h5>Enable Question Assesment</h5>

            </div>
            <div class="ibox-content">


                <table class="table table-striped">
                  <thead>
                  <th>Certification</th>
                  <th>Subject</th>
                  <th>Enable</th>
                  </thead>

                  <% @course_degree_hash.each_with_index do |(degree,course),index| %>
                      <% degree_id,degree_name,course_id = degree.split("_") %>
                      <tr>
                        <td><%= degree_name %></td>
                        <td><%= course.name %></td>
                        <td><input type="checkbox" <%='checked=checked' if WorkflowPath.check_state(degree_id,course_id) %> id="checkbox_<%=index%>" value="1" onclick="toggle_workflow_path(<%=degree_id%>,<%= course_id %>,'checkbox_<%=index%>')"></td>
                      </tr>
                  <% end %>
                </table>


            </div>

        </div>


  </div>

</div>




<script type="text/javascript">
    $(document).ready(function() {
        $('.table').dataTable({
            "paging":   false,
            "bFilter": false,
        });
    });

    $('#degree').on("change", function(){
      degree_id = $('#degree').val();
      $.ajax({
        url: "workflow_paths/fetch_reviews?degree_id=" + degree_id,
        success: function(data){
          $('.listing-holder').html(data);
        }
      })
    })

    function toggle_workflow_path(degree_id,course_id,id){
        var value = 1;
        if($("#"+id).is(":checked") == true){
        value = 1;
        }
        else
        {
            value = 0;
        }

        $.ajax({
            url:'/workflow_paths/toggle_workflow?degree_id='+degree_id + '&course_id='+course_id + '&value='+value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {

            },
            error:function (data) {
                //    window.location.reload();
            }
        });
    }
</script>
