<div class="row listing-holder listing-holder-p">
  <div class="span5">
<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%=f.label :course %>
      <select id="course" name="course" required>
        <option value="">Select Course</option>
        <% Course.all.each do |course| %>
            <% if !@course.nil? && course.id == @course.id %>
                <option selected value="<%=course.id%>"><%=course.name%></option>
                <% else %>
                <option value="<%=course.id%>"><%=course.name%></option>
            <% end %>
        <% end %>
      </select>
    </div>



  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name,required: true %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-inverse' %>
  </div>
<% end %>


</div>

<div class="span5 offset1">

      <h4>List of courses</h4>
      <table class="table table-condensed">
        <th>Topic</th>
        <th>Courses</th>


        <% Topic.all.each do |topic| %>
            <tr>
              <td><%=topic.name%></td>
              <td><%=topic.course.name %></td>

            </tr>
        <% end %>
      </table>


</div>

</div>
<script>
    function generate_courses(degree_id)
    {
        //alert (degree_id.value);
        container = document.getElementById('course_container');
        $.ajax({
            url:'/topics/get_courses?degree_id='+degree_id.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#course_container").html(data);
                $("#course_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }


</script>