<div class="row listing-holder listing-holder-p">
  <div class="span5">
    <%= form_for(@topic) do |f| %>
        <% if @topic.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

              <ul>
                <% @topic.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>



        <div class="field">
          <%=f.label :course %>
          <select id="course" name="course" required>
            <option value="">Select Course</option>

            <% Course.all.each do |course| %>
                <% if !@course.nil? && course.id == @course.id %>
                    <option selected value="<%=course.id%>"><%=course.name%></option>
                <% elsif params[:course_id].present? %>
                    <% if course.id.to_s == params[:course_id] %>
                        <option value="<%=course.id %>" selected><%=course.name%></option>
                    <% end %>
                <% else %>
                    <option value="<%=course.id%>"><%=course.name%></option>
                <% end %>
            <% end %>
          </select>
        </div>



        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name,required: true %>
        </div>

        <%= hidden_field_tag :status, '1' %>

        <div id="parent_topic_container" class="field">
          <%= render 'parent_topic_select' %>
        </div>

        <div class="actions">
          <%= f.submit "Save and move next", class: 'btn btn-inverse', onclick:"set_status()"%> | <%= f.submit @topic.new_record? ? "Save and exit": "Update and exit", class: 'btn btn-inverse' %>
        </div>
    <% end %>


  </div>

  <div class="span5 offset1">

    <h4>List of courses</h4>
    <table class="table table-condensed">

      <thead>
      <th>Topic</th>
      <th>Courses</th>
      </thead>

      <tbody>

      <% Topic.all.each do |topic| %>
          <tr>
            <td><%=topic.name%></td>
            <td><%=topic.course.name %></td>

          </tr>
      <% end %>

      </tbody>

    </table>


  </div>

</div>
<script>

  $("document").ready(function(){
      $('.table').dataTable({bFilter: false, "bLengthChange": false});
      <% if params[:course_id].present? %>
      $("#course").change();
      <% end %>
  });


    function generate_courses(degree_id)
    {
        //alert (degree_id.value);
        container = document.getElementById('course_container');
        $.ajax({
            url:'/topics/get_courses?degree_id='+degree_id.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#course_container").html(data);
                $("#course_container").show();
            },
            error:function (data) {
                alert ('ERROR');
                //    window.location.reload();
            }
        });

    }

    function set_status(){
        $("#status").val('0');
    }

    $("#course").change(function(){
        $this = $(this);
        course_id = $this.val();
        $.ajax({
            url:'/topics/get_topics?course_id='+course_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#parent_topic_container").html(data);
                $("#topic_name").focus();
                $('#topic_parent_topic_id [value="<%= params[:parent_topic_id] %>"]').attr('selected',true);
            },
            error:function (data) {
                alert ('ERROR');
                //    window.location.reload();
            }
        });
    });


</script>

