<%= link_to "Manage Topics", "/topics", class: "btn btn-primary" %> |
<%= link_to "Topic Linkings", "/topic_linkings", class: "btn btn-primary" %>

<h1>Editing topic</h1>

<%= render 'form' %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>
