<%= link_to "Manage Topics", "/topics", class: "btn btn-primary" %> |
<%= link_to "Topic Linkings", "/topic_linkings", class: "btn btn-primary" %>

<div id="topic_container">
  <h1>Listing topics</h1>

  <%= label_tag :select_certification %>
  <%= select_tag "degree", options_from_collection_for_select(Degree.all, :id, :name) %>
  <div id="courses">
    <%= label_tag :select_course %>
    <%= select_tag "course", options_from_collection_for_select(Course.all, :id, :name) %>
  </div>

  <div class="listing-holder listing_data_table">

    <table id = "all_topics" class="table table-condensed" data-source="<%= topics_url(format: "json") %>">
      <thead>
        <tr>
          <th>Name</th>
          <th>Parent Topic</th>
          <th>Course</th>
          <th></th>
        </tr>
      </thead>

      <tbody>



      </tbody>

    </table>

  </div>

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if can? :manage, Topic %>
      <%= link_to 'New Topic', new_topic_path ,:class=> 'btn btn-inverse'%>
  <% end %>
</div>


<script>
  $('#degree').on("change", function(){
    degree_id = $('#degree').val();
    $.ajax({
      url: "/topics/fetch_courses?degree_id=" + degree_id,
      success: function(data){
        $('#courses').html(data);
      }
    })
  });

  $('#course').on("change", function(){
    course_id = $('#course').val();
    $.ajax({
      url: "/topics/fetch_table?course_id=" + course_id,
      success: function(data){
        $('.listing-holder').html(data);
      }
    })
  });

</script>

