<h1>Listing topics</h1>
<div class="listing-holder">

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.name %></td>
    <td><%= topic.course.name unless topic.course.nil? %></td>
    <% if can? :update, Topic %>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <% else %>
        <td></td>
    <% end %>
    <% if can? :update, Topic %>
        <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
        <td></td>
    <% end %>
  </tr>
<% end %>
</table>


</div>
<% if can? :manage, Topic %>
    <%= link_to 'New Topic', new_topic_path ,:class=> 'btn btn-inverse'%>
<% end %>