<!--<header class="header header-home">-->
  <!--<div class="header_top header_holder" style="display: none">-->
    <!--<div class="header_right container">-->
      <!--<p class="pull_left">-->
        <!--Phone: 1800-455-455 | contact@elslearn.com-->
      <!--</p>-->

      <!--<% if user_signed_in? && current_user.is_student? %>-->
          <!--<% stats = get_student_stats(current_user) %>-->
          <!--<% if stats['flag'] == true %>-->
          <!--<ul class="">-->
            <!--<li><h3>REMAINING : <%=stats["total_ques"] %></h3></li>-->
            <!--/-->
            <!--<li><h3>TOTAL: <%=stats["total_ques"].to_i - stats["ques_attempt"] %></h3></li>-->
          <!--</ul>-->
          <!--<% end %>-->
      <!--<% end %>-->

      <!--<ul class="social_media pull_right  ">-->
        <!--<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>-->
        <!--<li><a class="twitter"  href="#"><i class="fa fa-tumblr"></i></a></li>-->
        <!--<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
        <!--<li><a class="youtube"  href="#"><i class="fa fa-youtube"></i></a></li>-->
      <!--</ul>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="header_holder header_fix container">-->

    <!--<div class="header_left clr">-->
      <!--<h1 class="logo pull_left">-->
        <!--<a class="logo-white" style="display: none" href="/"><%= image_tag 'logo-white.png'%></a>-->
        <!--<a class="logo-dark" href="/"><%= image_tag 'logo.png'%></a>-->

      <!--</h1>-->
      <!--<div class="mobil_btn"> <span></span> <span></span> <span></span> </div>-->
      <!--<nav class="nav nav_mobile pull_right">-->
        <!--<ul>-->
          <!--<li><a  class="active" href="/">home</a></li>-->
          <!--<li><a href="/aboutUs">About Us</a></li>-->
          <!--<li><a href="/how_it_works">How it Works?</a></li>-->
          <!--<li><a href="/testimonials">Testimonials</a></li>-->
          <!--<li><a href="/pricing">Pricing</a></li>-->
          <!--&lt;!&ndash;<li><a href="#">Test Center</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#">Condidate Portal</a></li>&ndash;&gt;-->
          <!--<li><a href="#">Contact US</a></li>-->
          <!--&lt;!&ndash;<li><a href="/try_it">Try it</a></li>&ndash;&gt;-->
          <!--<form>-->
            <!--<fieldset>-->
              <!--<input type="text" class="text" placeholder="search" style="display:none ">-->
              <!--<button type="submit" class="btn_s"><i class="fa fa-search"></i></button>-->
            <!--</fieldset>-->
          <!--</form>-->
          <!--<% if user_signed_in? %>-->
              <!--<li class="dropdown"><a href="javascript:void(0)">My Account</a>-->
                <!--<ul class="sub_menu"><li>-->
                  <!--<% if user_signed_in? %>-->
                      <!--<%= link_to "sign out", "/sign_out" ,method: :delete, :class => 'navbar-link' %>-->
                      <!--<%= link_to "Profile" , "/user/my_profile" %>-->
                  <!--<% else %>-->
                      <!--<%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>-->
                  <!--<% end %>-->
                <!--</li>-->
                  <!--<% if user_signed_in? && current_user.is_not_student? %>-->
                      <!--<li><%= link_to "Admin Panel", "/admin_panel", :class => 'navbar-link' %></li>-->
                  <!--<% end %>-->
                <!--</ul>-->
              <!--</li>-->
          <!--<% else %>-->
              <!--<li><a href="users/sign_in">Log in</a></li>-->
              <!--<li><a class="register" href="users/sign_up">Register</a></li>-->
          <!--<% end %>-->
        <!--</ul>-->
      <!--</nav>-->
    <!--</div>-->

  <!--</div>-->
<!--</header>-->


<!-- HEADER -->
<header class="header">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="top-header__contacts"><i class="icon stroke icon-Phone2"></i>1800-455-455</div>
          <div class="top-header__contacts"><i class="icon stroke icon-Mail"></i><a href="mailto:Info@academica.com">contact@elslearn.com</a></div>
          <div class="top-header__link">
            <button class="btn-header btn-effect">LATEST</button>

            <span>

                <%= news_feed.title if news_feed %>


                  </span>
          </div>
          <div class="header-login">
            <!--<a class="header-login__item" href="javascript:void(0);"><i class="icon stroke icon-User"></i>Sign In</a>-->
            <!--<a class="header-login__item" href="javascript:void(0);">Register</a>-->
            <% if user_signed_in? %>
                <%= link_to "sign out", "/sign_out" ,method: :delete, :class => 'navbar-link' %> |
            <% else %>
               <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>  |
                <a class="register" href="users/sign_up">Register</a>
            <% end %>
            <% if user_signed_in? && current_user.is_not_student? %>
                <%= link_to "Admin Panel", "/admin_panel", :class => 'navbar-link' %>
           
            <% end %>



          </div>
        </div>
        <!-- end col  -->
      </div>
      <!-- end row  -->
    </div>
    <!-- end container  -->
  </div>
  <!-- end top-header  -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12"> <a class="header-logo" href="javascript:void(0);"><img class="header-logo__img" src="/assets/logo.png"  alt="Logo"></a>
        <div class="header-inner">
          <div class="header-search">
            <div class="navbar-search">
              <form id="search-global-form">
                <div class="input-group">
                  <input type="text" placeholder="Type your search..." class="form-control" autocomplete="off" name="s" id="search" value="">
                      <span class="input-group-btn">
                      <button type="reset" class="btn search-close" id="search-close"><i class="fa fa-times"></i></button>
                      </span> </div>
              </form>
            </div>
          </div>
          <a id="search-open" href="#fakelink"><i class="icon stroke icon-Search"></i></a> <a class="header-cart" href="/"> <i class="icon stroke icon-ShoppingCart"></i></a>
          <nav class="navbar yamm">
            <div class="navbar-header hidden-md  hidden-lg  hidden-sm ">
              <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown"><a href="/">Home<span class="nav-subtitle">OUR World</span></a>
                </li>
                <li class="dropdown"> <a href="/how_it_works">How it Works
                  <span class="nav-subtitle">What We Offers</span></a>
                </li>
                <li class="dropdown"> <a href="javascript:void(0)"">Users<span class="nav-subtitle">Users</span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a>Students</a></li>
                      <li><a>Teachers</a></li>
                      <li><a>Institutions</a></li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#">Institutions<span class="nav-subtitle">Portals</span></a>
                    <ul class="dropdown-menu">
                      <li><a>Onsite Testing</a></li>
                      <li><a>Onsite Portals</a></li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="javascript:void(0)"">What’s Next<span class="nav-subtitle">Portals</span></a>

                </li>

                <li class="dropdown"> <a href="/pricing">What’s Next<span class="nav-subtitle">Portals</span></a>

                </li>
                <li class="dropdown"> <a href="/pricing">Pricing<span class="nav-subtitle">Information</span></a>

                </li>
                <li class="dropdown"> <a href="javascript:void(0)"">Contact<span class="nav-subtitle">Information</span></a>

                </li>
                <% if user_signed_in? %>
                    <li class="dropdown"><a href="javascript:void(0)">My Account <span class="nav-subtitle">say us hi</span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                        <% if user_signed_in? %>
                            <%= link_to "sign out", "/sign_out" ,method: :delete, :class => 'navbar-link' %>
                            <%= link_to "Profile" , "/user/my_profile" %>
                              <% if current_user.is_student? %>
                                  <%= link_to "Attempt Test" , "/try_it" %>
                              <% end %>

                        <% else %>
                            <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
                        <% end %>
                      </li>
                        <% if user_signed_in? && current_user.is_not_student? %>
                            <li><%= link_to "Admin Panel", "/admin_panel", :class => 'navbar-link' %></li>
                        <% end %>
                      </ul>
                    </li>

                <% end %>
                <!--<li class="dropdown"> <a href="javascript:void(0);">BLOG<span class="nav-subtitle">Latest News</span></a>-->

                <!--</li>-->
                <!--<li><a href="javascript:void(0)">CONTACT<span class="nav-subtitle">say us hi</span></a></li>-->
              </ul>
            </div>
          </nav>
          <!--end navbar -->

        </div>
        <!-- end header-inner -->
      </div>
      <!-- end col  -->
    </div>
    <!-- end row  -->
  </div>
  <!-- end container-->
</header>
<!-- end header -->
