<div class="wrapper page-heading white-bg border-bottom">
  <h2>Editing Certification</h2>

</div>


<div class="wrapper-content wrapper">
  <div class="row  listing-holder-p ibox">
    <div class="col-md-8 mrgr32 listing-holder ibox-content">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>List of Certifications</th>
          <th>Board</th>
        </tr>
        </thead>
        <tbody>
          <%BoardDegreeAssignment.all.each do |bDegree| %>
              <tr>
                <td><%=bDegree.degree.name%></td>
                <td><%=bDegree.board.name %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3   listing-holder">
      <div class="ibox-content">
        <%= form_tag degree_path, method: :put, remote: true, id: "edit_degree" do |f| %>

            <% Board.all.each do |board| %>
                <%if @boards.find {|x| x.id == board.id} %>
                    <%= check_box_tag 'boards[]', board.id,true, :class => 'checkboxes' %><%= board.name %>
                <%else %>
                    <%= check_box_tag 'boards[]', board.id,false %><%= board.name %>
                <%end %>
            <% end %>

            <div class="field">
              <%= label_tag :name %>
              <%= text_field_tag :name, @degree.name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$'  %>
            </div>
            <div class="field">
              <% if @degree.enable %>
                <%= label_tag :enable %>
                <%= radio_button_tag :enable, true, checked: :checked  %>
                <%= label_tag "Disable"  %>
                <%= radio_button_tag :enable, false  %>
              <% else %>
                <%= label_tag :enable %>
                <%= radio_button_tag :enable, true  %>
                <%= label_tag "Disable"  %>
                <%= radio_button_tag :enable, false, checked: :checked  %>
              <% end %>

            </div>
            <div class="actions" style="margin-top: 15px;">
              <%= submit_tag "Update Certification", class: 'btn btn-large btn-inverse'%>
            </div>
        <% end %>
      </div>
    </div>

  </div>

</div>

<div class="wrapper-content wrapper">
  <%= link_to 'Back', "/degrees/manage_degrees", remote: true, id: "degree_back", class: 'btn btn-large btn-inverse'%>
</div>

<script>
  $('#edit_degree').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });

  $('#degree_back').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });
</script>