<div class="container">
<div class="row  listing-holder-p">
  <div class="col-md-8 mrgr32 listing-holder">
    <table class="table table-condensed">
      <th>List of Certifications</th>
      <th>Board</th>
      <%BoardDegreeAssignment.all.each do |bDegree| %>
          <tr><td><%=bDegree.degree.name%></td>
            <td><%=bDegree.board.name %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-3 pd17 listing-holder">
<%= form_for(@degree) do |f| %>
  <% if @degree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@degree.errors.count, "error") %> prohibited this certification from being saved:</h2>

      <ul>
      <% @degree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



          <% Board.all.each do |board| %>
                <%if @boards.find {|x| x.id == board.id} %>
                <%= check_box_tag 'boards[]', board.id,true, :class => 'checkboxes' %><%= board.name %>
                <%else %>
                <%= check_box_tag 'boards[]', board.id,false %><%= board.name %>
                <%end %>
          <% end %>




  <div class="field">
    <%= f.label :name , :class=>'mrtb10' %>
    <%= f.text_field :name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$'  %>
  </div>
  <div class="actions">
    <%= f.submit "Update Certification", class: 'btn btn-large btn-inverse'%>
  </div>
<% end %>
</div>

    </div>

</div>
<script type="text/javascript">
  function check_boxes(){

     var checkbox = document.getElementsByClassName("checkboxes");


  }

</script>