<h1>Listing degrees</h1>
<div class="listing-holder">
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Boards</th>
    <th></th>
    <th></th>
  </tr>

<% @degrees.each do |degree| %>
  <tr>
    <td><%= degree.name %></td>
    <td><% degree.boards.each_with_index do |board, index| %>
          <% if index == degree.boards.size - 1 %>
                  <%= board.name %>
          <% else %>
                  <%= board.name + ', ' %>
          <% end %>
      <% end %>


          </td>
    <% if can? :update, degree %>
        <td><%= link_to 'Edit', edit_degree_path(degree) %></td>
    <% else %>
        <td></td>
    <% end %>
    <% if can? :update, degree %>
        <td><%= link_to 'Destroy', degree, :method=> :delete, :data=> { :confirm=> 'Are you sure?' } %></td>
    <% else %>
        <td></td>
    <% end %>

  </tr>
<% end %>
</table>
</div>

<% if can? :manage, Degree %>
    <%= link_to 'New Degree', new_degree_path , :class=> 'btn btn-large btn-inverse'%>
<% end %>
