<h1>Listing books</h1>
<div class="listing-holder">
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.name %></td>
    <td><%= book.price %></td>
    <td><%= book.description %></td>
    <% if user_signed_in? && current_user.is_not_student? %>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
        <td><%= link_to 'Buy', book_path(book), :class => 'btn btn-inverse' %></td>
    <% end %>
        </tr>
<% end %>
</table>
</div>


<% if user_signed_in? && current_user.is_not_student? %>
<%= link_to 'New Book', new_book_path, class: 'btn btn-large btn-inverse' %>

<% else %>
    <td><%= link_to 'Place Order', books_path, :class => 'btn btn-large btn-inverse' %></td>
<% end %>