<p id="notice"><%= notice %></p>

<p><%= image_tag @book.avatar.url (:thumb) %></p>
<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<% if user_signed_in? %>
    <% if current_user.is_admin? %>
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-large btn-inverse' %> |
    <%= link_to 'Back', books_path, class: 'btn btn-large btn-inverse' %>
    <%end %>
        <%else %>
    <%= link_to 'Back', home_page_index_path, class: 'btn btn-large btn-inverse' %>
<%end %>