<table class="table" style="padding-bottom:10px;border-bottom: 3px solid">
  <thead>
    <tr>
      <th>Course</th>
      <th>Package</th>
      <th>Expires on</th>
      <th>Credit Left</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% @packages.each do |package| %>
      <tr>
        <td><%= package.name %></td>
        <td><%= package.plan.capitalize %></td>
        <td><% if package.validity %>
              <%= package.validity.day %> <%= I18n.t("date.abbr_month_names")[package.validity.month] %>, <%= package.validity.year %>
            <% else %>
              ∞
            <% end %></td>
        <td><% if package.validity %>
              PKR <%= package.credit_left %>/-
            <% else %>
              N/A
            <% end %></td>
        <td><%= link_to "delete", "/user/delete_package?id=#{package.id}", class: "delete",
                        remote: true, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.delete').on('ajax:success', function(e, data, status, xhr){
    $('#refresh_packages').html(data);
    $("#success").show();
    $("#success").delay(2500).fadeOut();
  }).on('ajax:error',function(e, xhr, status, error){
    $("#error").show();
    $("#error").delay(2500).fadeOut();
  });
</script>
