<div class="user_profile_holder">
  <div class="container">
    <div id="success" class="alert alert-success" style="display: none">
      <strong>Success!</strong> The package has been deleted.
    </div>
    <div id="error" class="alert alert-danger" style="display: none">
      <strong>Sorry!</strong> Due to some error package could not be deleted.
    </div>
    <div id="refresh_packages">
      <h1>Manage Courses</h1>
      <table class="table" style="padding-bottom:10px;border-bottom: 3px solid">
        <thead>
        <tr>
          <th>Course</th>
          <th>Package</th>
          <th>Expires on</th>
          <th>Credit Left</th>
          <th>Option</th>
        </tr>
        </thead>
        <tbody>
        <% @packages.each do |package| %>
            <tr>
              <td><%= package.name %></td>
              <td><%= package.plan.capitalize %></td>
              <td><% if package.validity %>
                    <%= package.validity.day %> <%= I18n.t("date.abbr_month_names")[package.validity.month] %>, <%= package.validity.year %>
                <% else %>
                    ∞
                <% end %></td>
              <td><% if package.validity %>
                    PKR <%= package.credit_left %>/-
                <% else %>
                    N/A
                <% end %></td>
              <td><%= link_to "delete", "/user/delete_package?id=#{package.id}", id: "delete",
                              remote: true, method: :delete %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div id="add_course_container">

    </div>
    <div id="packages_container">

    </div>
    <div id="purchase_container">

    </div>
    <%= link_to "Add Course", "/user/add_course", class: "btn btn-primary", id: "add_course", remote: true %> |
    <%= link_to "Back", "/user/my_profile", class: "btn btn-primary", id: "back" %>
  </div>
</div>

<script>
  $('#delete').on('ajax:success', function(e, data, status, xhr){
    $('#refresh_packages').html(data);
    $("#success").show();
    $("#success").delay(2500).fadeOut();
  }).on('ajax:error',function(e, xhr, status, error){
    $("#error").show();
    $("#error").delay(2500).fadeOut();
  });

  $('#add_course').on('ajax:success', function(e, data, status, xhr){
    $('#add_course_container').html(data);
    $('#refresh_packages').hide();
    $('#add_course').hide();
    $('#back').hide();
  })

</script>