<div class="user_profile_holder">
  <div class="container">
    <h1>Test Reviews</h1>
    <div class="user_profile_left">
      <ul class="u_left_holder">
        <li><a class="avtar" href="#">
          <% if @user.avatar.present?%>
              <%= image_tag @user.avatar.url %>
          <% else %>
              <img src="/assets/FB-profile-avatar.jpg" alt=""> </a> </li>
          <% end %>
          <% if current_user.is_student? %>

              <li><a  href="/user/my_profile">
                <i class="fa fa_icon fa-book"></i>
                My Profile</a> </li>

              <li><a  href="/user/manage_courses">
                <i class="fa fa_icon fa-book"></i>
                Manage Courses</a> </li>

              <li><a  href="#" id="test_code">
                <i class="fa fa_icon fa-book"></i>
                Attempt Test Code</a> </li>
              <!--<li><a  href="/user/manage_courses">-->
              <!--<i class="fa fa_icon fa-book"></i>-->
              <!--Manage Courses</a> </li>-->

          <% end %>


      </ul>
    </div>

    <div id="myModal" style="overflow:scroll;" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Attempt Test Code</h4>
          </div>
          <div class="modal-body">
            <div class=" viual_right col">

              <h2>Enter Code</h2>

              <fieldset>

                <div class="pre_header_row">
                  <div id="not_present" class='alert alert-error' style='color:red;display: none'>
                    <strong>Sorry!</strong> There is no test against this test code.
                  </div>

                  <div id="not_registered" class='alert alert-error' style='color:red;display: none'>
                    <strong>Sorry!</strong> You are not registered with this course.
                  </div>

                  <div id="credit_limit" class='alert alert-error' style='color:red;display: none'>
                    <strong>Sorry!</strong> Your package's credit has reached it's limit.
                  </div>

                  <div id="free_package" class='alert alert-error' style='color:red;display: none'>
                    <strong>Sorry!</strong> You can not attempt a descriptive test with a <strong>FREE PACKAGE</strong>.
                  </div>

                  <form method="post" action="/homepage/check_package" data-remote="true" id="attempt_test_code" >
                    <input type="text" name="test_code" class="text form-control" placeholder="Test Code">
                    <input type="hidden" name="test_flag" value="2" >
                    <button type="submit" class="btn btn-primary modal_btn">Submit</button>
                  </form>
                </div>

              </fieldset>

            </div>


          </div>
        </div>
      </div>
    </div>

        <div class="user_profile_right test-reviews ">
      <h1>Quizzes</h1>
      <table class=" pre_table_dashboard" width="100%">


        <thead>
        <tr class="user_profile_nav">
          <th>Course</th>
          <th>Quiz Code</th>
          <th>Questions (n)</th>
          <th>Date Attempt</th>
          <th>Marks</th>
          <th>Obtained</th>
          <th>Marks %</th>
          <th>Reviewed by</th>
        </tr>
        </thead>
        <tbody>

        <% @tests.each do |test| %>
            <tr>
              <% user = User.find_by_id(test.teacher_id) %>
              <td><%= @courses.select{|course| test.course_id == course.id}.first.name %></td>
              <td><%= test.code + " " + test.id.to_s %></td>
              <td><%= test.total_questions.to_s %></td>
              <td><%= test.created_at.to_date %></td>
              <td><%= test.total %></td>
              <td><%= test.score %></td>
              <td>
                <% if test.score %>
                  <%= ((test.score.to_f / test.total) * 100).round(2) %> %
                <% else %>
                   0.0 %
                <% end %>
              </td>
              <td><%= user.name if user %></td>
              <td><%= link_to "Show", "/user/quiz_answers?test_id=#{test.id}" %></td>
            </tr>
        <% end %>

        </tbody>

      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.pre_table_dashboard').dataTable();
  } );

  $('#attempt_test_code').bind('ajax:success', function(e, data){
    $('body').html(data);
  })

  $('#attempt_test_code').bind('ajax:error', function(e, data, status, xhr){
    if (data.responseJSON.flag == "not_present")
    {
      $('#not_present').show();
      $("#not_present").delay(2500).fadeOut();
    }
    else if (data.responseJSON.flag == "not_registered")
    {
      $('#not_registered').show();
      $("#not_registered").delay(2500).fadeOut();
    }
    else if (data.responseJSON.flag == "credit_limit")
    {
      $('#credit_limit').show();
      $("#credit_limit").delay(2500).fadeOut();
    }
    else if (data.responseJSON.flag == "free_package")
    {
      $('#credit_limit').show();
      $("#credit_limit").delay(2500).fadeOut();
    }

  })

  $('#test_code').on('click', function(){
    $('#myModal').modal('toggle');
  });

</script>