<div class="user_profile_holder">
  <div class="container">
    <h1>User Profile Page</h1>
    <div class="user_profile_left">
      <ul class="u_left_holder">
        <li><a class="avtar" href="#">
          <% if @user.avatar.present?%>
              <%= image_tag @user.avatar.url %>
          <% else %>
              <img src="/assets/FB-profile-avatar.jpg" alt=""> </a> </li>
          <% end %>

          <li><a  href="/user/manage_courses">
            <i class="fa fa_icon fa-book"></i>
            Manage Courses</a> </li>

      </ul>
    </div>
    <div class="user_profile_right">
      <h1>Quizzes</h1>
      <table class=" pre_table_dashboard" width="100%">


        <thead>
        <tr class="user_profile_nav">
          <th><h3>Course</h3></th>
          <th><h3>Quiz Code</h3></th>
          <th><h3>Questions (n)</h3></th>
          <th><h3>Date Attempt</h3></th>
          <th><h3>Marks</h3></th>
          <th><h3>Obtained</h3></th>
          <th><h3>Marks %</h3></th>
          <th><h3>Reviewed by</h3></th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <% @tests.each do |test| %>
            <tr>
              <% user = User.find_by_id(test.teacher_id) %>
              <td><%= @courses.select{|course| test.course_id == course.id}.first.name %></td>
              <td><%= test.code %></td>
              <td><%= test.descriptive.split(',').count if test.descriptive %></td>
              <td><%= test.created_at.to_date %></td>
              <td><%= test.total %></td>
              <td><%= test.score %></td>
              <td><%= (test.score.to_f / test.total) * 100 %> %</td>
              <td><%= user.name if user %></td>
              <td><%= link_to "Show", "/user/quiz_answers?test_id=#{test.id}" %></td>
            </tr>
        <% end %>

        </tbody>

      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.pre_table_dashboard').dataTable();
  } );
</script>