<h1>New board</h1>

<div class="container">
  <div class="row  listing-holder-p">
    <div class="col-md-8 mrgr32 listing-holder">
      <table class="table table-condensed">
        <th>List of Boards</th>
        <%Board.all.each do |board| %>
            <tr><td><%=board.name%></td></tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-3 pd17 listing-holder">
      <%= form_tag boards_path, remote: true, id: "create_board" do |f| %>

          <div class="field">
            <%= label_tag :name %>
            <%= text_field_tag :name, @board.name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$'  %>
          </div>
          <div class="field">
            <% if @board.enable %>
                <%= label_tag :enable %>
                <%= radio_button_tag :enable, true, checked: :checked  %>
                <%= label_tag "Disable"  %>
                <%= radio_button_tag :enable, false  %>
            <% else %>
                <%= label_tag :enable %>
                <%= radio_button_tag :enable, true  %>
                <%= label_tag "Disable"  %>
                <%= radio_button_tag :enable, false, checked: :checked  %>
            <% end %>
          </div>
          <div class="actions">
            <%= submit_tag "Create Board", class: 'btn btn-large btn-inverse'%>
          </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Back', "/boards/manage_boards", remote: true, id: "board_back" , class: 'btn btn-large btn-inverse' %>

<script>
  $('#create_board').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });

  $('#board_back').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });
</script>