<div class="wrapper page-heading white-bg border-bottom">
  <h2>New board</h2>

</div>
<div class="wrapper-content wrapper">


  <div class="row  listing-holder-p ibox">
    <div class="col-md-8 mrgr32 listing-holder ibox-content">
      <table class="table  table-striped">
        <thead>
          <tr>
            <th>List of Boards</th>
          </tr>
        </thead>
        <tbody>
        <%Board.all.each do |board| %>
            <tr><td><%=board.name%></td></tr>
        <% end %>
        </tbody>

      </table>
    </div>
    <div class="col-md-3   listing-holder">
      <div class="ibox-content">
      <%= form_tag boards_path, remote: true, id: "create_board" do |f| %>

          <div class="field">
            <%= label_tag :name %>
            <%= text_field_tag :name, @board.name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$'  %>
          </div>
          <div class="field">
            <% if @board.enable %>
                <%= label_tag :enable %>
                <%= radio_button_tag :enable, true, checked: :checked  %>
                <%= label_tag "Disable"  %>
                <%= radio_button_tag :enable, false  %>
            <% else %>
                <%= label_tag :enable %>
                <%= radio_button_tag :enable, true  %>
                <%= label_tag "Disable"  %>
                <%= radio_button_tag :enable, false, checked: :checked  %>
            <% end %>
          </div>
          <div class="actions" style="margin-top: 15px;">
            <%= submit_tag "Create Board", class: 'btn btn-large btn-inverse'%>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content">
<%= link_to 'Back', "/boards/manage_boards", remote: true, id: "board_back" , class: 'btn btn-large btn-inverse' %>
</div>

<script>
  $('#create_board').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });

  $('#board_back').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });
</script>