<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <%= link_to "Manage Boards", "/boards/manage_boards", remote: true, id: "board_link", class: "btn pull-left btn-inverse" %>
    <%= link_to "Manage Certifications", "/degrees/manage_degrees", remote: true, id: "degree_link", class: "btn btn-inverse pull-right" %>
  </div>
</div>

<div id="bdegree_container">

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Listing boards </h5>

          <div ibox-tools></div>
        </div>
        <div class="ibox-content">

          <table class="table table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
              <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <% @boards.each do |board| %>
                <tr>
                  <td><%= board.name %></td>
                  <% if can? :manage, board %>
                      <td><%= link_to 'Edit', edit_board_path(board), class: "edit_board", remote: true %></td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if can? :manage, board %>
                      <td><%= link_to 'Delete', board, method: :delete, remote: true,
                                      class: "delete_board", data: { confirm: 'Are you sure?' } %></td>
                  <% else %>
                      <td></td>
                  <% end %>

                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <% if can? :manage, Board %>
          <%= link_to 'New Board', new_board_path, id: "new_board", remote: true, :class=> 'btn btn-large btn-inverse' %>
      <% end %>
    </div>
  </div>
</div>



</div>

<script>
  $('#board_link').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });

  $('#degree_link').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });

  $('#new_board').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });

  $('.delete_board').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
    $( "<br><div id='error' class='alert alert-danger'> <strong>Board successfully deleted.</strong> </div>" ).insertAfter( "h1" );
    $('#error').fadeIn(700).delay(2500).fadeOut(800);
  });

  $('.edit_board').on("ajax:success", function(e, data, status, xhr){
    $('#bdegree_container').html(data);
  });


</script>