<div class="wrapper page-heading white-bg border-bottom">
  <h2>New course</h2>

</div>

<div class="wrapper-content wrapper">
  <div class="row  listing-holder-p ibox">

    <div class="col-md-8 mrgr32 listing-holder ibox-content">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Courses</th>
          <th>Certification</th>
          <th>Board</th>
        </tr>
        </thead>
        <tbody>
          <%DegreeCourseAssignment.all.each do |dc| %>
              <tr><td><%=dc.course.name unless dc.course.nil? %></td>
                <td><%=dc.board_degree_assignment.degree.name unless dc.board_degree_assignment.nil?  %></td>
                <td><%=dc.board_degree_assignment.board.name unless dc.board_degree_assignment.nil? %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3   listing-holder">
      <div class="ibox-content">
        <%= form_tag courses_path, remote: true, id: "create_course" do |f| %>

            <% @board_hash.each do |id,value| %>
              <% if @boards.find {|x| x.id == id} %>
                <label><%= radio_button_tag 'boards[]', id,true %><%=value %></label>
              <% else %>
                <label><%= radio_button_tag 'boards[]', id,false %><%=value %></label>
              <% end %>
            <% end %>

            <div class="field">
              <%= label_tag :name %>
              <%= text_field_tag :name, @course.name,:required => true, :pattern => '^[a-zA-Z]+?[^\\\/:*?"<>|\n\r]+$'  %>
            </div>
            <div class="field">
              <label>Enable</label>
              <%= radio_button_tag :enable, true  %>
              <label>Disable</label>
              <%= radio_button_tag :enable, false, checked: :checked  %>
            </div>
            <div class="actions">
              <%= submit_tag "Create Course", class: 'btn btn-inverse' %>
            </div>
        <% end %>
      </div>
    </div>


  </div>
</div>
<div class="wrapper wrapper-content">
  <%= link_to 'Back', "/courses/manage_courses", remote: true, id: "course_back" , class: 'btn btn-large btn-inverse' %>
</div>

<script>
  $('#create_course').on("ajax:success", function(e, data, status, xhr){
    $('#course_container').html(data);
  });

  $('#course_back').on("ajax:success", function(e, data, status, xhr){
    $('#course_container').html(data);
  });
</script>