<h1>Listing courses</h1>
<div class="listing-holder">
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Degree  ( Board )</th>
    <th></th>
    <th></th>
  </tr>

  <% @degree_hash.each do |k,v| %>
  <tr>
    <td><%= k.split("-").last  %></td>
    <td>

      <%v.each_with_index do |bdgree, index| %>
          <% if index == v.size - 1 %>
            <%= bdgree.board.name + "(" + bdgree.degree.name + ")" %>
          <% else %>
               <%= bdgree.board.name + "(" + bdgree.degree.name + "), " %>
          <% end %>
      <% end %>



    </td>
    <% if can? :update, Course %>
        <td><%= link_to 'Edit', edit_course_path(k.split("-").first.to_i) %></td>
    <% else %>
        <td></td>
    <% end %>
    <% if can? :update, Course %>
        <td><%= link_to 'Delete',course_path(k.split("-").first.to_i), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
        <td></td>
    <% end %>


  </tr>
<% end %>
</table>
</div>


<%= link_to 'New Course', new_course_path, class: 'btn btn-large btn-inverse' %>
