<h1>Listing tests</h1>
<div class="listing-holder">
<table class="table table-condensed">
  <tr>
    <th>Title</th>
    <th>Course</th>
    <th>Teacher</th>
    <th>No. of Questions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tests.each do |test| %>
  <tr>
    <td ><%= test.name %></td>
    <td ><%= Course.find_by_id(test.course_id).name%></td>
    <td ><%= test.test_code%></td>
    <% if user_signed_in? && current_user.is_not_student? %>

    <td><%= link_to 'Edit', edit_test_path(test) %></td>
    <td><%= link_to 'Delete', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
        <td><%= link_to 'Attempt', test_path(test),class: 'btn btn-inverse' %></td>
    <% end %>
        </tr>
<% end %>
</table>
</div>

<% if user_signed_in? && current_user.is_not_student? %>
<%= link_to 'New Test', new_test_path, class: 'btn btn-large btn-inverse' %>
<% end %>