
<div class="ibox">
  <div class="ibox-title">
    <h5>Membership Plans</h5>
  </div>
  <div class="ibox-content">
    <%= form_for(@membership_plan , :html => {:class => "form-horizontal"}) do |f|  %>
        <% if @membership_plan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@membership_plan.errors.count, "error") %> prohibited this membership_plan from being saved:</h2>

              <ul>
                <% @membership_plan.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field form-group">
          <%= f.label :name , :class=>'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :name , :class=>'form-control'%>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field form-group">
          <%= f.label :price , :class=>'col-sm-2 control-label' %>
          <div class="col-sm-10">
              <%= f.text_field :price , :class=>'form-control' %>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="field form-group">
          <%= f.label :paper , :class=>'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :paper , :class=>"form-control" %>
          </div>
        </div>

        <div class="hr-line-dashed"></div>

          <div class="field form-group">
            <%= f.label :max_questions_allowed , :class=>'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :max_questions_allowed , :class=>"form-control"  %>
            </div>
          </div>
        <div class="hr-line-dashed"></div>
          <div class="field form-group">
            <%= f.label :result_type , :class=>'col-sm-2 control-label'  %>
            <div class="col-sm-10">
                <%= f.text_field :result_type , :class=>"form-control"  %>
            </div>
          </div>
        <div class="hr-line-dashed"></div>
          <div class="field form-group">
            <%= f.label :validity , :class=>'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :validity , :class=>"form-control" %>
            </div>
          </div>
        <div class="hr-line-dashed"></div>
          <div class="field form-group">
            <%= f.label :other_course_amount , :class=>'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :other_course_amount , :class=>"form-control" %>

            </div>
          </div>
        <div class="hr-line-dashed"></div>
          <div class="actions mrtb10">
            <%= f.submit :class=>'btn btn-inverse' %>
          </div>

    <% end %>
        </div>
    </div>

</div>




