<li>
  <%= link_to boards_path  , id:"" do %>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>

      Boards/Certifications
  <% end %>
</li>

<li>
  <%= link_to courses_path  , id:"" do %>
      <i class="fa fa-book" aria-hidden="true"></i>

      Manage Courses
  <% end %>
</li>

<li>
  <%= link_to topics_path  , id:"" do %>
      <i class="fa fa-list-alt" aria-hidden="true"></i>
      Manage Topics
  <% end %>
</li>

<li>
  <%= link_to quizzes_path  , id:"" do %>
      <i class="fa fa-bug" aria-hidden="true"></i>

      Manage Tests
  <% end %>
</li>

<li>
  <%= link_to questions_path  , id:"" do %>
      <i class="fa fa-question" aria-hidden="true"></i>
      Manage Questions
  <% end %>
</li>

<li>
  <%= link_to user_path  , id:"" do %>
      <i class="fa fa-user" aria-hidden="true"></i>


      Manage Users
  <% end %>
</li>

<li>
  <%= link_to  'home_page/payments' , id:"" do %>
      <i class="fa fa-credit-card" aria-hidden="true"></i>


      Payments
  <% end %>
</li>