<li>
  <%= link_to "Manage Boards", boards_path %>
</li>

<li>
  <%= link_to "Manage Certifications", degrees_path %>
</li>

<li>
  <%= link_to "Manage Courses", courses_path%>
</li>

<li>
  <%= link_to "Course Linking", course_linkings_path %>
</li>

<li>
  <%= link_to "Manage Tests", quizzes_path %>
</li>

<li>
  <%= link_to "Manage Topics", topics_path %>
</li>

<li>
  <%= link_to "Topic Linking", topic_linkings_path %>
</li>

<li>
  <%= link_to "Manage Questions (#{questions_count})", questions_path %>
</li>

<li>
  <%= link_to "Manage Users", user_path %>
</li>
<li>
  <%= link_to "Manage Roles", roles_path %>
</li>
<li>
  <%= link_to "Manage Membership Plans", membership_plans_path %>
</li>
<li>
  <%= link_to "Questions Detail", 'questions/questions_detail' %>
</li>
<li>
  <%= link_to "Enable Question Review", '/workflow_paths' %>
</li>

