<li>
  <%= link_to "Manage Boards", boards_path %>
</li>

<li>
  <%= link_to "Manage Degrees", degrees_path %>
</li>

<li>
  <%= link_to "Manage Courses", courses_path%>
</li>

<li>
  <%= link_to "Manage Tests", quizzes_path %>
</li>

<li>
  <%= link_to "Manage Topics", topics_path %>
</li>

<li>
  <%= link_to "Manage Questions", questions_path %>
</li>

<li>
  <%= link_to "Manage Notes", books_path %>
</li>

<li>
  <%= link_to "Manage Users", teacher_index_path %>
</li>
<li>
  <%= link_to "Manage Roles", roles_path %>
</li>