<li>
  <%= link_to "Manage Boards", boards_path %>
</li>

<li>
  <%= link_to "Manage Degrees", degrees_path %>
</li>

<li>
  <%= link_to "Manage Courses", courses_path%>
</li>

<li>
  <%= link_to "Manage Topics", topics_path %>
</li>

<li>
  <%= link_to "Add Questions", questions_path %>
</li>

<li>
  <%= link_to "Manage Questions", questions_approval_questions_path %>
</li>