<!--<li>-->
  <%#= link_to "Manage Boards", boards_path %>
<!--</li>-->

<!--<li>-->
  <%#= link_to "Manage Degrees", degrees_path %>
<!--</li>-->

<!--<li>-->
  <%#= link_to "Manage Courses", courses_path%>
<!--</li>-->

<!--<li>-->
  <%#= link_to "Manage Topics", topics_path %>
<!--</li>-->

<li>
  <%= link_to questions_path  , id:"" do %>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add Questions
  <% end %>
</li>
<li>
  <%= link_to  questions_approval_questions_path , id:"" do %>
      <i class="fa fa-life-ring" aria-hidden="true"></i>
      <%="Manage Questions (#{question_count_operator})"%>
  <% end %>
</li>

<li>
  <%# if current_user.email %>
  <%= link_to  rejected_questions_questions_path , id:"" do %>
      <i class="fa fa-eject" aria-hidden="true"></i>

      <%= "Rejected Questions (#{question_count_operator_rejected})" %>
      <% end %>
  <%#= link_to current_user.role, questions_approval_questions_path %>
</li>