<li>
  <%= current_user.teacher_token || "No TOken" %>
</li>

<% unless current_user.is_hod? %>
<li>
  <%= link_to "New Students", "/new_students" %>
</li>

<li>
  <%= link_to "Manage Students", "/manage_students" %>
</li>
<% end %>
<li>
  <%= link_to "Manage Tests", quizzes_path %>
</li>
<li>
  <%= link_to "Manage Questions (#{question_count_teacher})", questions_path %>
</li>
<li>
  <%= link_to "Approve Questions (#{approve_question_count_teacher})", questions_approval_questions_path %>
</li>