<!DOCTYPE html>
<html>
<head>
  <title>ExamsSystem</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="wrapper">

  <% if user_signed_in?  %>

      <%= render 'shared/adminHeader' %>
      <%= render 'shared/errors' %>

      <div class="admin_main">
        <div id="page-content-wrapper">

          <%= yield %>

        </div>
      </div>

  <% end %>

</div>

</body>
</html>
<script type="text/javascript">$(document).ready(function() {
    if ($('.textarea').length > 0) {
        var data = $('.textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id, {
                customConfig: 'page-config.js'
            });
        });
    }
});</script>

