<!DOCTYPE html>
<html>
<head>
  <title>ExamsSystem</title>
 <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="wrapper">


      <%= render 'shared/header' %>
      <%= render 'shared/errors' %>
        <%= yield %>

      <footer class="footer">
        <div class="footer_holder container">
          <div class="footer_box box_top">
            <h3>Quick Links</h3>
            <ul class="footer_links">
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
            </ul>
          </div>
          <div class="footer_box box_top">
            <h3>Quick Links</h3>
            <ul class="footer_links">
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
            </ul>
          </div>
          <div class="footer_box text-right">
            <h3 class="footer_logo"><a href="#"><img src="/assets/logo.png"></a></h3>
            <p>
              Address lorem ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p>ph:00 000 00000</p>
            <p>fax:00 000 00000</p>
          </div>
          <div class="footer_box text-right">

            <ul class="footer_social_media">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter"  href="#"><i class="fa fa-tumblr"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="youtube"  href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <form>
              <fieldset>
                <input type="text" class="text" placeholder="search">
                <button type="submit" class="btn_s"><i class="fa fa-search"></i></button>
              </fieldset>
            </form>
          </div>
        </div>
      </footer>

</div>

</body>
</html>

