<!DOCTYPE html>
<html>
<head>
  <title>ExamsSystem</title>
 <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="wrapper">

<% if user_signed_in? && current_user.is_admin? %>

    <%= render 'shared/adminHeader' %>

      <div class="admin_main">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

          <% if current_user.is_not_student? %>

              <li class="sidebar-brand">
                <%= link_to "ELS Learning", home_page_index_path%>
              </li>
              <% if current_user.is_admin? %>

                  <li>
                    <%= link_to "Manage Boards", boards_path %>
                  </li>

                  <li>
                    <%= link_to "Manage Degrees", degrees_path %>
                  </li>

                  <li>
                    <%= link_to "Manage Courses", courses_path%>
                  </li>

                  <li>
                    <%= link_to "Manage Tests", tests_path %>
                  </li>

                  <li>
                    <%= link_to "Manage Topics", topics_path %>
                  </li>
                  <li>
                    <%= link_to "Manage Notes", books_path %>
                  </li>

                  <li>
                    <%= link_to "Manage Teachers", teacher_index_path %>
                  </li>
              <% end %>

              <li>
                <%= link_to "Manage Questions", questions_path %>
              </li>
              <li>
                <%= link_to "Home", home_page_index_path %>
              </li>


          <% else %>

              <li>
                <%= link_to "View Books", books_path %>
              </li>

              <li>
                <%= link_to "View Tests", tests_path %>
              </li>

              <li>
                <%= link_to "sign out", sign_out_path,method: :delete %>
              </li>

          <% end %>


        </ul>
      </div>
      <div id="page-content-wrapper">

      <%= yield %>

      </div>
</div>
<% else %>



    <%= render 'shared/header' %>
        <%= yield %>
      <footer class="footer">
        <div class="footer_holder container">
          <div class="footer_box box_top">
            <h3>Quick Links</h3>
            <ul class="footer_links">
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
            </ul>
          </div>
          <div class="footer_box box_top">
            <h3>Quick Links</h3>
            <ul class="footer_links">
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
              <li>Lorem Ipsum lorem</li>
            </ul>
          </div>
          <div class="footer_box text-right">
            <h3 class="footer_logo"><a href="#"><img src="/assets/logo.png"></a></h3>
            <p>
              Address lorem ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p>ph:00 000 00000</p>
            <p>fax:00 000 00000</p>
          </div>
          <div class="footer_box text-right">

            <ul class="footer_social_media">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter"  href="#"><i class="fa fa-tumblr"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="youtube"  href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <form>
              <fieldset>
                <input type="text" class="text" placeholder="search">
                <button type="submit" class="btn_s"><i class="fa fa-search"></i></button>
              </fieldset>
            </form>
          </div>
        </div>
      </footer>

<% end %>

</div>




</body>
</html>

