<!DOCTYPE html>
<html>
<head>
  <title>ExamsSystem</title>
 <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<style type="text/css">
    div.dialog {
        width: 25em;
        padding: 0 4em;
        margin: 4em auto 0 auto;
        border: 1px solid #ccc;
        border-right-color: #999;
        border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
</style>
<body>

<div class="wrapper">

<% if user_signed_in?%>

    <%= render 'shared/quizHeader' %>
        <%= render 'shared/errors' %>
      <div class="admin_main">

      <div id="page-content-wrapper" style="margin-left:30px">

      <%= yield %>

      </div>
</div>
      <% else %>
      <title>You are not allowed to access this page (403) Sorry :)</title>

      <div class="dialog">
        <h1>You are not allowed to access this page</h1>
        <p>Please Login first !! </p>
        <a href="/sign_in">Sign In</a>
      </div>
<% end %>

</div>

</body>
</html>

