

<%= form_for @user, remote: true, :url=> '/users/update_user',html: {id: 'sign_up_form_2'} do |f| %>
    <% [:alert, :notice].select { |type| !flash[type].blank? }.each do |type| %>
        <p style="color: red"><%= flash[type] %></p>
    <% end %>
    <%=hidden_field_tag :id,@user.id %>
    <div class="field">
      <%= f.label :institute %><br />
      <%= f.email_field :institute, :autofocus=> true %>
    </div>

    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone  %>
    </div>
    <% if @user.roles.first.name.downcase == 'student' %>
        <div class="field">
          <%= label_tag :degree %><br />
          <%=select_tag "user[degree_id]",options_for_select(get_degrees.map{|x| [x.name,x.id]}),id: 'select_degree' %>
        </div>
    <% else %>
        <div class="field">
          <% get_degrees.each do |degree| %>
              <%= check_box_tag 'degrees[]', degree.id -%><%=degree.name %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :student_amount %><br />
          <%= f.text_field :student_amount %>
        </div>
    <% end %>

    <div id="courses_container" class="field">
      <div id = "selected_course"></div>

    </div>

    <div class="actions">
      <%#= f.submit "Sign up", class: 'btn btn-inverse' %>
    </div>
<% end %>


<script type="text/javascript">

    $("#select_degree").change(function(){
        degree_id = $(this).val();
//        alert(degree_id);
        $.ajax({
            url: '/user/get_courses_by_degree_id?degree_id=' + degree_id,
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {
                $('#selected_course').html(data);
            },
            error: function (data) {
                alert("Error Occurred");
            }
        });
//        $("#courses_container").show();
//        $(".course_all").show();
//      $(".course_"+$this.attr("id")).show();
    });

</script>