
<%= form_tag remote: true, :url=> '/users/save_form_3',html: {id: 'sign_up_form_2'} do |f| %>

    <div class="field">
      <%= label_tag :institute %><br />
      <%= email_field_tag :institute %>
    </div>

    <div class="field">
      <%= label_tag :phone %><br />
      <%= text_field_tag :phone  %>
    </div>


    <% if @role.name.downcase == 'student'  && @degrees.present? %>
        <div class="field">
          <%= label_tag :certification %><br />


          <select name="degrees"  id="select_degree">
            <%= @degrees.each_with_index do |degree,index| %>

                <% if index == 0 %>
                    <option value="<%= degree.id %>", selected="selected"><%= degree.name %></option>
                <% else %>
                    <option value="<%= degree.id %>"><%= degree.name %></option>
                <% end %>
            <% end %>
          </select>

          <span id="certification_error" style="display:none;color:#cc0000"></span>
          <div id="courses_container" class="field">
            <div id = "selected_course"></div>

          </div>
          <br>
          <div>

            Please note that most of the testing tools are FREE for all students.
            To make a student's learning experience more valuable, certain features are charged as follows:

          </div>
          <table>
            <thead>
              <tr>
                <th style="align:center">Certification</th>
                <th style="align:center">VALUE</th>
                <th style="align:center">COMPLETE</th>
              </tr>
            </thead>
            <tbody style="font-size: 12px">
              <tr>
                <td>IGCSE</td>
                <td>$25 | PKR 2750</td>
                <td>$35 | PKR 3850</td>
              </tr>
              <tr>
                <td>O Level</td>
                <td>$25 | PKR 2750</td>
                <td>$35 | PKR 3850</td>
              </tr>
              <tr>
                <td>A & AS Level</td>
                <td>$35 | PKR 3850</td>
                <td>$45 | PKR 4950</td>
              </tr>
            </tbody>
          </table>
        </div>
    <% else %>
        <div class="field">


          <% if @degrees.any?  %>
              <% @degrees.each do |degree| %>
                  <%= check_box_tag 'degrees[]', degree.id -%><%=degree.name %><br>

                  <div id="<%=degree.id %>" style="display: none">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Course Name</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>

                      <% @courses[degree.id].each do |course| %>
                          <tr>
                            <td> <%=course.name %></td>
                            <td> <%= check_box_tag 'courses[]', course.id -%></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>

                  </div>
              <% end %>
          <% else %>
              <div class="field">
                <%= label_tag "No degree available" %><br />
              </div>
          <% end %>
        </div>
        <div class="field">
          <%= label_tag :student_amount %><br />
          <%= text_field_tag :student_amount %>
        </div>
    <% end %>


    <div class="actions">
      <%#= f.submit "Sign up", class: 'btn btn-inverse' %>
    </div>
<% end %>


<script type="text/javascript">
  $( document ).ready(function(){
    degree_id = $("#select_degree").val();
       // alert(degree_id);
    $.ajax({
      url: '/user/get_courses_by_degree_id?degree_id=' + degree_id,
      type: 'get',
      dataType: 'html',
      processData: false,
      success: function (data) {
        $('#selected_course').html(data);
      },
      error: function (data) {
        alert("Error Occurred");
      }
    });
  })

    $("#select_degree").change(function(){
        degree_id = $(this).val();
       // alert(degree_id);
        $.ajax({
            url: '/user/get_courses_by_degree_id?degree_id=' + degree_id,
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {
                $('#selected_course').html(data);
            },
            error: function (data) {
                alert("Error Occurred");
            }
        });
//        $("#courses_container").show();
//        $(".course_all").show();
//      $(".course_"+$this.attr("id")).show();
    });


    $('input[value="<%= get_degrees[0].id %>"').change(function(){
      $('#<%= get_degrees[0].id %>').toggle();
    });
    $('input[value="<%= get_degrees[1].id %>"').change(function(){
      $('#<%= get_degrees[1].id %>').toggle();
    });
    $('input[value="<%= get_degrees[2].id %>"').change(function(){
      $('#<%= get_degrees[2].id %>').toggle();
    });
    $('input[value="<%= get_degrees[3].id %>"').change(function(){
      $('#<%= get_degrees[3].id %>').toggle();
    });


</script>