<div class="login-page">
  <a class="login-logo" href="#"><%= image_tag 'logo.png'%></a>
  <div class="login-page-holder">
    <h2>Sign up</h2>

    <div id="select_role_div">
      <select name="user[role]" id="user_role">
        <option value="student" selected="selected">Student</option>
        <option value="teacher">Teacher</option>
        <option value="institute">Institute</option>
        <option value="visiting">Visiting</option>
      </select>
    </div>
    <br>
    <div class="main_container_steps" id="example-basic">
      <h3></h3>
      <section>
        <%= form_for(resource, :as=> resource_name,remote: true, :url=> "/save_form_1",html: {id: 'sign_up_form'}) do |f| %>
            <% [:alert, :notice].select { |type| !flash[type].blank? }.each do |type| %>
                <p style="color: red"><%= flash[type] %></p>
            <% end %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, :autofocus=> true %>
              <span id="email_error" style="display:none;color:#cc0000"></span>
            </div>

            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name  %>
              <span id="name_error" style="display:none;color:#cc0000"></span>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @validatable %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, :autocomplete=> "off" %>
              <span id="password_error" style="display:none;color:#cc0000"></span>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, :autocomplete=> "off" %>
              <span id="pass_confirm_error" style="display:none;color:#cc0000"></span>
            </div>
            <div class="field">
              <%= hidden_field_tag :role, "5" %>

            </div>

        <% end %>
      </section>
      <h3></h3>
      <section>

      </section>

      <h3></h3>
      <section>
        <div id="greet"></div>
        <br><br>
        <a class="actions buttons" id="button" style="font-size:15px" href="/user/my_profile" id="user_profile">User Profile</a>  |
        <a class="actions buttons" id="button" style="font-size:15px" href="/"  id="home_page">  Home Page</a>  |
        <a class="actions buttons" id="button" style="font-size:15px" href="/pricing" id="els_packages">  ELS Packages</a>
      </section>

      <h3></h3>
      <section>

      </section>

    </div>

    </div>
</div>



<script type="text/javascript">


    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true,
        onStepChanging: function (event, currentIndex, newIndex)
        {
            if(currentIndex == 0){   ///// step 1 to 2 ////
              $('#email_error').hide();
              $('#name_error').hide();
              $('#password_error').hide();
              $('#pass_confirm_error').hide();
              if($('#user_email').val() == "")
              {
                $('#email_error').text("* Email Required");
                $('#email_error').show();
              }
              else if(!validateEmail($('#user_email').val()))
              {
                $('#email_error').text("*Enter a valid email");
                $('#email_error').show();
              }
              else if($('#user_name').val() == "")
              {
                $('#name_error').text("*Name Required");
                $('#name_error').show();
              }
              else if($('#user_password').val() == "")
              {
                $('#password_error').text("*Password Required");
                $('#password_error').show();
              }
              else if($('#user_password').val().length < 8)
              {
                $('#password_error').text("*Password must contain atleast 8 characters");
                $('#password_error').show();
              }
              else if($('#user_password_confirmation').val() != $('#user_password').val())
              {
                $('#pass_confirm_error').text("*Password Don't match");
                $('#pass_confirm_error').show();
              }
              else
              {
                $("#select_role_div").hide();

                  $.ajax({
                    url: '/save_form_1?role='+$("#role").val()+"&user[email]="+$('#user_email').val()
                    +"&user[name]="+$('#user_name').val()+"&user[password]="+$('#user_password').val()
                        +"&user[password_confirmation]="+$('#user_password_confirmation').val(),
                  method: "POST",
                  success: function(data) {
                    $("#example-basic-p-1").html(data);
                    $('.actions > ul > li:first-child').attr('style', 'display:none');
                  },
                  error: function(data) {

                  }
                });
                return true;
                $('#example-basic-t-0 > span').text('1');
                $('#example-basic-t-1 > span').text('2');
                $('#example-basic-t-2 > span').text('3');
                $('.wizard > .steps > ul > li > a').attr('style', 'border-radius: 47.5%');
                $('.wizard > .steps > ul > li > a > span').attr('style', 'padding-left: 22px; font-size:20px');
              }
            }
            else if(currentIndex == 1){ ///// step 2 to 3 ////
              $('#course_error').hide();
              $('#certification_error').hide();
              if($('#select_degree').val() == "")
              {
                $('#certification_error').text("* Select a Certification");
                $('#certification_error').show();
              }
              else if(!$('#courses_:checked').serialize())
              {
                var courses = $('#courses_:checked').map(function() {
                  return this.value;
                }).get();
                alert(courses);
                $('#course_error').text("* Select a Course");
                $('#course_error').show();
              }
              else
              {
                var courses = $('#courses_:checked').map(function() {
                  return this.value;
                }).get();
                var degrees = $('#degrees_:checked').map(function() {
                  return this.value;
                }).get();
                $.ajax({
                  url: '/save_form_2?institute='+$('#institute').val()+"&phone="+$('#phone').val()+
                        "&degree_id="+$("#select_degree").val()+"&courses="+courses+"&degrees=" + degrees,
                  method: "POST",
                  success: function(data) {
                    $("#example-basic-p-2").html(data);
                    $('.wizard > .steps > ul > li > a').attr('style', 'border-radius: 47.5%');
                  },
                  error: function(data) {
                    alert("courses");
                  }
                });
                return true;
              }
            }
            else if(currentIndex == 2){
              var packages = $('input[type="radio"]:checked').map(function() {
                return this.name + ":" + this.value;
              }).get();
              $.ajax({
                url: "/save_form_3?packages=" + packages,
                method: "POST",
                success: function(data){
                  $('.actions').attr('style', 'display:none');
                  $("#example-basic-p-3").html(data);
                }
              });
              return true;
            }
        },
        onFinishing: function (event, currentIndex)
        {

        },
        onFinished: function (event, currentIndex)
        {

        }
    });

    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    $(document).ready(function() {
      $('#example-basic-t-0 > span').text('1');
      $('#example-basic-t-1 > span').text('2');
      $('#example-basic-t-2 > span').text('3');
      $('.wizard > .steps > ul > li > a').attr('style', 'border-radius: 47.5%');
      $('.wizard > .steps > ul > li > a > span').attr('style', 'padding-left: 22px; font-size:20px');
    })



        $("#user_role").change(function(){
            $this = $(this)

          if($(this).val() == "teacher")
          {
              $("#role").val("<%=get_teacher_role%>");
              $('#greet').html("<p>Thank you for registering with E-Learning Services</p>");
          }
          else
          {
              $(".main_container_steps").show();
              $this = $(this);
              if($this.val() == 'student'){
              $("#role").val("<%=get_student_role%>");
              $('#greet').html("<p>Thank you for registering with E-Learning Services</p>");
            }
            else if($this.val() == 'visiting'){
              $("#role").val("<%=get_visiting_teacher_role%>");
              $('#greet').html("<p>Thank you for registering with E-Learning Services</p>");

            }
            else{
              $("#role").val("<%=get_institute_role%>");
              $('#greet').html("<p>Please contact at info@elslearn.com to get yourself registered as an institute and get a separate fully-functional educational web-portal for your students, thank you!</p>");
            }
          }
        });
</script>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

<style>
  .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
</style>
